Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add WowItem.PrimaryStat column
  frontend/components/journal/Journal.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/data/item-class.ts
  frontend/stores/journal.ts
  frontend/types/data/journal.ts
  frontend/types/enums/primary-stat.ts
  frontend/utils/journal/get-filtered-items.ts
  src/Wowthing.Backend/Converters/OutJournalEncounterItemConverter.cs
  src/Wowthing.Backend/Data/ItemExpansions.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/DumpItemSparse.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounter.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItem.cs
  src/Wowthing.Lib/Data/ArmorClassMask.cs
  src/Wowthing.Lib/Data/CharacterClass.cs
  src/Wowthing.Lib/Data/PrimaryStats.cs
  src/Wowthing.Lib/Enums/WowArmorSubclass.cs
  src/Wowthing.Lib/Enums/WowCharacterClassMask.cs
  src/Wowthing.Lib/Enums/WowStat.cs
  src/Wowthing.Lib/Enums/WowWeaponSubclass.cs
  src/Wowthing.Lib/Migrations/20211207015753_Add_WowItem_PrimaryStat.Designer.cs
  src/Wowthing.Lib/Migrations/20211207015753_Add_WowItem_PrimaryStat.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Castle Nathria weapon token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Dedupe journal overall/tier/instance stats
  frontend/stores/journal.ts
Due: none

Dedupe item expansions when creating journal data
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Add progress bar above journal sidebar
  frontend/components/journal/JournalSidebar.svelte
Due: none

Prep for the rest of the tokens, ugh
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add some option buttons to the top of Journal display
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/scss/collections.scss
  frontend/scss/container.scss
  frontend/scss/global.scss
  frontend/stores/local-storage/index.ts
  frontend/stores/local-storage/journal.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Default journalStore.highlightMissing to true
  frontend/stores/local-storage/journal.ts
Due: none

Fix journal difficulty collapsing
  frontend/components/journal/JournalItem.svelte
Due: none

Tweaks to faded journal items
  frontend/components/journal/JournalItem.svelte
Due: none

Promote "Journal" out of under construction
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Add type grouping to journal
  frontend/components/collections/CollectionCount.svelte
  frontend/components/journal/Journal.svelte
  frontend/components/journal/JournalGroup.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/scss/collections.scss
  frontend/stores/journal.ts
  frontend/stores/local-storage/journal.ts
  frontend/types/data/journal.ts
  frontend/types/enums/armor-subclass.ts
  frontend/types/enums/index.ts
  frontend/types/enums/item-class.ts
  frontend/utils/journal/get-filtered-items.ts
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounter.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItemGroup.cs
Due: backend-build, backend-deploy

Add "hidden" transmog drops to relevant raid bosses
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Fix wrong TS type
  frontend/components/journal/JournalGroup.svelte
Due: none

Fix logic around journal collected/missing toggles
  frontend/components/journal/JournalGroup.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/stores/journal.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Add a hacky fix for Warglaives of Azzinoth pointing to the wrong appearance IDs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Add the ability to ignore encounter item drops
  src/Wowthing.Backend/Data/IgnoredJournalItems.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Remove The First Satyr's Spaulders from ExtraItemDrops, it's in the journal
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
Due: backend-build, backend-deploy

Add Hyjal/BT armor token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Split cloaks out into separate journal category
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Lib/Enums/WowInventoryType.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Kara/Gruul/Magtheridon and SSC/TK token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add Timewalking journal filter
  frontend/components/journal/JournalInstance.svelte
  frontend/stores/local-storage/journal.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Use simple arrays for more journal data to reduce JSON size
  frontend/stores/journal.ts
  frontend/types/data/journal.ts
  src/Wowthing.Backend/Converters/OutJournalEncounterConverter.cs
  src/Wowthing.Backend/Converters/OutJournalEncounterItemConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounter.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItem.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItemGroup.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalInstance.cs
Due: backend-build, backend-deploy

Add more tier token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Fix the ✔ on collected journal items blocking tooltips
  frontend/components/journal/JournalItem.svelte
Due: none

Add Mage Tower transmog sets
  data/transmog/z6/misc.yml
Due: none

Add journal encounter/instance/tier names to string imports
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Lib/Enums/StringType.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add multi-language support for Journal
  frontend/components/journal/Journal.svelte
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update JS dependencies
  frontend/yarn.lock
Due: none

Fix broken journal JSON retrieval
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
Due: web-build, web-deploy

Use SluggyUnidecode to slugify things
  src/Wowthing.Lib/Extensions/StringExtensions.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

Handle non-existent paths in getSavedRoute
  frontend/utils/get-saved-route.ts
Due: none

Try a fix for the weird duplicate item bug
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Fix StaticDataReputation constructor order
  frontend/types/static-data.ts
Due: none

Categorize mounts
  data/mounts/misc/_misc.yml
  data/mounts/unavailable/unavailable.yml
  data/mounts/z7/_battle_for_azeroth.yml
Due: none

Change default tooltip placement to left
  frontend/components/zone-maps/ZoneMapsThing.svelte
  frontend/utils/tippy.ts
Due: none

Add ignored currencies list
  src/Wowthing.Backend/Data/IgnoredCurrencies.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add sorting to Currencies and Reputations
  data/reputations/misc.yml
  data/reputations/racial.yml
  data/reputations/z0_vanilla.yml
  data/reputations/z1_the_burning_crusade.yml
  data/reputations/z2_wrath_of_the_lich_king.yml
  data/reputations/z3_cataclysm.yml
  data/reputations/z4_mists_of_pandaria.yml
  data/reputations/z5_warlords_of_draenor.yml
  data/reputations/z6_legion.yml
  data/reputations/z7_battle_for_azeroth.yml
  data/reputations/z8_shadowlands.yml
  frontend/components/common/TableSortedBy.svelte
  frontend/components/currencies/CurrenciesTable.svelte
  frontend/components/currencies/CurrenciesTableBody.svelte
  frontend/components/currencies/CurrenciesTableHead.svelte
  frontend/components/links/CurrencyLink.svelte
  frontend/components/reputations/ReputationsTable.svelte
  frontend/components/reputations/ReputationsTableHead.svelte
  frontend/components/reputations/ReputationsTableRow.svelte
  frontend/components/tooltips/reputation-header/TooltipReputationHeaderEntry.svelte
  frontend/components/tooltips/reputation/TooltipReputation.svelte
  frontend/stores/local-storage/currency.ts
  frontend/stores/local-storage/index.ts
  frontend/stores/local-storage/reputation.ts
  frontend/types/character.ts
  frontend/types/static-data.ts
  frontend/utils/initialize-character.ts
  src/Wowthing.Backend/Models/Data/DataReputationCategory.cs
Due: backend-build, backend-deploy

Move appearance set tooltip to left side
  frontend/components/appearances/AppearancesTableSet.svelte
Due: none
