Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix more farm oopses
  data/farms/z8/bastion.yml
  frontend/utils/get-farm-status.ts
Due: none

Add dungeon short name text to M+ table headers
  frontend/components/mythic-plus/MythicPlusTableHead.svelte
  frontend/scss/core.scss
Due: none

Lint fixes
  frontend/components/links/NpcLink.svelte
  frontend/components/tooltips/farm/TooltipFarm.svelte
  frontend/utils/get-farm-status.ts
Due: none

gitignore
  .gitignore
Due: none

Add the rest of the weapon combinations just in case
  frontend/data/character-class.ts
  frontend/types/enums/weapon-type.ts
  frontend/utils/get-farm-status.ts
Due: none

Fix skull colouring in FarmsFarm component
  frontend/components/farms/FarmsFarm.svelte
Due: none

Better fix for skull hover colouring
  frontend/components/farms/FarmsFarm.svelte
Due: none

Mythic plus table styling
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/mythic-plus/MythicPlusTable.svelte
  frontend/components/mythic-plus/MythicPlusTableHeadDungeon.svelte
  frontend/components/mythic-plus/MythicPlusTableRowDungeon.svelte
  frontend/data/dungeon.ts
Due: none

Create a fake next time period if one doesn't exist for the current time
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Change TypeScript target to ES2019
  frontend/.prettierignore
  frontend/.prettierrc.js
  frontend/svelte.config.js
  frontend/tsconfig.json
Due: none

Let's just remove prettier
  frontend/.prettierignore
  frontend/.prettierrc.js
  frontend/package.json
  frontend/yarn.lock
Due: none

Further work on M+ keystone display/tooltips/etc
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/images/AffixIcon.svelte
  frontend/components/mythic-plus/MythicPlusTable.svelte
  frontend/components/mythic-plus/MythicPlusTableRowDungeon.svelte
  frontend/components/tooltips/mythic-plus-keystone/TooltipMythicPlusKeystone.svelte
  frontend/data/dungeon.ts
  frontend/types/mythic-plus.ts
  frontend/utils/mythic-plus.ts
Due: none

Add PlayerCharacter.PlayedTotal column
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Migrations/20210923232557_Add_PlayerCharacter_PlayedTotal.Designer.cs
  src/Wowthing.Lib/Migrations/20210923232557_Add_PlayerCharacter_PlayedTotal.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix copypasta naming error in reputations
  data/reputations/z3_cataclysm.yml
Due: none

Heavily revamp how settings work
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/character-table/CharacterTableHead.svelte
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/character-table/head/Icon.svelte
  frontend/components/forms/CheckboxInput.svelte
  frontend/components/home/Table.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/RowUghQuests.svelte
  frontend/components/images/ClassIcon.svelte
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsHome.svelte
  frontend/components/settings/SettingsPrivacy.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsTransmog.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/components/settings/sections/SettingsApiKey.svelte
  frontend/components/settings/sections/SettingsGeneral.svelte
  frontend/components/settings/sections/SettingsGroupBy.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/components/settings/sections/SettingsPrivacy.svelte
  frontend/components/settings/sections/SettingsSave.svelte
  frontend/components/settings/sections/SettingsSortBy.svelte
  frontend/components/settings/sections/SettingsTransmog.svelte
  frontend/components/sidebar/Sidebar.svelte
  frontend/data/character-class.ts
  frontend/package.json
  frontend/scss/settings.scss
  frontend/scss/variables.scss
  frontend/scss/wow.scss
  frontend/types/settings.ts
  frontend/yarn.lock
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Rename Home Table components to match the rest of them
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/home/HomeCards.svelte
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/head/HomeTableHeadCovenant.svelte
  frontend/components/home/table/head/HomeTableHeadMount.svelte
  frontend/components/home/table/head/HomeTableHeadTorghast.svelte
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
  frontend/components/home/table/row/HomeTableRowMountSpeed.svelte
  frontend/components/home/table/row/HomeTableRowStatuses.svelte
  frontend/components/home/table/row/HomeTableRowTorghast.svelte
  frontend/components/home/table/row/HomeTableRowUghQuest.svelte
  frontend/components/mythic-plus/MythicPlusTableRowDungeon.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
Due: none

Fix lint issues
  frontend/components/character-table/head/Icon.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/components/forms/CheckboxInput.svelte
  frontend/components/gear/Gear.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsGeneral.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/components/settings/sections/SettingsPrivacy.svelte
  frontend/types/settings.ts
Due: none

Add settings for hiding characters
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/character-table/CharacterTableHead.svelte
  frontend/components/forms/CheckboxInput.svelte
  frontend/components/forms/GroupedCheckboxInput.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/components/settings/sections/SettingsCharacters.svelte
  frontend/components/settings/sections/SettingsSave.svelte
  frontend/components/sidebar/Sidebar.svelte
  frontend/scss/forms.scss
  frontend/types/settings.ts
  frontend/utils/get-character-table-span.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Redirect to Home when trying to access Settings on a public view
  frontend/components/settings/Settings.svelte
Due: none

Change user API endpoint to (mostly) honour privacy settings
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
