Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add CSS hack to fix Wowhead tooltips
  frontend/scss/global.scss
  frontend/scss/hacks.scss
Due: none

Store gemIds for equipped items
  frontend/types/character.ts
  frontend/utils/get-item-url.ts
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Models/API/ApiTypeId.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterEquipment.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterEquippedItems.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Finish adding Covenant Campaign progress
  data/progress/z8_shadowlands.yml
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/character-table/CharacterTableHead.svelte
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/currencies/CurrenciesTable.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/lockouts/Lockouts.svelte
  frontend/components/mythic-plus/MythicPlusTable.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/progress/ProgressTableHead.svelte
  frontend/components/reputations/ReputationsTable.svelte
  frontend/components/tooltips/progress/TooltipProgress.svelte
  frontend/scss/variables.scss
  frontend/utils/get-progress.ts
Due: none

Default progress to Shadowlands
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Fix lint issues
  frontend/components/achievements/AchievementsRecent.svelte
  frontend/components/achievements/AchievementsSidebar.svelte
  frontend/components/common/ProgressBar.svelte
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/mythic-plus/MythicPlusTable.svelte
  frontend/components/sidebar/Sidebar.svelte
  frontend/components/sidebar/SidebarEntry.svelte
  frontend/types/sidebar.ts
  frontend/types/user-data.ts
  frontend/utils/initialize-achievements.ts
Due: none

Re-add the deployment files, oops
  _magic/k8s-deployment-backend.yml
  _magic/k8s-deployment-web.yml
Due: none

Fix NRE when a character has a socket without a gem
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
Due: backend-build, backend-deploy

Add "Maw Walkers" to Chains of Domination progress
  data/progress/z8_shadowlands.yml
Due: none

Add a link to the addon on the upload page.
  src/Wowthing.Web/Views/Upload/Index.cshtml
Due: web-build, web-deploy

Fix backend error when character has no completed quests
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
Due: backend-build, backend-deploy

Use a ServiceScopeFactory and DbContextFactory in SchedulerService
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Use ToLower() instead of ToLowerInvariant() for character name, whatever culture is set on production does not lowercase a bunch of Unicode
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/appsettings.Development.json
Due: backend-build, backend-deploy

Add support for extra parameters to GenerateUri
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
Due: backend-build, backend-deploy

Disable invariant globalization in production backend image
  src/Wowthing.Backend/Dockerfile
Due: backend-build, backend-deploy

Fix -faction sort order
  frontend/utils/get-character-sort-func.ts
Due: none

Group by faction descending if sorting by faction descending
  frontend/utils/get-character-group-func.ts
Due: none

Remove debug junk
  frontend/utils/get-character-sort-func.ts
Due: none

Make group by/sort by settings ignore case
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Change PlayerCharacterAchievements to use arrays for storage
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Lib/Migrations/20210807234148_Remove_PlayerCharac~terAchievements_JSONB.Designer.cs
  src/Wowthing.Lib/Migrations/20210807234148_Remove_PlayerCharac~terAchievements_JSONB.cs
  src/Wowthing.Lib/Migrations/20210807235744_Add_PlayerCharacterAchievements_Arrays.Designer.cs
  src/Wowthing.Lib/Migrations/20210807235744_Add_PlayerCharacterAchievements_Arrays.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAchievements.cs
  src/Wowthing.Lib/Models/Query/CompletedAchievementsQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix maxLevel not saving for group by
  frontend/utils/get-character-group-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
