Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add basic Weekly - PvP column scaffolding
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/data/quests.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Error component and use it for some invalid routes
  frontend/components/common/Error.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/reputations/ReputationsTable.svelte
Due: none

Categorize
  data/mounts/_skip.yml
  data/mounts/misc/racial_alliance.yml
  data/mounts/misc/racial_horde.yml
  data/mounts/z8/unavailable.yml
  data/pets/z8/_shadowlands.yml
  data/toys/world_events/darkmoon_faire.yml
  data/toys/z8/_shadowlands.yml
  data/toys/z8/treasures.yml
Due: none

Categorize
  data/mounts/misc/racial_horde.yml
Due: none

Add PlayerCharacterAddonData.MythicPlus columns
  src/Wowthing.Lib/Migrations/20220603203613_Add_PlayerCharacterAddonData_MythicPlus.Designer.cs
  src/Wowthing.Lib/Migrations/20220603203613_Add_PlayerCharacterAddonData_MythicPlus.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add mythic+ run stats
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/mythic-plus/MythicPlus.svelte
  frontend/components/mythic-plus/MythicPlusStats.svelte
  frontend/components/mythic-plus/MythicPlusTableRowDungeon.svelte
  frontend/components/tooltips/mythic-plus-runs/TooltipMythicPlusRuns.svelte
  frontend/components/tooltips/mythic-plus-runs/TooltipMythicPlusRunsAddonData.svelte
  frontend/components/tooltips/mythic-plus-score/TooltipMythicPlusScore.svelte
  frontend/components/tooltips/raiderio-scores/TooltipRaiderioScores.svelte
  frontend/data/dungeon.ts
  frontend/scss/colours.scss
  frontend/types/character.ts
  frontend/utils/dungeon/get-run-counts.ts
  frontend/utils/dungeon/index.ts
  frontend/utils/mythic-plus.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Ascended Vigor as an acceptable weapon enchant
  frontend/data/inventory-slot.ts
Due: none

Add Archaeology profession icon
  frontend/data/icons.ts
  frontend/data/professions.ts
Due: none

Add Archaeology to secondary professions
  src/Wowthing.Backend/Data/Professions.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add Professions - Sec column
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/row/HomeTableRowProfessions.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/scss/settings.scss
  frontend/scss/variables.scss
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix lint issues
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/tooltips/mythic-plus-keystone/TooltipMythicPlusKeystone.svelte
Due: none

Update JS dependencies
  frontend/yarn.lock
Due: none

Fix missing null coalescing in professions
  frontend/components/home/table/row/HomeTableRowProfessions.svelte
Due: none

Use hardcoded 2000-01-01 00:00:00 instead of DateTime.MinValue
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Lib/Constants/MiscConstants.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonAchievements.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonData.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonMounts.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterLockouts.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Categorize
  data/mounts/unavailable/arena.yml
  data/toys/_skip.yml
  data/toys/unavailable.yml
  data/toys/world_events/feast_of_winter_veil.yml
  data/toys/z8/drops.yml
Due: none

Ugh, make DefaultDateTime explicitly UTC
  src/Wowthing.Lib/Constants/MiscConstants.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Increase API workers from 2/8 to 4/16
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

Lower account pets lock from 5 minutes to 1 minute
  src/Wowthing.Backend/Jobs/Character/CharacterPetsJob.cs
Due: backend-build, backend-deploy

Increase various scheduler penalties to reduce load
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Add warning logging if queues become large
  src/Wowthing.Backend/Services/JobQueueService.cs
Due: backend-build, backend-deploy

Set invalid character names to maximum delay_hours
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build, backend-deploy

Derp
  src/Wowthing.Backend/Services/JobQueueService.cs
Due: backend-build, backend-deploy

Add region to CharacterLog
  src/Wowthing.Backend/Jobs/JobBase.cs
Due: backend-build, backend-deploy

Increase production API rate limit
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

Don't queue more characters if the queue is already busy
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Increase minimum character request time to 15 minutes
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Add sane HTTP error logging to Character jobs
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
Due: backend-build, backend-deploy

Maybe finally fix NREs in CharacterSpecializationsJob
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
Due: backend-build, backend-deploy

Fix SchedulerService lock release
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Temporarily prioritize US characters as the EU API is slow
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Scheduler tweaks
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Increase API rate limit and low worker count
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

Update unavailable.yml
  data/mounts/z2/unavailable.yml
Due: none

Update unavailable.yml
  data/mounts/z5/unavailable.yml
Due: none

Update money.yml
  data/mounts/money.yml
Due: none

Update unavailable.yml
  data/mounts/z7/unavailable.yml
Due: none

Update unavailable.yml
  data/mounts/unavailable/unavailable.yml
Due: none

Fix resetting every character last_api_check on site login
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
Due: backend-build, backend-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
