Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Disable "Found character" span in UserUpload job
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Store gear missing enchants/gems toggle status in query string
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/gear/Gear.svelte
Due: none

Update JS dependencies
  frontend/yarn.lock
Due: none

Change pet lock fail message from Warning to Debug
  src/Wowthing.Backend/Jobs/Character/CharacterPetsJob.cs
Due: backend-build, backend-deploy

Update C# dependencies
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

Clean up backend logging
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/Base/TimerService.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build, backend-deploy

Simplify Gear component structure to help performance
  frontend/components/gear/Gear.svelte
  frontend/components/gear/GearTableRowItems.svelte
  frontend/components/gear/TableRowItem.svelte
  frontend/components/gear/TableRowItems.svelte
  frontend/components/team/Gear.svelte
  frontend/components/team/Team.svelte
Due: none

Simplify WowthingImage component, everyone can use WebP these days
  frontend/components/images/sources/WowthingImage.svelte
Due: none

Remove debug spam
  frontend/components/sidebar/Sidebar.svelte
Due: none

Move character quest data to separate API endpoint
  frontend/components/progress/Progress.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/stores/user-quests.ts
  frontend/types/character.ts
  frontend/types/data/index.ts
  frontend/types/data/user-quest.ts
  frontend/utils/get-progress.ts
  frontend/utils/initialize-character.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: web-build, web-deploy

Handle missing enchant/gem visibility in getCharacterGear function
  frontend/utils/get-character-gear.ts
Due: none

Switch Mythic+ to fancy sidebar
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/character-table/row/MythicPlusBadge.svelte
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/mythic-plus/MythicPlusSidebar.svelte
  frontend/components/mythic-plus/MythicPlusTable.svelte
  frontend/components/mythic-plus/MythicPlusTableRowUpgrade.svelte
  frontend/data/dungeon.ts
  frontend/types/mythic-plus.ts
  frontend/utils/initialize-character.ts
Due: none

Fix image alignment inside character-table flex-wrapper
  frontend/scss/character-table.scss
Due: none

Pet data updates
  data/pets/_order
  data/pets/achievements.yml
  data/pets/challenge_dungeons.yml
  data/pets/instances.yml
  data/pets/z7/_battle_for_azeroth.yml
  data/pets/z8/_shadowlands.yml
  data/pets/z8/covenants.yml
  data/pets/z8/pet_battles.yml
  data/pets/z8/rares.yml
  data/pets/z8/reputations.yml
  data/pets/z8/treasures.yml
Due: none

Add sub-sets to CollectionSidebar
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/collections/Collection.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/CollectionThing.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/types/contexts.ts
  frontend/types/index.ts
  frontend/types/params.ts
  frontend/types/user-data.ts
  frontend/utils/initialize-sets.ts
Due: none

Sanitize slugs by removing multiple hyphen runs and any leading/trailing hyphens
  src/Wowthing.Lib/Extensions/StringExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Even more pet updates
  data/pets/_order
  data/pets/misc.yml
  data/pets/money.yml
  data/pets/unavailable.yml
  data/pets/vendors.yml
  data/pets/yuck.yml
  data/pets/z0/_vanilla.yml
  data/pets/z1/_the_burning_crusade.yml
  data/pets/z2/_wrath_of_the_lich_king.yml
  data/pets/z3/pet_battles.yml
  data/pets/z4/_mists_of_pandaria.yml
  data/pets/z7/_battle_for_azeroth.yml
  data/pets/z7/instances.yml
  data/pets/z7/pet_battles.yml
  data/pets/z7/vendors.yml
Due: none

Categorize the last few mounts
  data/mounts/money.yml
Due: none

gitignore
  .gitignore
Due: none

Fix lint problems
  frontend/components/collections/Collection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/mythic-plus/MythicPlusSidebar.svelte
  frontend/components/reputations/ReputationsTable.svelte
  frontend/components/team/Gear.svelte
  frontend/components/team/Team.svelte
  frontend/types/contexts.ts
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
