Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix M+ sorting characters with no score first
  frontend/components/mythic-plus/Table.svelte
Due: none

Force settings validation when viewing any user page
  src/Wowthing.Web/ViewModels/UserViewModel.cs
Due: web-build, web-deploy

Use packed arrays for static mounts/toys
  frontend/tooltips/mythic-plus-runs/Run.svelte
  frontend/types/character.ts
  frontend/types/enums/index.ts
  frontend/types/enums/typed-array.ts
  frontend/types/user-data.ts
  frontend/utils/base64-to-dictionary.ts
  frontend/utils/initialize-character.ts
  frontend/utils/initialize-sets.ts
  frontend/utils/initialize-user.ts
  src/Wowthing.Lib/Converters/PlayerCharacterMythicPlusRunMemberConverter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlus.cs
  src/Wowthing.Lib/Utilities/SerializationUtilities.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix always forcing GroupBy/SortBy defaults to be at the start of the list
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Clean up some debug logging
  frontend/components/settings/SettingsApiKey.svelte
  frontend/utils/get-character-sort-func.ts
Due: none

Fix build-and-deploy workflow not running on merges to main
  .github/workflows/build-and-deploy.yml
Due: none

Add itemLevel to Sort By
  frontend/components/settings/SettingsSortBy.svelte
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Lint fixes
  frontend/components/collections/Collection.svelte
  frontend/types/character.ts
  frontend/utils/initialize-user.ts
Due: none

Add refreshInterval setting to enable auto-reloading of data
  frontend/components/forms/NumberInput.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/stores/user.ts
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update settings store with server-validated settings after saving
  frontend/components/settings/SettingsSave.svelte
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Clean up handling of auto-refresh
  frontend/stores/settings.ts
  frontend/stores/user.ts
Due: none

Rewrite user data store to resolve some reactivity hell
  frontend/apps/home/App.svelte
  frontend/apps/home/Sidebar.svelte
  frontend/components/character-table/Row.svelte
  frontend/components/character-table/Table.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/components/forms/NumberInput.svelte
  frontend/components/home/Cards.svelte
  frontend/components/home/Table.svelte
  frontend/components/home/card/Card.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/RowMountSpeed.svelte
  frontend/components/lockouts/Lockouts.svelte
  frontend/components/lockouts/TableGroupHead.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/stores/settings.ts
  frontend/stores/user.ts
  frontend/types/user-data.ts
  frontend/utils/get-character-group-func.ts
  frontend/utils/get-character-sort-func.ts
  frontend/utils/get-current-period-for-character.ts
  frontend/utils/initialize-sets.ts
Due: none

Remove default tippy.js delays
  frontend/utils/tippy.ts
Due: none

Fix icon positioning for elements inside flex-wrapper
  frontend/scss/core.scss
Due: none

Move --icon-margin-top variable up to tbody
  frontend/scss/character-table.scss
Due: none

Use default sortFunc for Mythic+ "This Week"
  frontend/components/mythic-plus/Table.svelte
Due: none

Add lockout tooltips
  frontend/components/lockouts/TableGroupHeadInstance.svelte
  frontend/components/lockouts/TableRowLockout.svelte
  frontend/data/difficulty.ts
  frontend/data/dungeon.ts
  frontend/scss/tooltips.scss
  frontend/scss/tooltips/lockout.scss
  frontend/tooltips/lockout/Tooltip.svelte
Due: none

Unpack achievements in initalize-user
  frontend/types/user-data.ts
  frontend/utils/base64-to-dictionary.ts
  frontend/utils/initialize-user.ts
Due: none

Import cleanups
  frontend/components/achievements/AchievementsScoreSummary.svelte
  frontend/components/settings/SettingsGroupBy.svelte
  frontend/components/settings/SettingsPrivacy.svelte
  frontend/components/settings/SettingsSortBy.svelte
  frontend/tooltips/mythic-plus-runs/Run.svelte
Due: none

Fix M+ season display when addonMap data only has one of fortified or tyrannical score
  frontend/components/mythic-plus/TableRowDungeon.svelte
Due: none

Clean up CSS width/padding goofiness
  frontend/components/character-table/Head.svelte
  frontend/components/character-table/Row.svelte
  frontend/components/character-table/head/Icon.svelte
  frontend/components/character-table/head/RaiderIo.svelte
  frontend/components/character-table/row/Gold.svelte
  frontend/components/character-table/row/VaultMythicPlus.svelte
  frontend/components/character-table/row/VaultRaid.svelte
  frontend/components/currencies/TableHeadCurrency.svelte
  frontend/components/currencies/TableRowCurrency.svelte
  frontend/components/lockouts/TableRowLockout.svelte
  frontend/components/mythic-plus/TableHeadDungeon.svelte
  frontend/components/mythic-plus/TableRowDungeon.svelte
  frontend/scss/mixins.scss
  frontend/scss/variables.scss
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
