Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

gitattributes
  .gitattributes
Due: none

Fix possible NREs in CharacterSoulbindsJob
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
Due: backend-build, backend-deploy

Maybe fix NRE in CharacterRaiderIoJob
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
Due: backend-build, backend-deploy

Fix error when StaticDataStore.fetch is called more than once
  frontend/stores/static.ts
Due: none

Remove LFS from build-and-deploy workflow
  .github/workflows/build-and-deploy.yml
Due: none

Fix error when a character has no currency data
  frontend/stores/user.ts
Due: none

Add more missing questIds for Argus zone maps
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/eredath.yml
  data/zone-maps/z6/krokuun.yml
Due: none

Add category name/percentage to appearances table header row
  frontend/components/appearances/AppearancesTableCategory.svelte
Due: none

Fix requiredQuestId for Argus zones
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/eredath.yml
  data/zone-maps/z6/krokuun.yml
Due: none

Fix Timeless Isle minimum level
  data/zone-maps/z4/timeless_isle.yml
Due: none

Add some WoD/Legion appearance sets
  data/transmog/_order
  data/transmog/z5/misc.yml
  data/transmog/z6/dungeons.yml
  data/transmog/z6/misc.yml
  data/transmog/z6/quests.yml
Due: none

Handle transmog group counts properly
  frontend/components/appearances/AppearancesTableCategory.svelte
  frontend/stores/user-transmog.ts
Due: none

Fix zone map tooltip display weirdness
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Fix appearance percentages not updating correctly
  frontend/components/appearances/AppearancesTableCategory.svelte
Due: none

Use simple arrays for more static data to reduce JSON size
  frontend/stores/static.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Converters/OutReputationConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataReputationCategory.cs
  src/Wowthing.Backend/Models/Data/OutReputation.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgressData.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogGroup.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Lib/Converters/WowRealmConverter.cs
  src/Wowthing.Lib/Models/Wow/WowRealm.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remove requiredQuestId and update questId for Hunt: Shadehounds
  data/zone-maps/z8/the_maw.yml
Due: none

Move Rusty Mechanocrawler mount to the correct category
  data/mounts/z7/drops.yml
  data/mounts/z7/instances.yml
Due: none

Add the rest of the BfA paragon rewards
  data/reputations/z7_battle_for_azeroth.yml
Due: none

Fix Unsullied (Plate) appearanceIds
  data/transmog/z6/misc.yml
Due: none

Use simple arrays for even more static data to reduce JSON size
  frontend/stores/static.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Converters/OutCollectionCategoryConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Collections/OutCollectionCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Fix some zone map errors
  data/zone-maps/z6/eredath.yml
  data/zone-maps/z6/highmountain.yml
  data/zone-maps/z6/stormheim.yml
Due: none

Use svelte-intersection-observers to only render CharacterTable rows when they are first visible
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/package.json
  frontend/yarn.lock
Due: none

Handle bi-weekly resets (eg Maw Hunts) properly
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/data/region.ts
  frontend/stores/zone-map.ts
  frontend/types/data/zone-map.ts
  frontend/types/enums/farms.ts
  frontend/types/enums/index.ts
  frontend/types/reset-time.ts
  frontend/types/zone-maps.ts
  frontend/utils/get-next-reset.ts
  src/Wowthing.Backend/Converters/OutZoneMapDropConverter.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapDrop.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapFarm.cs
  src/Wowthing.Lib/Enums/ZoneMaps.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix superfluous rowspan=1 in GearTableRowItems cells
  frontend/components/gear/GearTableRowItems.svelte
Due: none

Update Hunt: Shadehounds questId again
  data/zone-maps/z8/the_maw.yml
Due: none

Add a maxBosses override for Assault on Violet Hold
  frontend/components/lockouts/LockoutsTableRowLockout.svelte
  frontend/data/dungeon.ts
Due: none

Fix lint issues
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/gear/GearTableRowItems.svelte
Due: none

Fix LockoutsTableRowLockout error
  frontend/components/lockouts/LockoutsTableRowLockout.svelte
Due: none

Use simple arrays for some transmog data to reduce JSON size
  frontend/stores/transmog.ts
  frontend/types/data/transmog.ts
  src/Wowthing.Backend/Converters/OutTransmogSetConverter.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogGroup.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogSet.cs
Due: backend-build, backend-deploy

Update progress to handle out-of-order progression
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/tooltips/progress/TooltipProgress.svelte
  frontend/utils/get-progress.ts
Due: none

Filter out inactive accounts for zone maps
  frontend/stores/zone-map.ts
Due: none

Add Argent Tournament progress
  data/progress/_order
  data/progress/z2/_wrath_of_the_lich_king.yml
  data/progress/z2/argent_tournament.yml
Due: none

Remove requiredQuestId for Mechagon, you can just fly there and loot most stuff
  data/zone-maps/z7/mechagon.yml
Due: none

Bump CacheTransmogJob version
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
Due: backend-build, backend-deploy

Add early version of Journal
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/journal/Journal.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/components/journal/JournalSidebar.svelte
  frontend/data/difficulty.ts
  frontend/stores/index.ts
  frontend/stores/journal.ts
  frontend/stores/transmog.ts
  frontend/stores/zone-map.ts
  frontend/types/data/journal.ts
  src/Wowthing.Backend/Data/InstanceBonusIds.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
  src/Wowthing.Backend/Models/Data/DumpItemBonus.cs
  src/Wowthing.Backend/Models/Data/DumpItemModifiedAppearance.cs
  src/Wowthing.Backend/Models/Data/DumpMapDifficulty.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalEncounter.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalEncounterItem.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalEncounterXDifficulty.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalInstance.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalItemXDifficulty.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalTier.cs
  src/Wowthing.Backend/Models/Data/Journal/DumpJournalTierXInstance.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounter.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItem.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItemAppearance.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalInstance.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalItem.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalTier.cs
  src/Wowthing.Backend/Models/Data/Journal/RedisTransmogCache.cs
  src/Wowthing.Backend/Models/Redis/RedisJournalCache.cs
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Add dumps for Journal
  data/dumps/enUS/journalencounter-9.1.5.41079.csv
  data/dumps/enUS/journaltier-9.1.5.41079.csv
  data/dumps/enUS/mapdifficulty-9.1.5.41079.csv
  data/dumps/itembonus-9.1.5.41079.csv
  data/dumps/journalencounteritem-9.1.5.41079.csv
  data/dumps/journalencounterxdifficulty-9.1.5.41079.csv
  data/dumps/journalitemxdifficulty-9.1.5.41079.csv
  data/dumps/journaltierxinstance-9.1.5.41079.csv
Due: none

Categorize mounts
  data/mounts/achievements.yml
  data/mounts/world_events/argent_tournament.yml
  data/mounts/world_events/world_events.yml
  data/mounts/z2/_wrath_of_the_lich_king.yml
Due: none

Various improvements/fixes for Journal
  frontend/components/collections/CollectionSection.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/components/journal/JournalSidebar.svelte
  frontend/data/difficulty.ts
  frontend/stores/journal.ts
  frontend/types/data/index.ts
  frontend/types/data/journal.ts
  frontend/utils/get-item-url.ts
  src/Wowthing.Backend/Data/InstanceBonusIds.cs
  src/Wowthing.Backend/Data/InstanceDifficulties.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Models/Data/DumpItemSparse.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItem.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounterItemAppearance.cs
Due: backend-build, backend-deploy

Add WowItem.Quality column
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Lib/Enums/WowQuality.cs
  src/Wowthing.Lib/Migrations/20211206165524_Add_WowItem_Quality.Designer.cs
  src/Wowthing.Lib/Migrations/20211206165524_Add_WowItem_Quality.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
