Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add route saving to History
  frontend/components/history/History.svelte
Due: none

Fix IconifyIcon dimensions
  frontend/components/images/IconifyIcon.svelte
Due: none

More Sidebar messing about
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Add icon dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

Rename Sidebar component to SubSidebar
  frontend/components/achievements/AchievementsSidebar.svelte
  frontend/components/appearances/AppearancesSidebar.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/currencies/CurrenciesSidebar.svelte
  frontend/components/history/HistorySidebar.svelte
  frontend/components/items/ItemsSidebar.svelte
  frontend/components/journal/JournalSidebar.svelte
  frontend/components/mythic-plus/MythicPlusSidebar.svelte
  frontend/components/progress/ProgressSidebar.svelte
  frontend/components/reputations/ReputationsSidebar.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/sub-sidebar/SubSidebar.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
  frontend/components/teams/TeamsSidebar.svelte
  frontend/components/zone-maps/ZoneMapsSidebar.svelte
Due: none

Rename Sidebar to MainSidebar
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/apps/teams/AppTeamsSidebar.svelte
  frontend/components/main-sidebar/MainSidebar.svelte
  frontend/components/sub-sidebar/SubSidebar.svelte
  frontend/types/sidebar.ts
Due: none

Various "Winter Veil" -> "Feast of Winter Veil" renames
  data/mounts/world_events/world_events.yml
  data/pets/world_events/_world_events.yml
Due: none

Order journal items by equipped slot order
  src/Wowthing.Backend/Data/InventoryTypeOrder.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Models/Data/DumpItem.cs
  src/Wowthing.Lib/Enums/WowInventoryType.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix journal item appearance order when items are split
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Bump CacheJournalJob version
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Add Classic/Catalysm/Mists trash drops to journal
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
Due: backend-build, backend-deploy

Add TBC/Wrath trash drops to journal
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
Due: backend-build, backend-deploy

Add Firelands token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add Dragon Soul token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add BoT/BWD/TotFW token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add Naxx2/Sarth token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add Ulduar token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add Sanctified T10 token expansions
  src/Wowthing.Backend/Data/ExtraEncounters.cs
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Skip duplicate encounters in Battle of Dazar'alor
  src/Wowthing.Backend/Data/IgnoredJournalEncounter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Categorize
  data/mounts/z7/instances.yml
  data/toys/_order
  data/toys/drops.yml
  data/toys/instances.yml
  data/toys/reputations.yml
  data/toys/z6/_legion.yml
  data/toys/z6/treasures.yml
  data/toys/z7/_battle_for_azeroth.yml
  data/toys/z7/arathi_darkshore.yml
  data/toys/z7/drops.yml
  data/toys/z7/mechagon_nazjatar.yml
  data/toys/z7/vendors.yml
  data/toys/z8/_shadowlands.yml
  data/toys/z8/instances.yml
  data/transmog/_order
  data/transmog/z8/covenants.yml
  data/transmog/z8/korthia.yml
Due: none

Fix Wowhead tooltips missing currency icons
  frontend/scss/wowhead.scss
Due: none

Categorize
  data/toys/misc.yml
  data/toys/unavailable.yml
  data/toys/world_events/feast_of_winter_veil.yml
  data/toys/yuck.yml
  data/toys/z0/_vanilla.yml
  data/toys/z1/_the_burning_crusade.yml
  data/toys/z2/vendors.yml
  data/toys/z3/_cataclysm.yml
  data/toys/z4/_mists_of_pandaria.yml
  data/toys/z4/reputations.yml
  data/toys/z5/_warlords_of_draenor.yml
  data/toys/z5/treasures.yml
  data/toys/z6/_legion.yml
  data/toys/z7/_battle_for_azeroth.yml
  data/toys/z7/instances.yml
  data/toys/z7/vendors.yml
  data/toys/z8/_shadowlands.yml
Due: none

Fix overwriting covenant data in UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Rearrange base template a little
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Remove Chest2 from a Kyrian set, it doesn't seem to be collectable
  data/transmog/z8/korthia.yml
Due: none

Categorize
  data/mounts/_order
  data/mounts/unavailable/unavailable.yml
  data/mounts/z2/unavailable.yml
  data/mounts/z4/unavailable.yml
  data/mounts/z5/unavailable.yml
  data/mounts/z6/unavailable.yml
  data/mounts/z7/unavailable.yml
  data/mounts/z8/unavailable.yml
  data/toys/world_events/feast_of_winter_veil.yml
  data/transmog/z8/covenants.yml
Due: none

Move MainSidebar to edge of page
  frontend/components/main-sidebar/MainSidebar.svelte
Due: none

Add PlayerCharacterMedia model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20211222212248_Add_PlayerCharacterMedia.Designer.cs
  src/Wowthing.Lib/Migrations/20211222212248_Add_PlayerCharacterMedia.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMedia.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add CharacterMediaJob
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
  src/Wowthing.Backend/Models/API/ApiKeyValue.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacter.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterMedia.cs
  src/Wowthing.Lib/Jobs/JobType.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add decorationFunc prop to SubSidebar
  frontend/components/sub-sidebar/SubSidebar.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Add Gender enum
  frontend/components/images/RaceIcon.svelte
  frontend/types/enums/gender.ts
  frontend/types/enums/index.ts
Due: none

Add very basic Characters section
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/characters/Characters.svelte
  frontend/components/characters/CharactersSidebar.svelte
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/general/CharactersGeneral.svelte
  frontend/components/characters/general/CharactersGeneralEquipped.svelte
  frontend/components/characters/general/CharactersGeneralPaperdoll.svelte
  frontend/scss/core.scss
  frontend/types/character.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Add slug3 to MultiSlugParams
  frontend/types/params.ts
  frontend/utils/get-character-sort-func.ts
Due: none

Add PlayerCharacterSpecializations model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20211223012730_Add_PlayerCharacterSpecializations.Designer.cs
  src/Wowthing.Lib/Migrations/20211223012730_Add_PlayerCharacterSpecializations.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterSpecializations.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add CharacterSpecializationsJob
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacter.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterSpecializations.cs
Due: backend-build, backend-deploy

Add talents to static data
  frontend/types/static-data.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DumpTalent.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Loosen type restriction on ToGroupedDictioanry extension methods
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add talent dump
  data/dumps/talent-9.1.5.41359.csv
Due: none

Add character specialization info to user API
  frontend/stores/user.ts
  frontend/types/character.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Add specializations view to Characters
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/specializations/CharacterSpecializationsTalents.svelte
  frontend/components/characters/specializations/CharactersSpecializations.svelte
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
