Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

backend: fix rate limiter initialization
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Utilities/RateLimitHttpMessageHandler.cs
Due: backend-build, backend-deploy

backend: give rate limiter its own Redis connection
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Utilities/RedisUtilities.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix WowRegion enum case
  src/Wowthing.Lib/Enums/WowRegion.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix the rest of the WowRegion mess
  src/Wowthing.Backend/Jobs/Data/DataReputationFactionIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationFactionJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationTiersIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationTiersJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Lib/Enums/WowRegion.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Change job queueing to use pub/sub
  src/Wowthing.Backend/Services/JobQueueService.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Utilities/RedisUtilities.cs
Due: backend-build, backend-deploy, web-build, web-deploy

backend: change several log messages from Debug to Warning
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build, backend-deploy

Clean up some more warnings
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remove leftover debug message
  src/Wowthing.Backend/Services/JobQueueService.cs
Due: backend-build, backend-deploy

backend: fix CSV field naming
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataCurrency.cs
  src/Wowthing.Backend/Models/Data/DataCurrencyCategory.cs
  src/Wowthing.Backend/Models/Data/DataInstance.cs
  src/Wowthing.Backend/Models/Data/DataMountDump.cs
  src/Wowthing.Backend/Models/Data/DataPetDump.cs
  src/Wowthing.Backend/Models/Data/DataToyDump.cs
  src/Wowthing.Backend/Models/Data/DumpCurrencyCategory.cs
  src/Wowthing.Backend/Models/Data/DumpCurrencyTypes.cs
  src/Wowthing.Backend/Models/Data/DumpFaction.cs
  src/Wowthing.Backend/Models/Data/DumpJournalInstance.cs
  src/Wowthing.Backend/Models/Data/DumpMap.cs
  src/Wowthing.Backend/Models/Data/OutReputation.cs
Due: backend-build, backend-deploy

backend: rename more CacheStaticJob models for clarity
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DumpBattlePetSpecies.cs
  src/Wowthing.Backend/Models/Data/DumpMount.cs
  src/Wowthing.Backend/Models/Data/DumpToy.cs
  src/Wowthing.Backend/Models/Data/OutCurrency.cs
  src/Wowthing.Backend/Models/Data/OutCurrencyCategory.cs
  src/Wowthing.Backend/Models/Data/OutInstance.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

frontend: add a quick "Minimum level" setting to filter characters
  frontend/components/character-table/Table.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add ApplicationUser.LastVisit
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Migrations/20210706142615_Add_ApplicationUser_LastVisit.Designer.cs
  src/Wowthing.Lib/Migrations/20210706142615_Add_ApplicationUser_LastVisit.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Zack.EFCore.Batch.Npgsql package
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

backend: change CharacterJob to retrieve the full character object _after_ checking the API for changes
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build, backend-deploy

Various performance/scoping fixes
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Factories/WowDbContextFactory.cs
Due: backend-build, backend-deploy, web-build, web-deploy

backend: install useful dotnet tools in development Dockerfile
  src/Wowthing.Backend/development.Dockerfile
Due: backend-build, backend-deploy

Small cleanups
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Services/JobQueueService.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix Mythic+ showing last week's runs in This Week
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/mythic-plus/Sidebar.svelte
  frontend/components/mythic-plus/Table.svelte
  frontend/types/user-data.ts
  frontend/utils/get-current-period-for-character.ts
Due: none

Shadowlands Season 2 updates
  frontend/data/dungeon.ts
  frontend/data/item-level-quality.ts
  frontend/utils/get-item-level-quality.ts
Due: none

Update maxTorghastWing/mythicPlusSeason
  frontend/data/constants.ts
Due: none
