Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Implement the rest of getTransmogSpan
  frontend/utils/get-transmog-span.ts
Due: none

Calculate Vendors filters on store setup so that percentages are reactive
  frontend/apps/home/AppHome.svelte
  frontend/components/vendors/VendorsCategories.svelte
  frontend/components/vendors/VendorsGroup.svelte
  frontend/stores/user-vendors.ts
  frontend/types/data/static/vendor.ts
  frontend/utils/vendors/get-filtered-categories.ts
Due: none

Fix Settings->Auctions broken CSS
  frontend/components/settings/sections/SettingsAuctions.svelte
  frontend/scss/settings.scss
Due: none

Make label optional in NumberInput
  frontend/components/forms/NumberInput.svelte
Due: none

Add janky way to request account rename
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/components/settings/sections/SettingsAuctions.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Handle more weird cases in GetUriForUser
  src/Wowthing.Web/Services/UriService.cs
Due: web-build, web-deploy

Add some more unused PvP currencies to the skip list
  frontend/data/currencies.ts
Due: none

Remove overflow from thing-container CSS, breaks horizontal scrolling
  frontend/scss/container.scss
Due: none

Add Mythic+ score column to HomeTable
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/head/HomeTableHeadMythicPlusScore.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add missing left border to many HomeTable columns
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/character-table/row/VaultPvp.svelte
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/row/HomeTableRowStatuses.svelte
  frontend/components/home/table/row/HomeTableRowTorghast.svelte
Due: none

Add Image model
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
  src/Wowthing.Backend/Jobs/Data/DataAuctionsJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/Misc/ImageJob.cs
  src/Wowthing.Backend/Models/JobHttpResult.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/ImageFormat.cs
  src/Wowthing.Lib/Enums/ImageType.cs
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20220201012954_Add_Image.Designer.cs
  src/Wowthing.Lib/Migrations/20220201012954_Add_Image.cs
  src/Wowthing.Lib/Models/Image.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Web/Controllers/ImageController.cs
  src/Wowthing.Web/Views/Team/Details.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Create basic roles on startup
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Add BackgroundImage model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220204034005_Add_BackgroundImage.Designer.cs
  src/Wowthing.Lib/Migrations/20220204034005_Add_BackgroundImage.cs
  src/Wowthing.Lib/Models/BackgroundImage.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Include images/backgrounds in user API output
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Add early version of character background selection
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/paperdoll/CharactersPaperdoll.svelte
  frontend/components/characters/paperdoll/CharactersPaperdollConfigure.svelte
  frontend/components/characters/paperdoll/CharactersPaperdollEquipped.svelte
  frontend/scss/core.scss
  frontend/stores/user.ts
  frontend/types/background-image.ts
  frontend/types/character.ts
  frontend/types/index.ts
  frontend/types/settings.ts
  frontend/types/user-data.ts
  frontend/utils/background-thumb-url.ts
Due: none

Sort static instancesRaw by id
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add basic bonusIds for Sepulcher
  src/Wowthing.Backend/Data/InstanceBonusIds.cs
Due: backend-build, backend-deploy

Add holiday LFG fake dungeons
  frontend/data/dungeon.ts
Due: none

Categorize
  data/mounts/_order
  data/mounts/money.yml
  data/mounts/unavailable/arena.yml
  data/mounts/z8/_shadowlands.yml
  data/mounts/z8/achievements.yml
  data/mounts/z8/drops.yml
  data/mounts/z8/instances.yml
  data/mounts/z8/protoform_synthesis.yml
  data/mounts/z8/reputations.yml
  data/mounts/z8/unavailable.yml
  data/pets/_order
  data/pets/drops.yml
  data/pets/instances.yml
  data/pets/money.yml
  data/pets/pet_battles.yml
  data/pets/professions.yml
  data/pets/reputations.yml
  data/pets/unavailable.yml
  data/pets/world_events/argent_tournament.yml
  data/pets/z7/_battle_for_azeroth.yml
  data/pets/z7/drops.yml
  data/pets/z7/instances.yml
  data/pets/z7/reputations.yml
  data/pets/z8/_shadowlands.yml
  data/pets/z8/pet_battles.yml
  data/pets/z8/protoform_synthesis.yml
  data/pets/z8/quests.yml
  data/pets/z8/treasures.yml
Due: none

Fix lint issues
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/characters/paperdoll/CharactersPaperdoll.svelte
  frontend/components/mythic-plus/MythicPlusTable.svelte
Due: none

Increase API timeout to 60 seconds, EU ugh
  src/Wowthing.Backend/Program.cs
Due: backend-build, backend-deploy

Switch backend Dockerfile from Alpine to a normal Linux so that imageflow works
  src/Wowthing.Backend/Dockerfile
Due: backend-build, backend-deploy

Categorize mounts
  data/mounts/z8/_shadowlands.yml
  data/mounts/z8/instances.yml
Due: none

Add 9.2 transmog sets
  data/transmog/_order
  data/transmog/z8/pvp.yml
  data/transmog/z8/raids.yml
  data/transmog/z8/zereth_mortis.yml
Due: none

Add questId for Secret Treasure in Revendreth
  data/zone-maps/z8/revendreth.yml
Due: none

Fix Vendors group filtering with collected/missing toggles
  frontend/apps/home/AppHome.svelte
  frontend/stores/user-vendors.ts
Due: none

Add sorting to Auctions
  frontend/components/auctions/AuctionsExtraPets.svelte
  frontend/components/auctions/AuctionsMissing.svelte
  frontend/components/auctions/AuctionsView.svelte
  frontend/components/forms/RadioGroup.svelte
  frontend/data/icons.ts
  frontend/stores/local-storage/auctions.ts
Due: none

Move icons-noto to devDependencies
  frontend/package.json
Due: none

Use IntersectionObersever in Collections/Journal/Vendors
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/collections/CollectionThing.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/components/vendors/VendorsGroup.svelte
  frontend/scss/collections.scss
Due: none

Fix lint issues
  frontend/components/character-table/row/VaultPvp.svelte
  frontend/components/characters/paperdoll/CharactersPaperdollConfigure.svelte
Due: none

Update Characters->Shadowlands for width change
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulshapes.svelte
Due: none

Try loading wowhead/wowdb scripts async
  src/Wowthing.Web/Views/User/Index.cshtml
Due: web-build, web-deploy

Add The Enlightened to reputations
  data/reputations/z8_shadowlands.yml
Due: none

Make userAchievementStore.fetch not delay loading unless required
  frontend/apps/home/AppHome.svelte
  frontend/components/achievements/Achievements.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsAbominations.svelte
  frontend/components/progress/Progress.svelte
Due: none

Add Sepulcher item expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Rework character progress quests
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
  frontend/components/home/table/row/HomeTableRowUghQuest.svelte
  frontend/data/quests.ts
  frontend/stores/user-quests.ts
  frontend/types/character.ts
  frontend/types/data/user-quest.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Backend/Models/Uploads/UploadWeeklyUghQuest.cs
  src/Wowthing.Lib/Migrations/20220220221355_Rework_PlayerCharacterAddonQuests.Designer.cs
  src/Wowthing.Lib/Migrations/20220220221355_Rework_PlayerCharacterAddonQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remove debug spam
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add Sepulcher trash drops
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
Due: backend-build, backend-deploy

Update Sepulcher bonusIDs
  src/Wowthing.Backend/Data/InstanceBonusIds.cs
Due: backend-build, backend-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
