Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Also reload user quests/transmog when auto-refreshing
  frontend/stores/settings.ts
Due: none

Fix mounts/pets/toys not using localized names in zone maps
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add Zereth Mortis zone map data
  data/zone-maps/_order
  data/zone-maps/z8/zereth_mortis.yml
Due: none

Add Zereth Mortis world boss
  data/zone-maps/z8/zereth_mortis.yml
Due: none

Add Gear icon
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Add PlayerCharacter.LastApiCheck index and update scheduler query to use it properly
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Migrations/20220222015525_Add_PlayerCharacter_LastApiCheck_Index.Designer.cs
  src/Wowthing.Lib/Migrations/20220222015525_Add_PlayerCharacter_LastApiCheck_Index.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Bump item level tiers for 9.2
  frontend/data/item-level-quality.ts
Due: none

Dungeon data updates for season 7
  frontend/data/dungeon.ts
Due: none

Add tracking quest for Zereth Mortis world boss
  data/zone-maps/z8/zereth_mortis.yml
Due: none

Update JS dependencies
  frontend/yarn.lock
Due: none

Fix lint issues
  frontend/types/data/user-quest.ts
Due: none

Delay character retrieval by 10 minutes per day up to a week if user hasn't logged in lately
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Fix progress quest not showing "Get!" in all cases
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
Due: none

Fix Tazavesh dungeon order for M+
  frontend/data/dungeon.ts
Due: none

Add Weekly - Patterns home column
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Zereth Mortis to progress
  data/progress/_order
  data/progress/z8/zereth_mortis.yml
Due: none

Add minimumLevel to progress categories
  data/progress/z8/covenants.yml
  data/progress/z8/korthia.yml
  frontend/types/data/static/progress.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Progress/DataProgress.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgress.cs
Due: backend-build, backend-deploy

Don't use packed uint16 data for quests as we've gone past 65535
  frontend/stores/user-quests.ts
  frontend/types/data/user-quest.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: web-build, web-deploy

Fix achievements blowing up due to rogue Statistics
  frontend/stores/user-achievements.ts
Due: none

Add Pinned to Group By
  frontend/components/settings/sections/SettingsSortCharacters.svelte
  frontend/utils/get-character-group-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add [DNT] Byron Test Currency to ignore list
  src/Wowthing.Backend/Data/IgnoredCurrencies.cs
Due: backend-build, backend-deploy

Fix The Enlightened reputation header tooltip
  data/reputations/z8_shadowlands.yml
  frontend/data/farm.ts
Due: none

Add minimumLevel to reputation data
  data/reputations/z8_shadowlands.yml
  frontend/components/reputations/ReputationsTable.svelte
  frontend/types/data/static/reputation.ts
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataReputationCategory.cs
Due: backend-build, backend-deploy

Remove PlayerAccount.Name column
  frontend/types/account.ts
  src/Wowthing.Lib/Migrations/20220226010138_Remove_PlayerAccount_Name.Designer.cs
  src/Wowthing.Lib/Migrations/20220226010138_Remove_PlayerAccount_Name.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Web/Models/UserApiAccount.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add minimumLevel to other Shadowlands world bosses
  data/zone-maps/z8/ardenweald.yml
  data/zone-maps/z8/bastion.yml
  data/zone-maps/z8/maldraxxus.yml
Due: none

Use transmogSourcesV2 from addon data
  src/Wowthing.Backend/Models/Uploads/Upload.cs
Due: backend-build, backend-deploy

Fix group by account
  frontend/utils/get-character-group-func.ts
Due: none

Fix zone map tooltip display when all valid characters are locked
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Add Privacy->Public Accounts setting
  frontend/components/settings/sections/SettingsPrivacy.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix Privacy->Public Currencies setting
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Hide Currencies link on public view if PublicCurrencies is false
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Fix Home table group header when Public Accounts is enabled
  frontend/components/home/table/HomeTableGroupHead.svelte
Due: none

Add Dune Dominance rares to Zereth Mortis zone map
  data/zone-maps/z8/zereth_mortis.yml
Due: none

Update Zereth Mortis zone map data
  data/zone-maps/z8/zereth_mortis.yml
Due: none

Fix missing quest names in Zereth Mortis zone map data
  data/zone-maps/z8/zereth_mortis.yml
Due: none

Update to .NET 6
  src/Wowthing.Backend/Dockerfile
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Backend/development.Dockerfile
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Dockerfile
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Wowthing.Web.csproj
  src/Wowthing.Web/development.Dockerfile
Due: backend-build, backend-deploy, web-build, web-deploy

Fix most warnings in Backend
  src/Wowthing.Backend/Jobs/Data/DataAuctionsJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/DataRaiderIoScoreTiersJob.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/Data/Achievements/DumpAchievementCategory.cs
  src/Wowthing.Backend/Models/Data/Journal/RedisTransmogCache.cs
  src/Wowthing.Backend/Models/Redis/RedisJournalCache.cs
  src/Wowthing.Backend/Services/GoldSnapshotService.cs
  src/Wowthing.Backend/Utilities/DataUtilities.cs
Due: backend-build, backend-deploy
