Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Categorize Dragonflight bonuses
  data/mounts/money.yml
  data/pets/money.yml
  data/toys/money.yml
  data/toys/z8/treasures.yml
Due: none

Add --link-color to quality classes
  frontend/scss/wow.scss
Due: none

Set default link hover color to something a little less weird
  frontend/scss/core.scss
  frontend/scss/variables.scss
Due: none

Tooling updates for transmog sets
  bin/dump_transmog.py
  bin/get_sets.py
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Add Classic PvP transmog sets
  data/transmog/_order
  data/transmog/z0/pvp.yml
Due: none

Add GlobalDailies.QuestRewards column (#396)
  src/Wowthing.Backend/Data/Quests.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Migrations/20220625222957_Add_GlobalDailies_QuestRewards.Designer.cs
  src/Wowthing.Lib/Migrations/20220625222957_Add_GlobalDailies_QuestRewards.cs
  src/Wowthing.Lib/Models/Global/GlobalDailies.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix username route constraint being far too specific
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Misc/UsernameRouteConstraint.cs
Due: web-build, web-deploy

Add generic calling/emissary/etc storage and update a pile of stuff to use it (#396)
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/row/HomeTableRowDailies.svelte
  frontend/components/links/WowheadLink.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/components/tooltips/callings/TooltipCallings.svelte
  frontend/components/tooltips/dailies/TooltipDailies.svelte
  frontend/data/quests.ts
  frontend/types/data/quests.ts
  frontend/types/data/user-quest.ts
  frontend/types/user-data.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Migrations/20220626000553_Add_PlayerCharacterAddonQuests_Dailies.Designer.cs
  src/Wowthing.Lib/Migrations/20220626000553_Add_PlayerCharacterAddonQuests_Dailies.cs
  src/Wowthing.Lib/Migrations/20220626000703_Remove_PlayerCharacterAddonQuests_Callings.Designer.cs
  src/Wowthing.Lib/Migrations/20220626000703_Remove_PlayerCharacterAddonQuests_Callings.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
  src/Wowthing.Web/Controllers/API/UserQuestController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Handle missing global dailies data properly
  frontend/components/home/table/row/HomeTableRowDailies.svelte
Due: none

Update AddonQuests.Dailies column properly in UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Dailies tooltip tweaks
  frontend/components/tooltips/dailies/TooltipDailies.svelte
Due: none

Fix dailies tooltip money rewards not converting to gold
  frontend/components/tooltips/dailies/TooltipDailies.svelte
Due: none

More CSS !important removal
  frontend/scss/reputation.scss
  frontend/scss/wow.scss
Due: none

gitignore
  .gitignore
Due: none

Use --image-margin-top in IconifyIcon component
  frontend/components/images/IconifyIcon.svelte
Due: none

Add labels/tooltips for Callings/Emisarries columns (#436)
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/data/icons.ts
Due: none

Fix descriptions not showing in progress tooltips
  frontend/components/tooltips/progress/TooltipProgress.svelte
Due: none

Add missing The Kirin Tor emissary quest
  frontend/data/quests.ts
Due: none

Add mount/pet synthesis unlocks to Progress (#437)
  data/progress/z8/upgrades.yml
Due: none

Add hacky map name -> EJ instance ID to ImportDumpsJob (#438)
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Data/SkipInstances.cs
  src/Wowthing.Lib/Enums/StringType.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Use correct minimum levels for emissaries (#436)
  frontend/components/home/table/row/HomeTableRowDailies.svelte
  frontend/data/quests.ts
Due: none

Change IconifyIcon to default to scale=null and have the CSS fall back to 1
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/common/ParsedText.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/row/HomeTableRowDailies.svelte
  frontend/components/home/table/row/HomeTableRowStatuses.svelte
  frontend/components/images/IconifyIcon.svelte
Due: none

Add journal boss order override for Blackrock Foundry (#380)
  src/Wowthing.Backend/Data/JournalBossOrder.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Add Garrison Jukebox to progress (#437)
  data/progress/_order
  data/progress/z5/garrisons.yml
  data/progress/z6/argus.yml
  data/progress/z6/zone_quests.yml
  data/progress/z7/zone_quests.yml
  data/progress/z8/campaign_quests.yml
  data/progress/z8/covenants.yml
  data/progress/z8/upgrades.yml
  data/progress/z8/zone_quests.yml
Due: none

Set AddonAchievement/Criteria progress types to a default value of 1
  frontend/utils/get-progress.ts
Due: none

Use ParsedText for progress tooltip descriptions
  frontend/components/tooltips/progress/TooltipProgress.svelte
Due: none

Add missing item drop to Roogug (#377)
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
Due: backend-build, backend-deploy

Fix Characters>Shadowlands breakage due to Progress changes
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
Due: none

Give level 1 cosmetic items no primary stat even if they have one in the dumps
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemSparse.cs
Due: backend-build, backend-deploy

Add OffHand weapon capability to every class
  src/Wowthing.Lib/Data/CharacterClass.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix ParsedText icon regex being overly greedy
  frontend/components/common/ParsedText.svelte
Due: none

Add item Progress type
  frontend/types/character.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Lib/Data/ProgressItemIds.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/Team/TeamApiCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add :rocket: icon
  frontend/data/icons.ts
Due: none

Move reputation split icon support to global styles
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/progress/ProgressTableHead.svelte
  frontend/components/reputations/ReputationsTableHead.svelte
  frontend/scss/global.scss
  frontend/scss/layout/split-icon.scss
  frontend/scss/variables.scss
Due: none

Add travel progress (#368)
  data/progress/_order
  data/progress/travel.yml
  data/progress/z0/_classic.yml
  data/progress/z0/travel.yml
  data/progress/z1/_the_burning_crusade.yml
  data/progress/z1/travel.yml
  data/progress/z2/travel.yml
  data/progress/z3/_cataclysm.yml
  data/progress/z3/travel.yml
  data/progress/z4/_mists_of_pandaria.yml
  data/progress/z4/travel.yml
  data/progress/z5/travel.yml
  data/progress/z6/travel.yml
  data/progress/z7/travel.yml
Due: none

Limit user API progress items to the correct set of characters
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Apply a null CSS transform on the main div to force a new layer/HW acceleration
  frontend/scss/core.scss
Due: none

Add the ability to show a currency on progress tooltips
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/tooltips/progress/TooltipProgress.svelte
  frontend/scss/tooltips.scss
  frontend/utils/get-progress.ts
Due: none
