Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  only:
    changes:
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

#backend-deploy:
#  extends: .deploy

# Wowthing.Web
.web-only:
  only:
    changes:
      - src/Wowthing.Web/**/*
      - src/Wowthing.Lib/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add WowRealm table and API job
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataRealmIndex.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201119062605_Add_WowRealm.Designer.cs
  src/Wowthing.Lib/Migrations/20201119062605_Add_WowRealm.cs
  src/Wowthing.Lib/Models/WowRealm.cs
Due: backend-build, web-build, web-deploy

Rename WowAccount/WowCharacter models to UserAccount/UserCharacter
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20201119063008_Rename_WowAccount_and_WowCharacter.Designer.cs
  src/Wowthing.Lib/Migrations/20201119063008_Rename_WowAccount_and_WowCharacter.cs
  src/Wowthing.Lib/Models/UserAccount.cs
  src/Wowthing.Lib/Models/UserCharacter.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
Due: backend-build, web-build, web-deploy

Web: redirect to user page on login
  src/Wowthing.Web/Controllers/AuthenticationController.cs
Due: web-build, web-deploy

Rename ApiRegion to WowRegion
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Enums/WowRegion.cs
  src/Wowthing.Lib/Extensions/TaskExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Models/UserAccount.cs
  src/Wowthing.Lib/Models/WowRealm.cs
Due: backend-build, web-build, web-deploy

Add ApplicationUser.Settings
  src/Wowthing.Lib/Migrations/20201119174142_Add_ApplicationUser_Settings.Designer.cs
  src/Wowthing.Lib/Migrations/20201119174142_Add_ApplicationUser_Settings.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Controllers/UserController.cs
Due: backend-build, web-build, web-deploy

Backend: move scheduled job config from SchedulerService to the individual job classes
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
  src/Wowthing.Backend/Jobs/IScheduledJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build

Add scheduler exclusive lock so that multiple backend processes can co-exist
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, web-build, web-deploy

Backend: helps if we actually schedule DataRealmIndexJob
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
Due: backend-build

Add cached static data for things that rarely change (classes, races, realms)
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Extensions/StringExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Models/Wow/WowClass.cs
  src/Wowthing.Lib/Models/Wow/WowRace.cs
  src/Wowthing.Lib/Models/Wow/WowRealm.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, web-build, web-deploy

Replace System.Text.Json with Newtonsoft.Json before I tear my hair out
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/ApiAccessToken.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacter.cs
  src/Wowthing.Backend/Models/API/Profile/ApiAccountProfile.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, web-build, web-deploy

Web: add basic user data API
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Misc/UsernameRouteConstraint.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserApiAccount.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Web: get basic App mounting working
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/User/Index.cshtml
  src/Wowthing.Web/frontend/scss/core.scss
  src/Wowthing.Web/frontend/ts/App.svelte
  src/Wowthing.Web/frontend/ts/components/Sidebar.svelte
  src/Wowthing.Web/frontend/ts/main.ts
Due: web-build, web-deploy

Web: implement basic Svelte layout stuff
  src/Wowthing.Web/frontend/ts/App.svelte
  src/Wowthing.Web/frontend/ts/components/Sidebar.svelte
  src/Wowthing.Web/frontend/ts/routes/Home.svelte
  src/Wowthing.Web/frontend/ts/routes/Settings.svelte
  src/Wowthing.Web/frontend/ts/stores/static-store.ts
  src/Wowthing.Web/frontend/ts/utils/fetch-json.ts
  src/Wowthing.Web/package-lock.json
  src/Wowthing.Web/package.json
Due: web-build, web-deploy

Web: super basic Home table
  src/Wowthing.Web/Views/User/Index.cshtml
  src/Wowthing.Web/frontend/scss/core.scss
  src/Wowthing.Web/frontend/ts/App.svelte
  src/Wowthing.Web/frontend/ts/components/Home.svelte
  src/Wowthing.Web/frontend/ts/components/HomeCards.svelte
  src/Wowthing.Web/frontend/ts/components/HomeTable.svelte
  src/Wowthing.Web/frontend/ts/components/Settings.svelte
  src/Wowthing.Web/frontend/ts/components/Sidebar.svelte
  src/Wowthing.Web/frontend/ts/models/character.ts
  src/Wowthing.Web/frontend/ts/routes/Home.svelte
  src/Wowthing.Web/frontend/ts/stores/user-store.ts
Due: web-build, web-deploy

Web: try fixing User.Settings creation
  src/Wowthing.Web/Controllers/AuthenticationController.cs
Due: web-build, web-deploy

Web: identity really does suck
  src/Wowthing.Web/Controllers/AuthenticationController.cs
Due: web-build, web-deploy

Rename UserAccount/UserCharacter (yet again) to PlayerAccount/PlayerCharacter
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20201120165510_Rename_UserAccount_and_UserCharacter_again.Designer.cs
  src/Wowthing.Lib/Migrations/20201120165510_Rename_UserAccount_and_UserCharacter_again.cs
  src/Wowthing.Lib/Models/PlayerAccount.cs
  src/Wowthing.Lib/Models/PlayerCharacter.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, web-build, web-deploy

Backend: remove apostrophes from race icon filenames
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
Due: backend-build

Backend: fix API JSON deserialization
  src/Wowthing.Backend/Extensions/HttpResponseMessageExtensions.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, web-build, web-deploy

Move frontend from src/Wowthing.Web/frontend/ to src/frontend/
  src/Wowthing.Web/Dockerfile
  src/Wowthing.Web/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/postcss.config.js
  src/frontend/rollup.config.js
  src/frontend/scss/core.scss
  src/frontend/scss/error.scss
  src/frontend/scss/global.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/Home.svelte
  src/frontend/ts/components/HomeCards.svelte
  src/frontend/ts/components/HomeTable.svelte
  src/frontend/ts/components/Settings.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/main.ts
  src/frontend/ts/models/character.ts
  src/frontend/ts/stores/static-store.ts
  src/frontend/ts/stores/user-store.ts
  src/frontend/ts/utils/fetch-json.ts
  src/frontend/tsconfig.json
Due: web-build, web-deploy

Add sanitize.css
  src/frontend/scss/core.scss
  src/frontend/scss/global.scss
  src/frontend/scss/sanitize.scss
  src/frontend/scss/sanitize/assets.css
  src/frontend/scss/sanitize/forms.css
  src/frontend/scss/sanitize/page.css
  src/frontend/scss/sanitize/reduce-motion.css
  src/frontend/scss/sanitize/sanitize.css
  src/frontend/scss/sanitize/typography.css
Due: none

Stop the sidebar from extending forever
  src/frontend/scss/core.scss
Due: none

Use SASS variables
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/wwwroot/favicon-16x16.png
  src/Wowthing.Web/wwwroot/favicon-32x32.png
  src/Wowthing.Web/wwwroot/favicon.ico
  src/frontend/scss/core.scss
  src/frontend/scss/global.scss
  src/frontend/scss/sanitize/sanitize.css
  src/frontend/scss/variables.scss
  src/frontend/ts/components/HomeTable.svelte
  src/frontend/ts/components/Sidebar.svelte
Due: web-build, web-deploy

Frontend: add a cards option
  src/frontend/scss/core.scss
  src/frontend/scss/variables.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/HomeCards.svelte
Due: none

CI: trigger web stages for src/frontend/ too
  .gitlab-ci.yml
Due: none

Frontend: add separate sidebar links for HomeCards and HomeTable
  src/frontend/ts/App.svelte
  src/frontend/ts/components/Home.svelte
  src/frontend/ts/components/HomeCards.svelte
  src/frontend/ts/components/Sidebar.svelte
Due: none

Frontend: add getImg util and use it
  src/frontend/ts/models/character.ts
  src/frontend/ts/utils/get-img.ts
Due: none

Frontend: hopefully fix Svelte store race condition
  src/frontend/ts/models/character.ts
  src/frontend/ts/utils/get-img.ts
Due: none

Frontend: horde should be a bit more red
  src/frontend/scss/variables.scss
Due: none

Add WowTitle table and jobs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Models/API/ApiGenderString.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataTitle.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataTitleIndex.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201121171714_Add_WowTitle.Designer.cs
  src/Wowthing.Lib/Migrations/20201121171714_Add_WowTitle.cs
  src/Wowthing.Lib/Models/Wow/WowTitle.cs
Due: backend-build, web-build, web-deploy

Frontend: fix extra curly brace
  src/frontend/ts/utils/get-img.ts
Due: none

Add Discord link to footer
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/frontend/scss/core.scss
Due: web-build, web-deploy

Add some mount set data
  data/mounts/_order
  data/mounts/misc.yml
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataSetCategory.cs
  src/Wowthing.Backend/Models/Data/DataSetGroup.cs
  src/Wowthing.Backend/Models/Redis/RedisSetCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisSetGroup.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
Due: backend-build

Frotend: fix JS error when #app doesn't exist
  src/frontend/ts/main.ts
Due: none

Data: add current Mount dump
  data/dumps/mount-9.0.2.36710.csv
Due: none

Frontend: update Character for new static property names
  src/frontend/ts/models/character.ts
Due: none

Add mounts/pets/toys to sidebar
  src/frontend/ts/components/Sidebar.svelte
Due: none

Backend: copy data into built container
  .dockerignore
  src/Wowthing.Backend/Dockerfile
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build
