Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  only:
    changes:
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

#backend-deploy:
#  extends: .deploy

# Wowthing.Web
.web-only:
  only:
    changes:
      - src/Wowthing.Web/**/*
      - src/Wowthing.Lib/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

CI: maybe fix Docker layer caching
  _magic/build.yml
Due: none

CI: fix container image path
  _magic/web-deployment.yml
Due: none

CI: don't actually need an imagePullSecret when the image URL is correct
  _magic/web-deployment.yml
Due: none

CI: comment out unused secrets so k8s stops complaining
  _magic/web-deployment.yml
Due: none

Don't use HSTS or HTTPS redirection, SSL is terminated elsewhere
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Update dockerignore
  .dockerignore
Due: none

Initial JS setup
  .dockerignore
  .gitignore
  src/Wowthing.Web/package-lock.json
  src/Wowthing.Web/package.json
Due: web-build, web-deploy

Basic MVC setup
  src/Wowthing.Web/Controllers/HomeController.cs
  src/Wowthing.Web/Pages/Error.cshtml.cs
  src/Wowthing.Web/Pages/Index.cshtml.cs
  src/Wowthing.Web/Pages/Privacy.cshtml
  src/Wowthing.Web/Pages/Privacy.cshtml.cs
  src/Wowthing.Web/Pages/Shared/_ValidationScriptsPartial.cshtml
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/ViewModels/ErrorViewModel.cs
  src/Wowthing.Web/Views/Home/Index.cshtml
  src/Wowthing.Web/Views/Shared/Error.cshtml
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/_ViewImports.cshtml
  src/Wowthing.Web/Views/_ViewStart.cshtml
  src/Wowthing.Web/Wowthing.Web.csproj.user
Due: web-build, web-deploy

Remove random VS file
  src/Wowthing.Web/Wowthing.Web.csproj.user
Due: web-build, web-deploy

gitignore
  .gitignore
Due: none

Add JS garbage for Rollup/Svelte/Typescript
  .gitignore
  src/Wowthing.Web/frontend/ts/main.ts
  src/Wowthing.Web/package-lock.json
  src/Wowthing.Web/package.json
  src/Wowthing.Web/rollup.config.js
  src/Wowthing.Web/tsconfig.json
Due: web-build, web-deploy

Add frontend building stuff to Dockerfile
  src/Wowthing.Web/Dockerfile
Due: web-build, web-deploy

More fighting with Rollup/Svelte
  .gitignore
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/frontend/ts/App.svelte
  src/Wowthing.Web/frontend/ts/main.ts
  src/Wowthing.Web/rollup.config.js
  src/Wowthing.Web/wwwroot/js/site.js
Due: web-build, web-deploy

Empty layout
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Get a reasonable layout working
  src/Wowthing.Web/Properties/launchSettings.json
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Wowthing.Web.csproj
  src/Wowthing.Web/frontend/scss/global.scss
  src/Wowthing.Web/frontend/ts/App.svelte
  src/Wowthing.Web/package-lock.json
  src/Wowthing.Web/package.json
  src/Wowthing.Web/rollup.config.js
Due: web-build, web-deploy

Basic user controller/view
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Views/User/Index.cshtml
  src/Wowthing.Web/frontend/ts/main.ts
Due: web-build, web-deploy

Add some super basic BattleNet OAuth authentication
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Extensions/HttpContextExtensions.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Views/Authentication/Login.cshtml
  src/Wowthing.Web/Wowthing.Web.csproj
Due: web-build, web-deploy

Add cache headers for compiled assets in production
  src/Wowthing.Web/Extensions/IApplicationBuilderExtensions.cs
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Fix Svelte app target
  src/Wowthing.Web/frontend/ts/main.ts
Due: web-build, web-deploy

CI: update build stage to hopefully cache multi-stage builds properly
  _magic/build.yml
Due: none

CI: tag Docker images as :sha-full_sha instead of :short_sha
  _magic/build.yml
  _magic/deploy.yml
Due: none

README
  README.md
Due: none

Sigh3
  src/Wowthing.Lib/sigh.csproj
Due: backend-build, web-build, web-deploy

Basic Backend solution
  Wowthing.Backend.sln
  src/Wowthing.Backend/Controllers/WeatherForecastController.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Properties/launchSettings.json
  src/Wowthing.Backend/Startup.cs
  src/Wowthing.Backend/WeatherForecast.cs
  src/Wowthing.Lib/Class1.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, web-build, web-deploy

Recreate Backend with "worker" template
  src/Wowthing.Backend/Controllers/WeatherForecastController.cs
  src/Wowthing.Backend/Dockerfile
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Properties/launchSettings.json
  src/Wowthing.Backend/Startup.cs
  src/Wowthing.Backend/WeatherForecast.cs
  src/Wowthing.Backend/Worker.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Backend/appsettings.json
  src/Wowthing.Backend/development.Dockerfile
Due: backend-build

Add Redis to backend
  src/Wowthing.Backend/Wowthing.Backend.csproj
Due: backend-build

Backend: add a simple scheduler service
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build

Backend: use Serilog for logging
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Worker.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Backend/appsettings.Development.json
  src/Wowthing.Backend/appsettings.json
Due: backend-build

Backend: re-add Dockerfiles
  src/Wowthing.Backend/Dockerfile
  src/Wowthing.Backend/development.Dockerfile
Due: backend-build

Lib: add some Redis extensions
  src/Wowthing.Lib/Class1.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, web-build, web-deploy

Backend: create and register a Redis connection
  src/Wowthing.Backend/Extensions/IHostExtensions.cs
  src/Wowthing.Backend/Models/API/ApiAccessToken.cs
  src/Wowthing.Backend/Models/BattleNetOptions.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
  src/Wowthing.Backend/Services/Base/TimerService.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Backend/appsettings.Development.json
Due: backend-build

Add EF Core analyzers to fix warnings
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, web-build, web-deploy

Lib: add Redis JsonSetAsync extension method
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
Due: backend-build, web-build, web-deploy

Add retrieval of auth token from Redis/API
  src/Wowthing.Backend/Extensions/IHostExtensions.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
Due: backend-build

Pass BattleNet__ClientID and BattleNet__ClientSecret environment variables through to backend
  docker-compose.yml
Due: none

Web: add Dockerfiles to solution
  Wowthing.Backend.sln
Due: none

README: improve info on getting it running
  README.md
Due: none

Use OS name for bin/obj so that Linux+Windows can use the same directory
  Directory.Build.props
Due: none

Pass BattleNet__ClientID and BattleNet__ClientSecret environment variables through to web
  docker-compose.yml
Due: none
