Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix Home gold header appearing even if gold isn't shown
  frontend/components/home/table/HomeTableGroupHead.svelte
Due: none

Change HomeFields default to [gold,itemlevel,covenant]
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Lint fixes
  frontend/components/forms/GroupedCheckboxInput.svelte
  frontend/components/home/card/Card.svelte
  frontend/components/sidebar/Sidebar.svelte
Due: none

Fix currencies/lockouts/mythic+ data not showing up for yourself if the relevant privacy option is enabled
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Hook up played time
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/row/HomeTableRowGold.svelte
  frontend/components/home/table/row/HomeTableRowPlayedTime.svelte
  frontend/scss/variables.scss
  frontend/types/character.ts
  frontend/utils/to-nice.ts
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Fix status icons display
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/row/HomeTableRowStatuses.svelte
Due: none

Many fixes to layout settings
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
  frontend/components/settings/sections/SettingsPrivacy.svelte
  frontend/types/settings.ts
  frontend/utils/get-farm-status.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix Torghast expiry check
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/home/table/row/HomeTableRowTorghast.svelte
Due: none

Rename Settings->Characters to Hide Characters
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsCharacters.svelte
Due: none

Lint fixes
  frontend/components/collections/CollectionThing.svelte
  frontend/components/home/table/row/HomeTableRowTorghast.svelte
Due: none

Make Progress sidebar the same width as the others
  frontend/components/progress/ProgressSidebar.svelte
Due: none

Add Account settings with API Key
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/components/settings/sections/SettingsApiKey.svelte
  frontend/components/settings/sections/SettingsCharacters.svelte
  frontend/scss/settings.scss
Due: none

Move magic settings lists to shared SettingsMagicLists component
  frontend/components/settings/SettingsMagicLists.svelte
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/types/settings.ts
Due: none

Add group by/sort by settings
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsGroupBy.svelte
  frontend/components/settings/sections/SettingsHideCharacters.svelte
  frontend/components/settings/sections/SettingsSortBy.svelte
  frontend/components/settings/sections/SettingsSortCharacters.svelte
Due: none

Lint fixes
  frontend/components/character-table/CharacterTable.svelte
Due: none

Update Upload page text
  src/Wowthing.Web/Views/Upload/Index.cshtml
Due: web-build, web-deploy

Remove Minimum Level setting, it's probably no longer needed
  frontend/components/character-table/CharacterTable.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix CharacterTable component not updating on groupBy/sortBy changes
  frontend/components/character-table/CharacterTable.svelte
  frontend/utils/get-character-group-func.ts
  frontend/utils/get-character-sort-func.ts
Due: none

Fix Gear problem box height
  frontend/components/gear/GearTableRowItems.svelte
Due: none

Add 'gold' sort order
  frontend/components/settings/sections/SettingsSortCharacters.svelte
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy
