Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix CharacterRaiderIo job replacing all scores when it only retrieved some
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
Due: backend-build, backend-deploy

Add achievement data massaging/caching/backend support
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DumpAchievement.cs
  src/Wowthing.Backend/Models/Data/DumpAchievementCategory.cs
  src/Wowthing.Backend/Models/Data/OutAchievementCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticAchievements.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Add basic initial Achievements display
  frontend/apps/home/Routes.svelte
  frontend/apps/home/Sidebar.svelte
  frontend/components/achievements/Achievements.svelte
  frontend/components/achievements/Category.svelte
  frontend/components/achievements/Sidebar.svelte
  frontend/components/achievements/Summary.svelte
  frontend/components/common/SidebarEntry.svelte
  frontend/components/sidebar/Sidebar.svelte
  frontend/components/sidebar/SidebarEntry.svelte
  frontend/package.json
  frontend/scss/variables.scss
  frontend/stores/achievements.ts
  frontend/types/achievement-data.ts
  frontend/types/index.ts
  frontend/types/sidebar.ts
  frontend/yarn.lock
Due: none

Add achievement-related dumps
  data/dumps/achievement-9.1.0.39335.csv
  data/dumps/achievement_category-9.1.0.39335.csv
  data/dumps/criteria-9.1.0.39335.csv
  data/dumps/criteriatree-9.1.0.39335.csv
  data/dumps/modifiertree-9.1.0.39335.csv
Due: none

Change API character quests to a packed byte array, cuts data size by roughly 50%
  frontend/package.json
  frontend/types/character.ts
  frontend/utils/initialize-character.ts
  frontend/yarn.lock
  src/Wowthing.Lib/Utilities/SerializationUtilities.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add completed achievements to user API
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Models/Query/CompletedAchievementsQuery.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Change RaiderIO score tier storage to be more efficient
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/types/static-data.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/DataRaiderIoScoreTiersJob.cs
  src/Wowthing.Backend/Models/Data/OutRaiderIoScoreTiers.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Fix CharacterRaiderIo job not saving updates
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
Due: backend-build, backend-deploy

More work on achievements
  frontend/.eslintrc.js
  frontend/components/achievements/Achievements.svelte
  frontend/components/achievements/AchievementsAchievement.svelte
  frontend/components/achievements/AchievementsCategory.svelte
  frontend/components/achievements/AchievementsRecent.svelte
  frontend/components/achievements/AchievementsScoreSummary.svelte
  frontend/components/achievements/AchievementsSidebar.svelte
  frontend/components/achievements/Summary.svelte
  frontend/components/common/ProgressBar.svelte
  frontend/scss/mixins.scss
  frontend/scss/sanitize/reduce-motion.css
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Add WebP images to WowthingImage component
  frontend/components/images/sources/WowthingImage.svelte
Due: none

Fix border radius in collections component
  frontend/components/collections/CollectionThing.svelte
Due: none

Use logged in user's settings instead of defaults when visiting other user pages
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
Due: web-build, web-deploy

Add mythic+ addon support
  frontend/components/mythic-plus/Table.svelte
  frontend/components/mythic-plus/TableRowDungeon.svelte
  frontend/scss/tooltips/mythic-plus.scss
  frontend/tooltips/mythic-plus-runs/AddonData.svelte
  frontend/tooltips/mythic-plus-runs/Run.svelte
  frontend/tooltips/mythic-plus-runs/Tooltip.svelte
  frontend/types/character.ts
  frontend/utils/get-mythic-plus-run-quality.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210714151716_Add_PlayerCharacterMythicPlusAddon.Designer.cs
  src/Wowthing.Lib/Migrations/20210714151716_Add_PlayerCharacterMythicPlusAddon.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlusAddon.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add highlighting of completed "ugh" quests that have yet to be turned in
  frontend/components/home/table/RowUghQuest.svelte
  frontend/scss/colours.scss
  frontend/scss/variables.scss
Due: none

Add setting to toggle WowDB/Wowhead for item links/tooltips
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionThing.svelte
  frontend/components/links/ItemLink.svelte
  frontend/components/links/NpcLink.svelte
  frontend/components/links/SpellLink.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/types/settings.ts
  frontend/utils/get-item-url.ts
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/User/Index.cshtml
Due: web-build, web-deploy

Add Group By/Sort By user settings
  frontend/components/character-table/Table.svelte
  frontend/components/forms/CheckboxInput.svelte
  frontend/components/forms/TextInput.svelte
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsApiKey.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/components/settings/SettingsGroupBy.svelte
  frontend/components/settings/SettingsHome.svelte
  frontend/components/settings/SettingsPrivacy.svelte
  frontend/components/settings/SettingsSave.svelte
  frontend/components/settings/SettingsSortBy.svelte
  frontend/scss/settings.scss
  frontend/scss/variables.scss
  frontend/types/settings.ts
  frontend/utils/get-character-group-func.ts
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Linter fixes
  frontend/components/achievements/AchievementsAchievement.svelte
  frontend/components/collections/CollectionThing.svelte
  frontend/components/common/SidebarEntry.svelte
  frontend/components/mythic-plus/Table.svelte
  frontend/components/reputations/TableRowReputation.svelte
  frontend/components/settings/SettingsGroupBy.svelte
  frontend/components/settings/SettingsSortBy.svelte
  frontend/tooltips/reputation/Tooltip.svelte
  frontend/types/static-data.ts
  frontend/utils/get-character-sort-func.ts
  frontend/utils/get-mythic-plus-run-quality.ts
  frontend/utils/to-digits.ts
Due: none

Fix a possible NRE in user index view
  src/Wowthing.Web/Views/User/Index.cshtml
Due: web-build, web-deploy

Try fixing kaboom due to no defaults on new settings
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update Torghast max wing to 11
  frontend/data/constants.ts
Due: none

Fix M+ sorting characters with no score first
  frontend/components/mythic-plus/Table.svelte
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
