Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Web: add quests to user API
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Frontend: update JS packages to latest, ugh
  .gitignore
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/rollup.config.js
  src/frontend/tsconfig.json
Due: web-build, web-deploy

Update sets to handle multiple files per category
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionSectionName.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/utils/initialize-sets.ts
Due: backend-build, backend-deploy, web-build, web-deploy

Backend: filter out unavailable pets when loading pet dump
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataPetDump.cs
Due: backend-build, backend-deploy

Data: begin categorization for pets
  data/pets/_order
  data/pets/_skip.yml
  data/pets/battle_for_azeroth.yml
  data/pets/battles/battle_for_azeroth.yml
  data/pets/battles/legion.yml
  data/pets/battles/mists_of_pandaria.yml
  data/pets/battles/the_burning_crusade.yml
  data/pets/battles/warlords_of_draenor.yml
  data/pets/battles/wrath_of_the_lich_king.yml
  data/pets/instances.yml
  data/pets/legion.yml
  data/pets/mists_of_pandaria.yml
  data/pets/professions.yml
  data/pets/the_burning_crusade.yml
  data/pets/warlords_of_draenor.yml
  data/pets/world_events.yml
  data/pets/wrath_of_the_lich_king.yml
  data/pets/yuck.yml
Due: none

Data: early toy categorization
  data/mounts/_order
  data/mounts/achievements.yml
  data/mounts/money.yml
  data/mounts/professions.yml
  data/mounts/z0_vanilla.yml
  data/mounts/z1_the_burning_crusade.yml
  data/mounts/z2_wrath_of_the_lich_king.yml
  data/mounts/z3_cataclysm.yml
  data/mounts/z4_mists_of_pandaria.yml
  data/mounts/z5_warlords_of_draenor.yml
  data/mounts/z6_legion.yml
  data/mounts/z7_battle_for_azeroth.yml
  data/mounts/z8_shadowlands.yml
  data/pets/_order
  data/pets/battles/z1_the_burning_crusade.yml
  data/pets/battles/z2_wrath_of_the_lich_king.yml
  data/pets/battles/z4_mists_of_pandaria.yml
  data/pets/battles/z5_warlords_of_draenor.yml
  data/pets/battles/z6_legion.yml
  data/pets/battles/z7_battle_for_azeroth.yml
  data/pets/yuck.yml
  data/pets/z1_the_burning_crusade.yml
  data/pets/z2_wrath_of_the_lich_king.yml
  data/pets/z3_cataclysm.yml
  data/pets/z4_mists_of_pandaria.yml
  data/pets/z5_warlords_of_draenor.yml
  data/pets/z6_legion.yml
  data/pets/z7_battle_for_azeroth.yml
  data/pets/z8_shadowlands.yml
  data/toys/_order
  data/toys/_skip.yml
  data/toys/money.yml
  data/toys/professions.yml
  data/toys/world_events.yml
  data/toys/yuck.yml
  data/toys/z4_mists_of_pandaria.yml
  data/toys/z5_warlords_of_draenor.yml
  data/toys/z6_legion.yml
  data/toys/z7_battle_for_azeroth.yml
  data/toys/z8_shadowlands.yml
Due: none

Backend: add empty separator section for "-" in set _order files
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Frontend: handle separator sections in collections
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/CollectionGroup.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/utils/initialize-sets.ts
Due: web-build, web-deploy

Frontend: automatically route to initial or saved section in collections
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/common/SubSidebar.svelte
Due: web-build, web-deploy

Lib: add the jankiest Lua to Json converter
  src/Wowthing.Lib/Extensions/StringExtensions.cs
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: tone down the collections "have" border colour
  src/frontend/ts/components/collections/CollectionThing.svelte
Due: web-build, web-deploy

Data: more toy categorization
  data/toys/_order
  data/toys/money.yml
  data/toys/professions.yml
  data/toys/unavailable.yml
  data/toys/world_events.yml
  data/toys/yuck.yml
  data/toys/z3_cataclysm.yml
  data/toys/z4_mists_of_pandaria.yml
  data/toys/z5_warlords_of_draenor.yml
  data/toys/z6_legion.yml
  data/toys/z7_battle_for_azeroth.yml
  data/toys/z8_shadowlands.yml
Due: none

Frontend: make sure the 'dist' directory exists
  src/frontend/rollup.config.js
Due: web-build, web-deploy

Data: whitespace
  data/mounts/professions.yml
  data/mounts/world_events.yml
Due: none

Frontend: recursive mkdir I guess?
  src/frontend/rollup.config.js
Due: web-build, web-deploy

Frontend: fix collection section spacing
  src/frontend/rollup.config.js
  src/frontend/ts/components/collections/CollectionSection.svelte
Due: web-build, web-deploy

Backend: fix AuthorizationService not starting if Redis doesn't have a saved auth token
  src/Wowthing.Backend/Services/AuthorizationService.cs
Due: backend-build, backend-deploy

Frontend: fix reputation error when missing some static data
  src/frontend/ts/components/reputations/ReputationTableCell.svelte
Due: web-build, web-deploy

Frontend: use component for collection count
  src/frontend/ts/components/collections/CollectionCount.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionSectionName.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
Due: web-build, web-deploy

Frontend: I suck at CSS
  src/frontend/scss/variables.scss
Due: web-build, web-deploy
