Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add Hourly/Daily data point options to Gold History
  frontend/components/forms/RadioGroup.svelte
  frontend/components/history/HistoryGold.svelte
  frontend/stores/local-storage/history.ts
Due: none

Add Show Collected/Missing to Collections
  frontend/components/collections/Collection.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/scss/options.scss
  frontend/types/contexts.ts
  frontend/types/static-data.ts
  frontend/utils/collections/get-filtered-sets.ts
  frontend/utils/collections/index.ts
Due: none

Fix lint issues
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/general/CharactersGeneral.svelte
  frontend/components/characters/general/CharactersGeneralEquipped.svelte
  frontend/components/characters/general/CharactersGeneralPaperdoll.svelte
  frontend/components/characters/specializations/CharacterSpecializationsTalents.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/components/history/HistoryGold.svelte
  frontend/components/images/IconifyIcon.svelte
Due: none

Clean up debug spam
  frontend/components/characters/specializations/CharacterSpecializationsTalents.svelte
  frontend/components/items/ItemsSearch.svelte
  frontend/utils/collections/get-filtered-sets.ts
Due: none

Add garrtalent/garrtalentrank/soulbind dumps
  data/dumps/deDE/soulbind-9.1.5.41488.csv
  data/dumps/enUS/soulbind-9.1.5.41488.csv
  data/dumps/esES/soulbind-9.1.5.41488.csv
  data/dumps/esMX/soulbind-9.1.5.41488.csv
  data/dumps/frFR/soulbind-9.1.5.41488.csv
  data/dumps/garrtalent-9.1.5.41488.csv
  data/dumps/garrtalentrank-9.1.5.41488.csv
  data/dumps/itIT/soulbind-9.1.5.41488.csv
  data/dumps/ptBR/soulbind-9.1.5.41488.csv
  data/dumps/ruRU/soulbind-9.1.5.41488.csv
Due: none

Add soulbind names to ImportDumpsJob
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/DumpSoulbind.cs
  src/Wowthing.Lib/Enums/StringType.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add dropShadow prop to IconifyIcon
  frontend/components/images/IconifyIcon.svelte
Due: none

Add soulbinds to static data
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/Covenants/DumpGarrTalent.cs
  src/Wowthing.Backend/Models/Data/Covenants/DumpGarrTalentRank.cs
  src/Wowthing.Backend/Models/Data/Covenants/DumpSoulbind.cs
  src/Wowthing.Backend/Models/Data/Covenants/DumpSoulbindUiDisplayInfo.cs
  src/Wowthing.Backend/Models/Data/Covenants/OutSoulbind.cs
  src/Wowthing.Backend/Models/Data/DumpFaction.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Add soulbind storage to PlayerCharacterShadowlands model
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterShadowlands.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add itemLevel prop to SpellLink
  frontend/components/links/SpellLink.svelte
Due: none

Improve active regexes in SubSidebarEntry
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Add soulbinduidisplayinfo dump
  data/dumps/soulbinduidisplayinfo-9.1.5.41488.csv
Due: none

Add Characters/Shadowlands view
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/general/CharactersGeneral.svelte
  frontend/components/characters/paperdoll/CharactersPaperdoll.svelte
  frontend/components/characters/paperdoll/CharactersPaperdollEquipped.svelte
  frontend/components/characters/shadowlands/CharactersShadowlands.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
  frontend/components/characters/specializations/CharacterSpecializationsTalents.svelte
Due: none

Add soulbinds to Character/StaticData types
  frontend/types/character.ts
  frontend/types/static-data.ts
Due: none

Simplify Characters view nav
  frontend/components/characters/CharactersView.svelte
Due: none

Fix Characters view nav active highlighting
  frontend/components/characters/CharactersView.svelte
Due: none

Scale large races down to fit in CharactersPaperdoll
  frontend/components/characters/paperdoll/CharactersPaperdoll.svelte
Due: none

Misc Characters styling
  frontend/components/characters/paperdoll/CharactersPaperdoll.svelte
  frontend/components/characters/specializations/CharactersSpecializations.svelte
Due: none

Remove Character.seasonBadges and initialization code
  frontend/types/character.ts
  frontend/utils/initialize-character.ts
Due: none

Remove unnecessary getRealmName usage
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/home/card/Card.svelte
  frontend/components/team/CharacterName.svelte
Due: none

Update JS dependencies
  frontend/yarn.lock
Due: none

Characters styling
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
  frontend/components/characters/specializations/CharacterSpecializationsTalents.svelte
Due: none

Always load userQuestStore
  frontend/apps/home/AppHome.svelte
  frontend/components/achievements/Achievements.svelte
  frontend/components/progress/Progress.svelte
  frontend/components/zone-maps/ZoneMaps.svelte
Due: none

Add slug4 to MultiSlugParams
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/types/params.ts
Due: none

Fix SpellLink not having a default for itemLevel prop
  frontend/components/links/SpellLink.svelte
Due: none

A whole lot more Characters work
  frontend/components/characters/Characters.svelte
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/shadowlands/CharactersShadowlands.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
Due: none

Fix lint issues
  frontend/components/characters/CharactersView.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/zone-maps/ZoneMaps.svelte
Due: none

Don't show hidden characters in Characters
  frontend/components/characters/CharactersSidebar.svelte
Due: none

Fix default covenant building names
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
Due: none

Add fancy formatting to Characters covenant information
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
Due: none

Add sorting by realm name
  frontend/components/settings/sections/SettingsSortCharacters.svelte
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remember selected tab when changing character in Characters
  frontend/components/characters/CharactersView.svelte
  frontend/stores/local-storage/characters.ts
  frontend/stores/local-storage/index.ts
Due: none

CharactersShadowlands styling
  frontend/components/characters/shadowlands/CharactersShadowlands.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/utils/left-pad.ts
Due: none

Add error state for soulbind talent rows that are unlocked but unchosen
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
  frontend/types/static-data.ts
  src/Wowthing.Backend/Data/SoulbindRenown.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Covenants/OutSoulbind.cs
Due: backend-build, backend-deploy

Promote Characters out of Under Construction
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Add Characters links to CharacterTableRow
  frontend/components/character-table/CharacterTableRow.svelte
Due: none

Add WowItem.Flags column
  src/Wowthing.Lib/Enums/WowItemFlags.cs
  src/Wowthing.Lib/Migrations/20211227195914_Add_WowItem_Flags.Designer.cs
  src/Wowthing.Lib/Migrations/20211227195914_Add_WowItem_Flags.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Cosmetic flag population to ImportDumpsJob
  src/Wowthing.Backend/Enums/WowItem.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/DumpItemSparse.cs
Due: backend-build, backend-deploy

Fix item class mask calculation for armor with no primary stat
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
