Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Make the Hide Characters "inactive checkbox has a colour" CSS Settings-wide
  frontend/components/settings/sections/SettingsHideCharacters.svelte
  frontend/scss/settings.scss
Due: none

Set data-state on CheckboxInput
  frontend/components/forms/CheckboxInput.svelte
Due: none

Fix Nurgash Muckformed zone map data
  data/zone-maps/z8/revendreth.yml
Due: none

Add auctions.ignoredRealms user setting
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsAuctions.svelte
  frontend/stores/static.ts
  frontend/types/settings.ts
  frontend/types/static-data.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Use ignored realms in auction API
  frontend/components/auctions/AuctionsView.svelte
  frontend/components/settings/sections/SettingsAuctions.svelte
  frontend/stores/static.ts
  frontend/types/static-data.ts
  frontend/utils/connected-realm-name.ts
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
Due: web-build, web-deploy

Fix lint issues
  frontend/components/characters/shadowlands/CharactersShadowlandsAbominations.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/settings/sections/SettingsAuctions.svelte
Due: none

Add auctions/extra-pets API endpoint
  src/Wowthing.Lib/Enums/ItemLocation.cs
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Handle pet items in UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add @iconify/icons-noto JS dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix home gold column width
  frontend/components/home/table/row/HomeTableRowGold.svelte
  frontend/scss/mixins.scss
  frontend/scss/variables.scss
Due: none

Add Auctions->Extra Pets view
  frontend/components/auctions/Auctions.svelte
  frontend/components/auctions/AuctionsExtraPets.svelte
  frontend/components/auctions/AuctionsMissing.svelte
  frontend/components/auctions/AuctionsSidebar.svelte
  frontend/components/auctions/AuctionsView.svelte
  frontend/data/auctions.ts
  frontend/data/icons.ts
  frontend/data/pet-breed.ts
  frontend/stores/user-auctions.ts
  frontend/types/data/user-auctions.ts
  frontend/types/enums/items.ts
  frontend/utils/pet-location-tooltip.ts
Due: none

Update JS dependencies
  frontend/yarn.lock
Due: none

Fix lint issues
  frontend/data/icons.ts
  frontend/types/data/user-auctions.ts
Due: none

Add Auctions.MinimumExtraPetsValue setting
  frontend/components/settings/sections/SettingsAuctions.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add PlayerGuild and PlayerGuildItems models
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/Upload.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Backend/Models/Uploads/UploadGuild.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220123015111_Add_PlayerGuild.Designer.cs
  src/Wowthing.Lib/Migrations/20220123015111_Add_PlayerGuild.cs
  src/Wowthing.Lib/Migrations/20220123015839_Remove_PlayerCharacter_GuildId.Designer.cs
  src/Wowthing.Lib/Migrations/20220123015839_Remove_PlayerCharacter_GuildId.cs
  src/Wowthing.Lib/Migrations/20220123015901_Add_PlayerCharacter_GuildId.Designer.cs
  src/Wowthing.Lib/Migrations/20220123015901_Add_PlayerCharacter_GuildId.cs
  src/Wowthing.Lib/Migrations/20220123021623_Add_PlayerGuildItem.Designer.cs
  src/Wowthing.Lib/Migrations/20220123021623_Add_PlayerGuildItem.cs
  src/Wowthing.Lib/Models/Player/IPlayerItem.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerGuild.cs
  src/Wowthing.Lib/Models/Player/PlayerGuildItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add guild bank pet cages to Extra Pets
  frontend/components/auctions/AuctionsExtraPets.svelte
  frontend/data/icons.ts
  frontend/types/enums/items.ts
  frontend/utils/pet-location-tooltip.ts
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
Due: web-build, web-deploy

Add PlayerAccountTransmogSources model and UserUploadJob support
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220123042521_Add_PlayerAccountTransmogSources.Designer.cs
  src/Wowthing.Lib/Migrations/20220123042521_Add_PlayerAccountTransmogSources.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Lib/Models/Player/PlayerAccountTransmogSources.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add transmog.completionistMode setting
  frontend/components/settings/sections/SettingsTransmog.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

CSS tweaks for Settings
  frontend/scss/settings.scss
Due: none

Add WowItemModifiedAppearance model and populate it
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemModifiedAppearance.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220123061745_Add_WowItemModifiedAppearance.Designer.cs
  src/Wowthing.Lib/Migrations/20220123061745_Add_WowItemModifiedAppearance.cs
  src/Wowthing.Lib/Models/Wow/WowItemModifiedAppearance.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Change PlayerAccountTransmogSources to just store a list of source IDs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/Upload.cs
  src/Wowthing.Lib/Migrations/20220123180142_Change_PlayerAccountTransmogSources.Designer.cs
  src/Wowthing.Lib/Migrations/20220123180142_Change_PlayerAccountTransmogSources.cs
  src/Wowthing.Lib/Models/Player/PlayerAccountTransmogSources.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add sources to user transmog API
  frontend/types/data/user-transmog.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserTransmogData.cs
Due: web-build, web-deploy

Prefer using database for item appearance data
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Try enabling Npgsql retry on failure
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Increase API client timeout to 30 seconds for EU garbage
  src/Wowthing.Backend/Program.cs
Due: backend-build, backend-deploy

Fix HistoryGold totals calculation
  frontend/components/history/HistoryGold.svelte
Due: none

Implement completionist mode, kinda
  frontend/components/journal/JournalItem.svelte
  frontend/stores/journal.ts
  frontend/stores/user-transmog.ts
  frontend/types/data/user-transmog.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Fix DataAuctionsJob deadlock retry
  src/Wowthing.Backend/Jobs/Data/DataAuctionsJob.cs
Due: backend-build, backend-deploy

Fix item search dropdown
  frontend/components/items/ItemsSearch.svelte
Due: none

Fix lint issues
  frontend/components/history/HistoryGold.svelte
Due: none

Disable a bunch of debug spam
  frontend/components/vendors/VendorsCategories.svelte
  frontend/stores/journal.ts
  frontend/stores/static.ts
  frontend/stores/transmog.ts
  frontend/stores/user-achievements.ts
  frontend/stores/user-history.ts
  frontend/stores/user-quests.ts
  frontend/stores/user-transmog.ts
  frontend/stores/user.ts
  frontend/stores/zone-map.ts
  frontend/utils/achievements/get-character-data.ts
Due: none

gitignore
  .gitignore
Due: none

Use guild object instead of id when updating items, id will always be 0 for new guilds
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Fix NRE when combining transmog sources
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Handle users having mount/pet IDs we don't know about
  frontend/stores/user.ts
Due: none

Update Rollup config to scrape out some dev performance
  frontend/rollup.config.js
Due: none

Don't set items to Armor/Cosmetic, it breaks armor type detection
  src/Wowthing.Backend/Data/ItemClassOverride.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Make Vendors honor transmog filters
  frontend/components/vendors/VendorsCategories.svelte
  frontend/components/vendors/VendorsGroup.svelte
  frontend/types/data/static/vendor.ts
  frontend/utils/vendors/get-filtered-categories.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Vendors/OutVendorItem.cs
Due: backend-build, backend-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
