Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add extraInstanceMap to staticStore.instances on initialization
  frontend/components/lockouts/Lockouts.svelte
  frontend/components/lockouts/LockoutsTableHeadInstance.svelte
  frontend/components/tooltips/lockout/TooltipLockout.svelte
  frontend/components/tooltips/transmog/TooltipTransmog.svelte
  frontend/data/inventory-type.ts
  frontend/stores/static.ts
  frontend/stores/user.ts
Due: none

Sort Lockouts by expansion descending, then instance short name, then difficulty short name
  frontend/components/lockouts/Lockouts.svelte
Due: none

Split Kyrian set chests into two separate entries
  data/transmog/z8/covenants.yml
Due: none

Add Azsuna and Highmountain to Legion zone maps
  data/zone-maps/z6/azsuna.yml
  data/zone-maps/z6/highmountain.yml
Due: none

Fix error when mousing over empty keystone cell
  frontend/components/tooltips/mythic-plus-keystone/TooltipMythicPlusKeystone.svelte
Due: none

Fix Flotsam info in Highmountain zone map
  data/zone-maps/z6/highmountain.yml
Due: none

Add kinda-working Home Lockouts
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/head/HomeTableHeadLockouts.svelte
  frontend/components/home/table/row/HomeTableRowLockouts.svelte
  frontend/components/lockouts/LockoutsTableRowLockout.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/stores/user.ts
  frontend/types/settings.ts
  frontend/types/user-data.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Some more work on achievements
  frontend/components/achievements/Achievements.svelte
  frontend/components/achievements/AchievementsAchievement.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaAccount.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaCharacter.svelte
  frontend/scss/core.scss
  frontend/stores/user-achievements.ts
  frontend/types/achievement-data.ts
  frontend/types/enums/criteria-type.ts
  frontend/utils/achievements/get-account-data.ts
  frontend/utils/achievements/get-character-data.ts
  frontend/utils/achievements/index.ts
  frontend/utils/get-character-name-realm.ts
  src/Wowthing.Lib/Models/Query/AchievementCriteriaQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Maybe fix app sidebar issue
  frontend/apps/home/AppHome.svelte
Due: none

Fix UserCollectionDataStore.setup when user has never uploaded toys
  frontend/stores/user-collections.ts
Due: none

Fix lint errors - Fix toys being blank
  frontend/components/lockouts/Lockouts.svelte
  frontend/stores/user-collections.ts
Due: none

Add PlayerCharacterAchievements.CriteriaCompleted and store it
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Lib/Migrations/20211031002001_Add_PlayerCharacterAchievements_CriteriaCompleted.Designer.cs
  src/Wowthing.Lib/Migrations/20211031002001_Add_PlayerCharacterAchievements_CriteriaCompleted.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAchievements.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add percentage to Transmog Sets
  frontend/apps/home/AppHome.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/transmog-sets/TransmogSets.svelte
  frontend/stores/user-transmog.ts
Due: none

More achievement poking
  frontend/components/achievements/AchievementsAchievementCriteriaCharacter.svelte
  frontend/utils/achievements/get-character-data.ts
  frontend/utils/get-character-name-realm.ts
Due: none

Rename Transmog Sets to Appearances
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/appearances/Appearances.svelte
  frontend/components/appearances/AppearancesSidebar.svelte
  frontend/components/appearances/AppearancesTable.svelte
  frontend/components/appearances/AppearancesTableCategory.svelte
  frontend/components/appearances/AppearancesTableSet.svelte
  frontend/components/tooltips/appearance-set/TooltipAppearanceSet.svelte
Due: none

Clean up store loading mess
  frontend/components/collections/Collection.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/components/zone-maps/ZoneMaps.svelte
Due: none

Lint fixes
  frontend/components/appearances/Appearances.svelte
  frontend/components/collections/Collection.svelte
Due: none

Try a fix for raider.io API
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
Due: backend-build, backend-deploy

Another small fix to achievements
  frontend/utils/achievements/get-character-data.ts
Due: none

Add completed characters to zone map tooltips
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/stores/zone-map.ts
  frontend/types/zone-maps.ts
Due: none
