Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add LanguageString model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/Language.cs
  src/Wowthing.Lib/Enums/StringType.cs
  src/Wowthing.Lib/Migrations/20211121063206_Add_LanguageString_Modify_WowItem.Designer.cs
  src/Wowthing.Lib/Migrations/20211121063206_Add_LanguageString_Modify_WowItem.cs
  src/Wowthing.Lib/Models/LanguageString.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Move data dumps containing strings to enUS
  data/dumps/enUS/achievement-9.1.5.40843.csv
  data/dumps/enUS/achievement_category-9.1.5.40843.csv
  data/dumps/enUS/battlepetspecies-9.1.5.40843.csv
  data/dumps/enUS/creature-9.1.5.40843.csv
  data/dumps/enUS/criteriatree-9.1.5.40843.csv
  data/dumps/enUS/currencycategory-9.1.5.40843.csv
  data/dumps/enUS/currencytypes-9.1.5.40843.csv
  data/dumps/enUS/faction-9.1.5.40843.csv
  data/dumps/enUS/itemnamedescription-9.1.5.40843.csv
  data/dumps/enUS/itemsparse-9.1.5.41031.csv
  data/dumps/enUS/journalinstance-9.1.5.40843.csv
  data/dumps/enUS/map-9.1.5.40843.csv
  data/dumps/enUS/mount-9.1.5.40843.csv
  data/dumps/enUS/toy-9.1.5.40843.csv
  data/dumps/enUS/transmogset-9.1.5.40843.csv
  data/dumps/enUS/transmogsetgroup-9.1.5.40843.csv
Due: none

Disable the UserUploadJob debug spam, it's a bit much when not specifically working in there
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Update dumps to 9.1.5.41079
  data/dumps/criteria-9.1.5.40843.csv
  data/dumps/criteria-9.1.5.41079.csv
  data/dumps/enUS/achievement-9.1.5.40843.csv
  data/dumps/enUS/achievement-9.1.5.41079.csv
  data/dumps/enUS/achievement_category-9.1.5.41079.csv
  data/dumps/enUS/battlepetspecies-9.1.5.40843.csv
  data/dumps/enUS/battlepetspecies-9.1.5.41079.csv
  data/dumps/enUS/creature-9.1.5.40843.csv
  data/dumps/enUS/creature-9.1.5.41079.csv
  data/dumps/enUS/criteriatree-9.1.5.40843.csv
  data/dumps/enUS/criteriatree-9.1.5.41079.csv
  data/dumps/enUS/currencycategory-9.1.5.41079.csv
  data/dumps/enUS/currencytypes-9.1.5.41079.csv
  data/dumps/enUS/faction-9.1.5.41079.csv
  data/dumps/enUS/itemnamedescription-9.1.5.41079.csv
  data/dumps/enUS/itemsparse-9.1.5.41031.csv
  data/dumps/enUS/itemsparse-9.1.5.41079.csv
  data/dumps/enUS/journalinstance-9.1.5.41079.csv
  data/dumps/enUS/map-9.1.5.40843.csv
  data/dumps/enUS/map-9.1.5.41079.csv
  data/dumps/enUS/mount-9.1.5.41079.csv
  data/dumps/enUS/toy-9.1.5.41079.csv
  data/dumps/enUS/transmogset-9.1.5.40843.csv
  data/dumps/enUS/transmogset-9.1.5.41079.csv
  data/dumps/enUS/transmogsetgroup-9.1.5.41079.csv
  data/dumps/item-9.1.5.40843.csv
  data/dumps/item-9.1.5.41079.csv
  data/dumps/itemmodifiedappearance-9.1.5.40843.csv
  data/dumps/itemmodifiedappearance-9.1.5.41079.csv
  data/dumps/modifiertree-9.1.5.40843.csv
  data/dumps/modifiertree-9.1.5.41079.csv
  data/dumps/transmogsetitem-9.1.5.40843.csv
  data/dumps/transmogsetitem-9.1.5.41079.csv
Due: none

Only need base battlepetspecies dump
  data/dumps/battlepetspecies-9.1.5.41079.csv
  data/dumps/deDE/battlepetspecies-9.1.5.41079.csv
  data/dumps/esES/battlepetspecies-9.1.5.41079.csv
  data/dumps/esMX/battlepetspecies-9.1.5.41079.csv
  data/dumps/frFR/battlepetspecies-9.1.5.41079.csv
  data/dumps/itIT/battlepetspecies-9.1.5.41079.csv
  data/dumps/ptBR/battlepetspecies-9.1.5.41079.csv
  data/dumps/ruRU/battlepetspecies-9.1.5.41079.csv
Due: none

Update Language enum
  src/Wowthing.Lib/Enums/Language.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix ItemSearch API
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Add paragon reputation storage/display
  data/reputations/z6_legion.yml
  data/reputations/z7_battle_for_azeroth.yml
  data/reputations/z8_shadowlands.yml
  frontend/components/reputations/ReputationsTable.svelte
  frontend/components/reputations/ReputationsTableHead.svelte
  frontend/components/reputations/ReputationsTableRow.svelte
  frontend/components/tooltips/reputation-header/TooltipReputationHeader.svelte
  frontend/components/tooltips/reputation-header/TooltipReputationHeaderEntry.svelte
  frontend/components/tooltips/reputation/TooltipReputation.svelte
  frontend/data/constants.ts
  frontend/scss/tooltips.scss
  frontend/scss/tooltips/reputation.scss
  frontend/types/character.ts
  frontend/types/reputation-tier.ts
  frontend/types/static-data.ts
  frontend/utils/find-reputation-tier.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Data/DataReputationCategory.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Migrations/20211122184343_Add_PlayerCharacterReputation_Paragons.Designer.cs
  src/Wowthing.Lib/Migrations/20211122184343_Add_PlayerCharacterReputation_Paragons.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterReputations.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Rename ImportItemsJob to ImportDumpsJob and set up item importing
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportItemsJob.cs
  src/Wowthing.Backend/Models/Data/DumpItem.cs
  src/Wowthing.Backend/Models/Data/DumpItemSparse.cs
  src/Wowthing.Backend/Utilities/DataUtilities.cs
  src/Wowthing.Lib/Enums/WowInventoryType.cs
  src/Wowthing.Lib/Jobs/JobType.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix WowdbImage sizing weirdness
  frontend/components/images/sources/WowdbImage.svelte
Due: none

Categorize mounts
  data/mounts/_order
  data/mounts/achievements.yml
  data/mounts/unavailable/unavailable.yml
Due: none

Add WowMount/WowPet/WowToy models
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/DumpBattlePetSpecies.cs
  src/Wowthing.Backend/Models/Data/DumpMount.cs
  src/Wowthing.Backend/Models/Data/DumpToy.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/StringType.cs
  src/Wowthing.Lib/Migrations/20211124183716_Add_WowMount_WowPet_WowToy.Designer.cs
  src/Wowthing.Lib/Migrations/20211124183716_Add_WowMount_WowPet_WowToy.cs
  src/Wowthing.Lib/Models/Wow/WowMount.cs
  src/Wowthing.Lib/Models/Wow/WowPet.cs
  src/Wowthing.Lib/Models/Wow/WowToy.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Categorize toys
  data/toys/z4/_mists_of_pandaria.yml
  data/toys/z4/quests.yml
Due: none

Add Argus progress
  data/progress/_order
  data/progress/z6/argus.yml
Due: none

Fix some more reputation icons
  data/reputations/z6_legion.yml
  data/reputations/z7_battle_for_azeroth.yml
Due: none

Add some zone map questIds for Antoran Wastes/Eredath
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/eredath.yml
Due: none

Allow multiple quest ids for zone map drops
  frontend/stores/zone-map.ts
  frontend/types/data/zone-map.ts
  src/Wowthing.Backend/Jobs/Misc/CacheZoneMapsJob.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/DataZoneMapDrop.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapDrop.cs
Due: backend-build, backend-deploy

Fix several "staff" limits that should have been "stave"
  data/zone-maps/z7/drustvar.yml
  data/zone-maps/z7/mechagon.yml
  data/zone-maps/z7/voldun.yml
Due: none

Add Reclamation Rig to Mechagon zone map
  data/zone-maps/z7/mechagon.yml
Due: none

Add some more missing zone map questIds
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/krokuun.yml
Due: none

Add creatures to ImportDumpsJob
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Use database item/mount/pet/toy data in CacheStaticJob
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Categorize misc
  data/mounts/unavailable/unavailable.yml
  data/mounts/z7/unavailable.yml
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/eredath.yml
  data/zone-maps/z7/mechagon.yml
Due: none

Add support to CacheStaticJob for saving multiple languages
  frontend/apps/home/AppHome.svelte
  frontend/components/forms/Select.svelte
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/scss/sanitize/forms.css
  frontend/types/enums/index.ts
  frontend/types/enums/language.ts
  frontend/types/fancy-store.ts
  frontend/types/settings.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Lib/Enums/Language.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Save separate static data per language
  frontend/components/zone-maps/ZoneMaps.svelte
  frontend/stores/static.ts
  frontend/types/fancy-store.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheZoneMapsJob.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Fix invalid IDs in zone maps data
  data/zone-maps/z8/bastion.yml
  data/zone-maps/z8/revendreth.yml
  data/zone-maps/z8/the_maw.yml
Due: none

Fix zone map tooltips overflowing the tooltip container
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Use user's language in item search
  frontend/components/settings/sections/SettingsAccount.svelte
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Lint fixes
  frontend/components/tooltips/reputation-header/TooltipReputationHeader.svelte
  frontend/components/tooltips/reputation-header/TooltipReputationHeaderEntry.svelte
Due: none

Manually manage attachment state in ImportDumpsJob to try to avoid OOMs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Use language-specific Wowhead domains
  frontend/components/links/AchievementLink.svelte
  frontend/components/links/CurrencyLink.svelte
  frontend/components/links/ItemLink.svelte
  frontend/components/links/NpcLink.svelte
  frontend/components/links/SpellLink.svelte
  frontend/components/links/WowheadTransmogSetLink.svelte
  frontend/utils/get-wowhead-domain.ts
Due: none

Use language-specific Wowhead domains for getItemUrl too
  frontend/utils/get-item-url.ts
Due: none

Use simple arrays for character currency data to reduce JSON size
  frontend/stores/user.ts
  frontend/types/character.ts
  src/Wowthing.Web/Converters/OutAchievementConverter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Fix namespace and filename
  src/Wowthing.Web/Converters/UserApiCharacterCurrencyConverter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Fix staticHash
  src/Wowthing.Web/ViewModels/UserViewModel.cs
Due: web-build, web-deploy

Use simple arrays for some static data to reduce JSON size
  frontend/stores/static.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Converters/OutCurrencyConverter.cs
  src/Wowthing.Backend/Converters/OutInstanceConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/OutCurrency.cs
  src/Wowthing.Backend/Models/Data/OutInstance.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapDrop.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Update JS dependencies
  frontend/yarn.lock
Due: none

Bump CacheStaticJob version
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy
