Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

frontend: big ol' pile of TS changes to improve life a little
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/characters/table/TableRowVault.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/row/RaiderIo.svelte
  src/frontend/ts/components/gear/TableRowItems.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/RaceIcon.svelte
  src/frontend/ts/components/images/SpecializationIcon.svelte
  src/frontend/ts/data/character-specialization.ts
  src/frontend/ts/data/specialization.ts
  src/frontend/ts/stores/static-store.ts
  src/frontend/ts/stores/team-store.ts
  src/frontend/ts/stores/user-store.ts
  src/frontend/ts/types/account.ts
  src/frontend/ts/types/character-specialization.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/contexts.ts
  src/frontend/ts/types/dictionary.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/settings.ts
  src/frontend/ts/types/specialization.ts
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/types/team-data.ts
  src/frontend/ts/types/user-data.ts
  src/frontend/ts/utils/fetch-json.ts
  src/frontend/ts/utils/get-mythic-plus-run-tooltip.ts
  src/frontend/ts/utils/get-mythic-plus-vault-tooltip.ts
  src/frontend/ts/utils/initialize-user.ts
  src/frontend/ts/utils/tippy.ts
  src/frontend/tsconfig.json
Due: web-build, web-deploy

frontend: highlight keys that are upgrades
  src/frontend/ts/components/common/TableIcon.svelte
  src/frontend/ts/components/common/character-table/row/Keystone.svelte
  src/frontend/ts/components/mythicplus/TableRowDungeon.svelte
Due: web-build, web-deploy

web: sort mythic+ runs so that timed come first
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

frontend: fix busted Gear table
  src/frontend/ts/components/gear/TableRowItems.svelte
Due: web-build, web-deploy

Update C# dependencies
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

backend: replace rate limiter with something possibly less broken
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Utilities/RateLimitHttpMessageHandler.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
Due: backend-build, backend-deploy

frontend: add pink star to keystone for "this key is an upgrade"
  src/frontend/scss/variables.scss
  src/frontend/ts/components/common/character-table/row/Keystone.svelte
Due: web-build, web-deploy

frontend: add prop to pass a sort function to CharacterTable
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/components/common/character-table/row/RaiderIo.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/RaceIcon.svelte
  src/frontend/ts/components/images/SpecializationIcon.svelte
  src/frontend/ts/components/mythicplus/Table.svelte
  src/frontend/ts/data/character-class.ts
  src/frontend/ts/data/character-race.ts
  src/frontend/ts/types/character-class.ts
  src/frontend/ts/types/character-race.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/utils/get-mythic-plus-run-tooltip.ts
Due: web-build, web-deploy

frontend: M+ tooltip cleanup
  src/frontend/scss/mythic-plus.scss
  src/frontend/scss/tooltips.scss
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/TableRowVault.svelte
  src/frontend/ts/components/common/character-table/row/Keystone.svelte
  src/frontend/ts/components/mythicplus/TableHeadDungeon.svelte
  src/frontend/ts/components/mythicplus/TableRowDungeon.svelte
  src/frontend/ts/data/dungeon.ts
  src/frontend/ts/types/dungeon.ts
  src/frontend/ts/utils/get-mythic-plus-run-tooltip.ts
  src/frontend/ts/utils/get-mythic-plus-vault-tooltip.ts
Due: web-build, web-deploy

add basic storage/uploading for toys
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210602042428_Add_PlayerAccountToys.Designer.cs
  src/Wowthing.Lib/Migrations/20210602042428_Add_PlayerAccountToys.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Lib/Models/Player/PlayerAccountToys.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/frontend/ts/apps/home/Sidebar.svelte
  src/frontend/ts/components/collections/Toys.svelte
  src/frontend/ts/utils/initialize-sets.ts
Due: backend-build, backend-deploy, web-build, web-deploy

data: pile of updates
  data/mounts/_order
  data/mounts/racial.yml
  data/mounts/racial/_blank.yml
  data/mounts/racial/alliance.yml
  data/mounts/racial/horde.yml
  data/mounts/racial/shared.yml
  data/mounts/unavailable/_blank.yml
  data/mounts/unavailable/arena.yml
  data/mounts/unavailable/unavailable.yml
  data/mounts/z6/legion.yml
  data/mounts/z6/order_halls.yml
  data/mounts/z7/battle_for_azeroth.yml
  data/mounts/z7/instances.yml
  data/mounts/z7/rare_spawns.yml
  data/progress/_order
  data/progress/z8_shadowlands.yml
  data/toys/_order
  data/toys/yuck.yml
  data/toys/z0_vanilla.yml
  data/toys/z1_the_burning_crusade.yml
  data/toys/z2_wrath_of_the_lich_king.yml
  data/toys/z8_shadowlands.yml
Due: none

backend: delete characters that no longer exist when updating accounts
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
Due: backend-build, backend-deploy

add character copper storage and display
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Migrations/20210604010658_Add_PlayerCharacter_Copper.Designer.cs
  src/Wowthing.Lib/Migrations/20210604010658_Add_PlayerCharacter_Copper.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/TableRowGold.svelte
  src/frontend/ts/types/character.ts
Due: backend-build, backend-deploy, web-build, web-deploy

fix some issues with generating/displaying collections
  src/Wowthing.Backend/Models/Redis/RedisSetCategory.cs
  src/frontend/scss/variables.scss
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionCount.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
Due: backend-build, backend-deploy, web-build, web-deploy

don't show gold to other users
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/types/user-data.ts
Due: web-build, web-deploy

frontend: svelte-check fixes
  src/frontend/ts/components/collections/Toys.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/components/gear/TableRowItems.svelte
  src/frontend/ts/components/mythicplus/TableRowDungeon.svelte
Due: web-build, web-deploy

frontend: fix M+ tooltip text overflow
  src/frontend/scss/vault-mythic-tooltip.scss
  src/frontend/ts/utils/get-mythic-plus-vault-tooltip.ts
Due: web-build, web-deploy

frontend: remove debugging
  src/frontend/ts/components/collections/Toys.svelte
  src/frontend/ts/types/dungeon.ts
Due: web-build, web-deploy

remove WowClass/WowRace models and related things
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210604194100_Remove_WowClass_WowRace.Designer.cs
  src/Wowthing.Lib/Migrations/20210604194100_Remove_WowClass_WowRace.cs
  src/Wowthing.Lib/Models/Wow/WowClass.cs
  src/Wowthing.Lib/Models/Wow/WowRace.cs
Due: backend-build, backend-deploy, web-build, web-deploy

backend: spit out an empty RaiderIoScoreTiers cache entry instead of null
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

backend: remove jank hardcoded character names
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build, backend-deploy
