Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Frontend: more work on Teams
  src/frontend/ts/apps/teams/App.svelte
  src/frontend/ts/apps/teams/Routes.svelte
  src/frontend/ts/apps/teams/Sidebar.svelte
  src/frontend/ts/components/common/Sidebar.svelte
  src/frontend/ts/components/team/Gear.svelte
Due: web-build, web-deploy

Frontend: even more work on Teams
  src/frontend/scss/table.scss
  src/frontend/ts/apps/teams/App.svelte
  src/frontend/ts/apps/teams/Routes.svelte
  src/frontend/ts/apps/teams/Sidebar.svelte
  src/frontend/ts/components/gear/GearItem.svelte
  src/frontend/ts/components/gear/GearItems.svelte
  src/frontend/ts/components/team/CharacterName.svelte
  src/frontend/ts/components/team/CharacterNote.svelte
  src/frontend/ts/components/team/Gear.svelte
  src/frontend/ts/components/team/Team.svelte
  src/frontend/ts/types/team-data.ts
Due: web-build, web-deploy

Backend: fix stupid logic error in DataMythicKeystonePeriodJob
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystonePeriodIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystonePeriodJob.cs
Due: backend-build, backend-deploy

Update some dependencies
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: misc styling/cleanups
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/characters/CharacterCovenant.svelte
  src/frontend/ts/components/common/TableItemLevel.svelte
  src/frontend/ts/components/gear/GearItems.svelte
  src/frontend/ts/components/team/Team.svelte
  src/frontend/ts/data/covenant.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/covenant.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/utils/initialize-character.ts
  src/frontend/ts/utils/initialize-user.ts
Due: web-build, web-deploy

Add mythic plus models and jobs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystoneSeasonIndexJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterMythicKeystoneProfile.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterMythicKeystoneProfileSeason.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataMythicKeystoneSeasonIndex.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20210118024851_Add_Mythic_Plus.Designer.cs
  src/Wowthing.Lib/Migrations/20210118024851_Add_Mythic_Plus.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlus.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlusSeason.cs
  src/Wowthing.Lib/Models/Wow/WowMythicPlusSeason.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add M+ to frontend
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlus.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/frontend/scss/variables.scss
  src/frontend/ts/apps/home/Routes.svelte
  src/frontend/ts/apps/home/Sidebar.svelte
  src/frontend/ts/components/common/TableCharacterName.svelte
  src/frontend/ts/components/common/TableCharacterNameHead.svelte
  src/frontend/ts/components/mythicplus/MythicPlus.svelte
  src/frontend/ts/components/mythicplus/MythicPlusDungeon.svelte
  src/frontend/ts/components/mythicplus/MythicPlusSidebar.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableCell.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableRow.svelte
  src/frontend/ts/data/dungeon.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/dungeon.ts
  src/frontend/ts/types/index.ts
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: add other mythic+ seasons
  src/frontend/ts/components/common/TableCharacterNameHead.svelte
  src/frontend/ts/components/common/TableItemLevel.svelte
  src/frontend/ts/components/mythicplus/MythicPlusSidebar.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableRow.svelte
  src/frontend/ts/data/dungeon.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/mythic-plus-season.ts
Due: web-build, web-deploy

frontend: add character specializations
  src/frontend/ts/components/characters/CharactersTable.svelte
  src/frontend/ts/components/characters/table/CharacterTableCovenant.svelte
  src/frontend/ts/components/common/TableCharacterName.svelte
  src/frontend/ts/components/common/TableCharacterNameHead.svelte
  src/frontend/ts/components/common/TableIcon.svelte
  src/frontend/ts/components/images/SpecializationIcon.svelte
  src/frontend/ts/components/mythicplus/MythicPlusDungeon.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableCell.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/data/playable-class.ts
  src/frontend/ts/data/role.ts
  src/frontend/ts/data/specialization.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/specialization.ts
Due: web-build, web-deploy

Update to .NET 5.0
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Backend/development.Dockerfile
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
  src/Wowthing.Web/development.Dockerfile
Due: backend-build, backend-deploy, web-build, web-deploy

web: Improve user API queries with EF Core 5 AsSplitQuery
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/appsettings.Development.json
Due: web-build, web-deploy

Add missing bits of specialization icons
  src/frontend/scss/variables.scss
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/SpecializationIcon.svelte
Due: web-build, web-deploy

Reset migrations again to fix an absolute hot mess 5.0 upgrade
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/NonBlizzard/ApiCharacterRaiderIo.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201211233814_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/20201211233814_Initial.cs
  src/Wowthing.Lib/Migrations/20201214001736_Add_PlayerCharacterEquippedItem.Designer.cs
  src/Wowthing.Lib/Migrations/20201214001736_Add_PlayerCharacterEquippedItem.cs
  src/Wowthing.Lib/Migrations/20201216050819_Add_WowPeriod.Designer.cs
  src/Wowthing.Lib/Migrations/20201216050819_Add_WowPeriod.cs
  src/Wowthing.Lib/Migrations/20201224213251_Remove_Teams.Designer.cs
  src/Wowthing.Lib/Migrations/20201224213251_Remove_Teams.cs
  src/Wowthing.Lib/Migrations/20201224222430_Add_Team_TeamCharacter.cs
  src/Wowthing.Lib/Migrations/20210118024851_Add_Mythic_Plus.cs
  src/Wowthing.Lib/Migrations/20210214225020_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/20210214225020_Initial.cs
  src/Wowthing.Lib/Migrations/20210215051749_Add_PlayerCharacterRaiderIo.Designer.cs
  src/Wowthing.Lib/Migrations/20210215051749_Add_PlayerCharacterRaiderIo.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlus.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlusSeason.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterRaiderIo.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix up even more migration mess, sigh
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210214225020_Initial.cs
  src/Wowthing.Lib/Migrations/20210215054256_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/20210215054256_Initial.cs
  src/Wowthing.Lib/Migrations/20210215074818_Add_PlayerCharacterMythicPlusSeason.Designer.cs
  src/Wowthing.Lib/Migrations/20210215074818_Add_PlayerCharacterMythicPlusSeason.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlus.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMythicPlusSeason.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: add raider.io scores to mythic+
  src/frontend/scss/variables.scss
  src/frontend/ts/components/common/TableCharacterRaiderIo.svelte
  src/frontend/ts/components/common/TableCharacterRaiderIoHead.svelte
  src/frontend/ts/components/common/TableIcon.svelte
  src/frontend/ts/components/common/TableItemLevel.svelte
  src/frontend/ts/components/images/RaiderIoIcon.svelte
  src/frontend/ts/components/images/sources/WowthingImage.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableRow.svelte
  src/frontend/ts/types/character.ts
Due: web-build, web-deploy

Web: add RaiderIo to Include chain
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Lib: fix excluded files in project
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

Update dependencies
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

Web: fix Private=true accounts not working for the actual user too
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
Due: web-build, web-deploy

Add UserSettings.Global.ShowRealm and support for it
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/common/TableCharacterName.svelte
  src/frontend/ts/components/common/TableCharacterNameHead.svelte
  src/frontend/ts/components/mythicplus/MythicPlusSidebar.svelte
  src/frontend/ts/stores/settings-store.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/settings.ts
Due: backend-build, backend-deploy, web-build, web-deploy

Add RaiderIO data retrieval/storage/display
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/DataRaiderIoScoreTiersJob.cs
  src/Wowthing.Backend/Models/API/NonBlizzard/ApiDataRaiderIoScoreTier.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/frontend/scss/variables.scss
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/characters/CharactersTable.svelte
  src/frontend/ts/components/characters/table/CharacterTableRow.svelte
  src/frontend/ts/components/common/TableCharacterRaiderIo.svelte
  src/frontend/ts/data/raider-io.ts
  src/frontend/ts/types/static-data.ts
Due: backend-build, backend-deploy, web-build, web-deploy
