Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

backend: change job queueing to have a single job queue service polling Redis and use a Channel to wake up worker services
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/JobQueueService.cs
  src/Wowthing.Backend/Services/StateService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build, backend-deploy

data: update dumps to 9.0.5.38134
  data/dumps/battlepetspecies-9.0.5.38134.csv
  data/dumps/mount-9.0.5.38134.csv
  data/dumps/toy-9.0.5.38134.csv
Due: none

data: add transmog dumps
  data/dumps/transmogset-9.0.5.38134.csv
  data/dumps/transmogsetgroup-9.0.5.38134.csv
  data/dumps/transmogsetitem-9.0.5.38134.csv
Due: none

web: add basic addon upload page
  src/Wowthing.Web/Controllers/UploadController.cs
  src/Wowthing.Web/Services/UploadService.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Views/Upload/Index.cshtml
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
Due: web-build, web-deploy

Add frontend dev Dockerfile
  docker-compose.yml
  src/frontend/development.Dockerfile
Due: web-build, web-deploy

frontend: rearrange and rename a bunch of things
  src/frontend/rollup.config.js
  src/frontend/ts/apps/home/Routes.svelte
  src/frontend/ts/apps/home/Sidebar.svelte
  src/frontend/ts/components/characters/Cards.svelte
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/characters/table/TableRowCovenant.svelte
  src/frontend/ts/components/collections/CollectionCount.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/common/CharacterCovenant.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/components/common/character-table/row/ItemLevel.svelte
  src/frontend/ts/components/common/character-table/row/MythicPlusBadge.svelte
  src/frontend/ts/components/common/character-table/row/RaiderIo.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/GearItem.svelte
  src/frontend/ts/components/mythicplus/MythicPlus.svelte
  src/frontend/ts/components/mythicplus/Sidebar.svelte
  src/frontend/ts/components/mythicplus/Table.svelte
  src/frontend/ts/components/mythicplus/TableHeadDungeon.svelte
  src/frontend/ts/components/mythicplus/TableRowDungeon.svelte
  src/frontend/ts/components/reputations/Sidebar.svelte
  src/frontend/ts/components/reputations/Table.svelte
  src/frontend/ts/components/reputations/TableHeadReputation.svelte
  src/frontend/ts/components/reputations/TableRowReputation.svelte
  src/frontend/ts/components/team/Gear.svelte
  src/frontend/ts/components/team/Team.svelte
  src/frontend/ts/components/transmog/Sidebar.svelte
  src/frontend/ts/components/transmog/Transmog.svelte
  src/frontend/ts/data/dungeon.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/utils/get-mythic-plus-run-quality.ts
  src/frontend/ts/utils/initialize-character.ts
  src/frontend/tsconfig.json
Due: web-build, web-deploy

frontend: more rearrange
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/common/CharacterCovenant.svelte
  src/frontend/ts/components/common/character-table/Head.svelte
  src/frontend/ts/components/common/character-table/head/ItemLevel.svelte
  src/frontend/ts/components/common/character-table/head/MythicPlusBadge.svelte
  src/frontend/ts/components/common/character-table/head/RaiderIo.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/TableRowItem.svelte
  src/frontend/ts/components/gear/TableRowItems.svelte
  src/frontend/ts/components/mythicplus/Table.svelte
  src/frontend/ts/components/reputations/Table.svelte
  src/frontend/ts/components/team/Gear.svelte
  src/frontend/ts/components/team/Team.svelte
Due: web-build, web-deploy

frontend: add svelte-check
  src/frontend/package.json
  src/frontend/yarn.lock
Due: web-build, web-deploy

frontend: fix various cases of passing component parameters as thing={thing}
  src/frontend/ts/components/characters/Cards.svelte
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/RaceIcon.svelte
  src/frontend/ts/components/images/SpecializationIcon.svelte
  src/frontend/ts/components/reputations/Table.svelte
  src/frontend/ts/components/reputations/TableRowReputation.svelte
Due: web-build, web-deploy

Add partly working user upload job
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/Upload.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacterMythicDungeon.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacterVault.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Web/Services/UploadService.cs
Due: backend-build, backend-deploy, web-build, web-deploy

backend: fix shutdown issues due to ignoring cancellation tokens
  src/Wowthing.Backend/Services/JobQueueService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build, backend-deploy

Add PlayerCharacterWeekly model and populate it via UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210524004729_Add_PlayerCharacterWeekly.Designer.cs
  src/Wowthing.Lib/Migrations/20210524004729_Add_PlayerCharacterWeekly.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: fix reputation variable mess
  src/frontend/ts/components/reputations/TableRowReputation.svelte
Due: web-build, web-deploy

frontend: add keystone and vault display
  src/frontend/scss/global.scss
  src/frontend/scss/vault-mythic-tooltip.scss
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/TableRowCovenant.svelte
  src/frontend/ts/components/characters/table/TableRowKeystone.svelte
  src/frontend/ts/components/characters/table/TableRowVault.svelte
  src/frontend/ts/components/common/character-table/row/ItemLevel.svelte
  src/frontend/ts/types/character.ts
  src/frontend/ts/utils/get-mythic-plus-run-quality.ts
  src/frontend/ts/utils/get-mythic-plus-vault-item-level.ts
  src/frontend/ts/utils/get-mythic-plus-vault-tooltip.ts
  src/frontend/ts/utils/initialize-sets.ts
Due: web-build, web-deploy

web: add partially working team functionality
  src/Wowthing.Web/Controllers/TeamControlller.cs
  src/Wowthing.Web/Forms/TeamAddCharacterForm.cs
  src/Wowthing.Web/Models/Team/TeamApiCharacter.cs
  src/Wowthing.Web/ViewModels/TeamViewModel.cs
  src/Wowthing.Web/Views/Team/AddCharacterForm.cshtml
  src/Wowthing.Web/Views/Team/Details.cshtml
Due: web-build, web-deploy

backend: actually create the missing CharacterWeekly row
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

backend: change Mists short version to MoTS, MTS looks weird
  src/frontend/ts/data/dungeon.ts
Due: web-build, web-deploy

frontend: add keystone to mythic+ this week/current season
  src/frontend/scss/variables.scss
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/TableRowVault.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/components/common/character-table/head/Keystone.svelte
  src/frontend/ts/components/common/character-table/row/Keystone.svelte
  src/frontend/ts/components/mythicplus/Table.svelte
Due: web-build, web-deploy

frontend: big ol' pile of TS changes to improve life a little
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/characters/table/TableRowVault.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/row/RaiderIo.svelte
  src/frontend/ts/components/gear/TableRowItems.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/RaceIcon.svelte
  src/frontend/ts/components/images/SpecializationIcon.svelte
  src/frontend/ts/data/character-specialization.ts
  src/frontend/ts/data/specialization.ts
  src/frontend/ts/stores/static-store.ts
  src/frontend/ts/stores/team-store.ts
  src/frontend/ts/stores/user-store.ts
  src/frontend/ts/types/account.ts
  src/frontend/ts/types/character-specialization.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/contexts.ts
  src/frontend/ts/types/dictionary.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/settings.ts
  src/frontend/ts/types/specialization.ts
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/types/team-data.ts
  src/frontend/ts/types/user-data.ts
  src/frontend/ts/utils/fetch-json.ts
  src/frontend/ts/utils/get-mythic-plus-run-tooltip.ts
  src/frontend/ts/utils/get-mythic-plus-vault-tooltip.ts
  src/frontend/ts/utils/initialize-user.ts
  src/frontend/ts/utils/tippy.ts
  src/frontend/tsconfig.json
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
