Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Made spacing consistent. Added skip mounts.
  data/mounts/_skip.yml
  data/mounts/achievement.yml
  data/mounts/alliance.yml
  data/mounts/horde.yml
  data/mounts/instance.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/profession.yml
  data/mounts/rare_spawn.yml
  data/mounts/reputation.yml
  data/mounts/unavailable.yml
  data/mounts/vendor.yml
Due: none

Moved invalid IDs into skip list. Fixed ordering of multiple IDs to be Alliance then Horde.
  data/mounts/_skip.yml
  data/mounts/achievement.yml
  data/mounts/alliance.yml
  data/mounts/horde.yml
  data/mounts/instance.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/unavailable.yml
  data/mounts/vendor.yml
Due: none

Data: add Legion reps
  data/reputations/_order
  data/reputations/legion.yml
Due: none

Frontend: fix getRealmName()
  src/frontend/ts/components/home/HomeCards.svelte
  src/frontend/ts/components/home/HomeTable.svelte
  src/frontend/ts/components/reputations/ReputationTableRow.svelte
  src/frontend/ts/utils/get-realm-name.ts
Due: web-build, web-deploy

More categorization.
  data/mounts/_skip.yml
  data/mounts/achievement.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/rare_spawn.yml
  data/mounts/reputation.yml
  data/mounts/unavailable.yml
  data/mounts/vendor.yml
Due: none

Data: add WoD reps
  data/reputations/_order
  data/reputations/warlords_of_draenor.yml
Due: none

Data: add MoP reps
  data/reputations/_order
  data/reputations/mists_of_pandaria.yml
  data/reputations/warlords_of_draenor.yml
Due: none

Frontend: add $link-color variable
  src/frontend/scss/core.scss
  src/frontend/scss/tooltips.scss
  src/frontend/scss/variables.scss
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableRow.svelte
Due: web-build, web-deploy

Backend: add DataReputationCategory.Note
  src/Wowthing.Backend/Models/Data/DataReputationCategory.cs
Due: backend-build, backend-deploy

Frontend: add reputation note support
  src/frontend/scss/tooltips.scss
  src/frontend/scss/variables.scss
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/reputations/ReputationTableCell.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/types/static-data.ts
Due: web-build, web-deploy

Frontend: fix reputation table styling on less-than-full-width tables
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/components/reputations/ReputationTableRow.svelte
Due: web-build, web-deploy

Data: fix MoP Tillers rep ID
  data/reputations/mists_of_pandaria.yml
Due: none

Data: add Cata reps
  data/reputations/_order
  data/reputations/cataclysm.yml
Due: none

Finished categorization.
  data/mounts/achievement.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/reputation.yml
  data/mounts/shadowlands.yml
  data/mounts/vendor.yml
Due: none

Backend: handle multiple IDs on a single line in _skip.yml files
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Data: minor whitespace
  data/mounts/_skip.yml
Due: none

Backend: add Neutral faction for weird indecisive pandas
  src/Wowthing.Lib/Enums/WowFaction.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: add sticky table header for reputation table
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/frontend/scss/core.scss
  src/frontend/scss/sanitize/sanitize.css
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/types/static-data.ts
Due: web-build, web-deploy

Add equipped item level
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/frontend/ts/components/home/HomeCards.svelte
  src/frontend/ts/components/home/HomeTable.svelte
  src/frontend/ts/types/character.ts
Due: web-build, web-deploy

Data: add Court of Night rep
  data/reputations/shadowlands.yml
Due: none

Add PlayerCharacter.ActiveSpecId
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Lib/Migrations/20201204073558_Add_PlayerCharacter_ActiveSpecId.Designer.cs
  src/Wowthing.Lib/Migrations/20201204073558_Add_PlayerCharacter_ActiveSpecId.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy
