Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  only:
    changes:
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

#backend-deploy:
#  extends: .deploy

# Wowthing.Web
.web-only:
  only:
    changes:
      - src/Wowthing.Web/**/*
      - src/Wowthing.Lib/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Even more collection/mount garbage
  data/mounts/_order
  data/mounts/achievement.yml
  data/mounts/instance.yml
  data/mounts/profession.yml
  data/mounts/rare_spawn.yml
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/frontend/scss/core.scss
  src/frontend/scss/variables.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
Due: web-build, web-deploy

More mount garbage
  data/mounts/_skip.yml
  data/mounts/alliance.yml
  data/mounts/horde.yml
  data/mounts/instance.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/profession.yml
  data/mounts/reputation.yml
  data/mounts/unavailable.yml
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/frontend/ts/components/collections/CollectionThing.svelte
Due: backend-build

Backend: increase character API general failure penalty to 4 hours
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build

Backend: fix 304 Not Modified adding delay hours
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build

Data: add Shadowlands and Battle for Azeroth reputations
  data/reputations/_order
  data/reputations/battle_for_azeroth.yml
  data/reputations/shadowlands.yml
Due: none

Backend: mess with appsettings to see if that fixes logging
  src/Wowthing.Backend/appsettings.Development.json
  src/Wowthing.Backend/appsettings.json
Due: backend-build

Frontend: reputations WIP
  src/frontend/rollup.config.js
  src/frontend/scss/variables.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/components/reputations/ReputationTableRow.svelte
  src/frontend/ts/components/reputations/Reputations.svelte
  src/frontend/ts/stores/static-store.ts
  src/frontend/ts/types/dictionary.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/static-data.ts
Due: none

Change PlayerAccount to use an auto-generated Id + unique key on (Region, AccountId)
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20201126000037_Fix_PlayerAccount_mess.Designer.cs
  src/Wowthing.Lib/Migrations/20201126000037_Fix_PlayerAccount_mess.cs
  src/Wowthing.Lib/Migrations/20201126000201_Fix_PlayerAccount_mess_2.Designer.cs
  src/Wowthing.Lib/Migrations/20201126000201_Fix_PlayerAccount_mess_2.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
Due: backend-build, web-build, web-deploy

Add some more reputations junk
  data/reputations/shadowlands.yml
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataReputationCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/appsettings.json
  src/Wowthing.Lib/Extensions/StringExtensions.cs
Due: backend-build, web-build, web-deploy

Change JobBase.GetJson to just use a stored Last-Modified time and send If-Modified-Since by default
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/JsonResult.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Migrations/20201126182902_Remove_PlayerCharacter_LastModified.Designer.cs
  src/Wowthing.Lib/Migrations/20201126182902_Remove_PlayerCharacter_LastModified.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Query/SchedulerCharacterQuery.cs
Due: backend-build, web-build, web-deploy

Frontend: fix missing top border-radius on collection section names
  src/frontend/ts/components/collections/CollectionSection.svelte
Due: none

Backend: add automatic set splitting
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisSetCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisSetGroup.cs
Due: backend-build

Data: categorize a bunch of mounts
  data/mounts/achievement.yml
  data/mounts/instance.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/rare_spawn.yml
  data/mounts/reputation.yml
  data/mounts/vendor.yml
Due: none

Data: add some covenant mounts
  data/mounts/_order
  data/mounts/shadowlands.yml
Due: none

Add WowReputationTier table and jobs to populate it
  src/Wowthing.Backend/Jobs/Data/DataReputationTiersIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationTiersJob.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataReputationTiers.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataReputationTiersIndex.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201127071742_Add_WowReputationTier.Designer.cs
  src/Wowthing.Lib/Migrations/20201127071742_Add_WowReputationTier.cs
  src/Wowthing.Lib/Models/Wow/WowReputationTier.cs
Due: backend-build, web-build, web-deploy

Add WowReputation table and jobs
  src/Wowthing.Backend/Jobs/Data/DataReputationFactionIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationFactionJob.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataReputationFaction.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataReputationFactionIndex.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201127073129_Add_WowReputation.Designer.cs
  src/Wowthing.Lib/Migrations/20201127073129_Add_WowReputation.cs
  src/Wowthing.Lib/Models/Wow/WowReputation.cs
Due: backend-build, web-build, web-deploy

Data: more Shadowlands mounts
  data/mounts/shadowlands.yml
Due: none

Add reputation columns, jobs, user API
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterReputations.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201127172203_Add_PlayerCharacter_Reputations.Designer.cs
  src/Wowthing.Lib/Migrations/20201127172203_Add_PlayerCharacter_Reputations.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, web-build, web-deploy

Backend: add WowReputation and WowReputationTier to static data
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build

Frontend: add weird reputation split icon display
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/RaceIcon.svelte
  src/frontend/ts/components/images/sources/WowdbImage.svelte
  src/frontend/ts/components/images/sources/WowthingImage.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/models/user-data.ts
  src/frontend/ts/stores/user-store.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/types/user-data.ts
Due: none

Frontend: get reputations to a working state
  src/frontend/scss/global.scss
  src/frontend/scss/reputation.scss
  src/frontend/scss/variables.scss
  src/frontend/scss/wow.scss
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableCell.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/components/reputations/ReputationTableRow.svelte
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/utils/find-reputation-tier.ts
  src/frontend/tsconfig.json
Due: none
