Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

web: add upload API endpoint
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UploadController.cs
  src/Wowthing.Web/Models/ApiUpload.cs
  src/Wowthing.Web/Services/UploadService.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: fix text alignment on in-progress Ugh Quests
  frontend/components/home/table/RowUghQuest.svelte
Due: none

Initial version of landing page
  frontend/scss/global.scss
  frontend/scss/landing-page.scss
  src/Wowthing.Web/Views/Home/Index.cshtml
  src/Wowthing.Web/wwwroot/img/currencies_20210704.png
  src/Wowthing.Web/wwwroot/img/gear_20210704.png
  src/Wowthing.Web/wwwroot/img/home_20210704.png
  src/Wowthing.Web/wwwroot/img/mythic_plus_20210704.png
  src/Wowthing.Web/wwwroot/img/reputations_20210704.png
Due: web-build, web-deploy

frontend: adjust font weight of headings to be slightly less bold
  frontend/scss/core.scss
  frontend/scss/settings.scss
Due: none

frontend: ignore Argent Commendation currency
  frontend/data/currencies.ts
Due: none

web: add Ko-fi link to footer
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

web: anonymize M+ run members if required
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

data: update mount categories
  data/mounts/_order
  data/mounts/money.yml
  data/mounts/unavailable/arena.yml
  data/mounts/z8/covenant_kyrian.yml
  data/mounts/z8/covenant_necrolord.yml
  data/mounts/z8/covenant_night_fae.yml
  data/mounts/z8/covenant_venthyr.yml
  data/mounts/z8/rare_spawns.yml
  data/mounts/z8/shadowlands.yml
  data/mounts/z8_shadowlands.yml
Due: none

backend: add some actual error handling to SchedulerService
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

backend: only queue CharacterSoulbinds job if the character actually has soulbinds
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacter.cs
Due: backend-build, backend-deploy

backend: handle no BestRuns in CharacterMythicKeystoneProfileSeasonJob
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
Due: backend-build, backend-deploy

backend: add basic error handling to AuthorizationService
  src/Wowthing.Backend/Services/AuthorizationService.cs
Due: backend-build, backend-deploy

backend: change all "304 Not Modified" log messages to debug level
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
Due: backend-build, backend-deploy

backend: set minimum log level to Information in production
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

backend: add WowthingBackend section to appsettings
  src/Wowthing.Backend/Models/WowthingBackendOptions.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

Fix misc warnings
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystonePeriodJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystoneSeasonIndexJob.cs
  src/Wowthing.Backend/Jobs/IScheduledJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/StateService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Utilities/LoadDumpCsv.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
  src/Wowthing.Lib/Utilities/PredicateBuilder.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Controllers/TeamControlller.cs
  src/Wowthing.Web/Controllers/UploadController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Models/Team/TeamApi.cs
  src/Wowthing.Web/Models/Team/TeamApiCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix #if breakage
  src/Wowthing.Backend/Utilities/LoadDumpCsv.cs
Due: backend-build, backend-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
