Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Cap Wowhead tooltips at 400px
  frontend/scss/global.scss
  frontend/scss/wowhead.scss
Due: none

Fix armor/all transmog set span when empty
  frontend/components/transmog/TransmogTableSet.svelte
Due: none

Add Covenant transmog sets
  data/transmog/_order
  data/transmog/z8/covenants.yml
Due: none

Add wowheadSetId to MoP challenge mode sets
  data/transmog/z4/dungeons.yml
Due: none

Fix Necrolord plate sets having the wrong wowheadSetIds
  data/transmog/z8/covenants.yml
Due: none

Fix upload handling for addon transmog change
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
Due: backend-build, backend-deploy

Add account tags to character table if they exist
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/character-table/CharacterTableHead.svelte
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/stores/user.ts
Due: none

Add a different foreground colour for transmog set group names
  frontend/components/transmog/TransmogTableCategory.svelte
Due: none

Lint fixes
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/links/WowheadTransmogSetLink.svelte
Due: none

Mark T3 raid sets as not counted
  data/transmog/z0/raids.yml
Due: none

Fix scheduler service always using a blank Guid for lock value
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Add pet storage, job, and API route
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterPetsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterPets.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20210903215137_Add_PlayerAccountPets.Designer.cs
  src/Wowthing.Lib/Migrations/20210903215137_Add_PlayerAccountPets.cs
  src/Wowthing.Lib/Models/Player/PlayerAccountPets.cs
  src/Wowthing.Lib/Models/Query/SchedulerCharacterQuery.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserPetData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Implement fancy pet disdplay
  frontend/components/collections/CollectionCount.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/collections/Pets.svelte
  frontend/data/pet-breed.ts
  frontend/scss/wow.scss
  frontend/stores/index.ts
  frontend/stores/user-pets.ts
  frontend/types/data/index.ts
  frontend/types/data/user-pet.ts
  frontend/utils/initialize-sets.ts
Due: none

Remove under construction from Pets link
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Fix wonky spacing on pet groups
  frontend/components/collections/CollectionSection.svelte
Due: none

Fix UNCATEGORIZED set generation so it splits correctly
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add creature dump
  data/dumps/creature-9.1.0.40000.csv
Due: none

Add saving of uncategorized set info for easier categorization
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DumpCreature.cs
Due: backend-build, backend-deploy

Start of pet set cleanup
  data/pets/_order
  data/pets/_skip.yml
  data/pets/achievements.yml
  data/pets/money.yml
  data/pets/professions.yml
  data/pets/unavailable.yml
  data/pets/vendors.yml
  data/pets/world_events.yml
  data/pets/yuck.yml
  data/pets/z0/_vanilla.yml
  data/pets/z0/pet_battles_eastern_kingdoms.yml
  data/pets/z0/pet_battles_kalimdor.yml
  data/pets/z1/_the_burning_crusade.yml
  data/pets/z1/pet_battles.yml
  data/pets/z2/_wrath_of_the_lich_king.yml
  data/pets/z2/pet_battles.yml
  data/pets/z3/_cataclysm.yml
  data/pets/z3/pet_battles.yml
  data/pets/z3_cataclysm.yml
  data/pets/z4/_mists_of_pandaria.yml
  data/pets/z4/instance.yml
  data/pets/z4/pet_battles.yml
  data/pets/z5/_warlords_of_draenor.yml
  data/pets/z5/pet_battles.yml
  data/pets/z6/_legion.yml
  data/pets/z6/pet_battles.yml
  data/pets/z7/_battle_for_azeroth.yml
  data/pets/z7/instances.yml
  data/pets/z7/pet_battles.yml
  data/pets/z8/_shadowlands.yml
Due: none

More pet set work
  data/pets/_order
  data/pets/achievements.yml
  data/pets/money.yml
  data/pets/professions.yml
  data/pets/unavailable.yml
  data/pets/z4/instances.yml
  data/pets/z7/_battle_for_azeroth.yml
  data/pets/z7/instances.yml
  data/pets/z8/_shadowlands.yml
  data/pets/z8/instances.yml
  data/pets/z8/pet_battles.yml
Due: none

Minor styling on fancy sidebar
  frontend/components/sidebar/SidebarEntry.svelte
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
