Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add "Alliance only" and "Horde only" transmog settings
  frontend/components/settings/sections/SettingsTransmog.svelte
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update transmog sets to use Alliance/Horde icons and filters
  data/transmog/z4/pvp.yml
  data/transmog/z5/misc.yml
  data/transmog/z5/pvp.yml
  data/transmog/z6/pvp.yml
  data/transmog/z7/pvp.yml
Due: none

Clean up SubSidebar CSS a little
  frontend/components/sub-sidebar/SubSidebar.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Add Alliance/Horde filtering to transmog sets
  frontend/stores/user-transmog.ts
  frontend/utils/transmog/get-filtered-sets.ts
Due: none

Fix Paragon display for reputations that don't have Exalted as the final rank
  frontend/components/tooltips/reputation/TooltipReputation.svelte
Due: none

Update Helsworn Chest in Korthia
  data/zone-maps/z8/the_maw.yml
Due: none

Fix Trial of the Crusader set names
  data/transmog/z2/raids.yml
Due: none

Fix lint issues
  frontend/components/sub-sidebar/SubSidebar.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Skip realms that have never had any gold in HistoryGold
  frontend/components/history/HistoryGold.svelte
Due: none

Fix SubSidebarEntry CSS
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Support more complicated Progress data
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/progress/Progress.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/data/covenant.ts
  frontend/types/enums/index.ts
  frontend/types/enums/progress.ts
  frontend/types/static-data.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Backend/Models/Data/Progress/DataProgressData.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgressData.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgressGroup.cs
  src/Wowthing.Lib/Enums/Progress.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add some artifact appearance progress
  data/progress/_order
  data/progress/z6/artifacts.yml
Due: none

Re-order BfA reputation pairings to match emissaries
  data/reputations/z7_battle_for_azeroth.yml
Due: none

Add PlayerCharacterAddonAchievements model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220109000743_Add_PlayerCharacterAddonAchievements.Designer.cs
  src/Wowthing.Lib/Migrations/20220109000743_Add_PlayerCharacterAddonAchievements.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonAchievements.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add achievement handling to UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
Due: backend-build, backend-deploy

Add AddonAchievements to user achievements API
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserAchievementData.cs
Due: web-build, web-deploy

Improve support for mixed progress types
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/tooltips/progress/TooltipProgress.svelte
  frontend/scss/tooltips.scss
  frontend/scss/tooltips/progress.scss
  frontend/types/enums/progress.ts
  frontend/types/user-achievement-data.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Lib/Enums/Progress.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remove debug spam
  frontend/utils/get-progress.ts
Due: none

Add Hidden Variants to Legion progress
  data/progress/z6/artifacts.yml
Due: none

Fix lint issues
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
  frontend/utils/get-progress.ts
Due: none

Split PlayerCharacterAddonQuests.ScannedAt into CallingsScannedAt and QuestsScannedAt
  src/Wowthing.Lib/Migrations/20220109025551_Add_PlayerCharacterAddonQuests_CallingsScannedAt.Designer.cs
  src/Wowthing.Lib/Migrations/20220109025551_Add_PlayerCharacterAddonQuests_CallingsScannedAt.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix UserUploadJob handling of calling quests
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Fix wonky border radius cllipping on some tooltips
  frontend/scss/tippy.scss
Due: none

Add sorting to Progress
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/progress/ProgressTableHead.svelte
  frontend/stores/local-storage/index.ts
  frontend/stores/local-storage/progress.ts
  frontend/utils/get-progress.ts
Due: none

Fix lint issues
  frontend/components/progress/ProgressTable.svelte
Due: none

Use addon achievement data for some busted achievements
  frontend/utils/achievements/get-character-data.ts
Due: none

Small SettingsLayout styling improvements
  frontend/components/settings/SettingsMagicLists.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
Due: none

Remove icon from UghQuests
  frontend/components/home/table/row/HomeTableRowUghQuest.svelte
  frontend/scss/variables.scss
Due: none

Add Layout>Padding setting
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/scss/mixins.scss
  frontend/scss/variables.scss
  frontend/types/settings.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Increase the brightness of $border-color
  frontend/scss/variables.scss
Due: none

Fix getSavedRoute erroring due to SubSidebar changes
  frontend/utils/get-saved-route.ts
Due: none

Clean up SettingsLayout a little
  frontend/components/settings/sections/SettingsLayout.svelte
Due: none

Clean up debug spam
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableHead.svelte
Due: none

Fix NRE in UserAchievements API endpoint
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Add skillline and skilllineability dumps
  data/dumps/deDE/skillline-9.1.5.41488.csv
  data/dumps/enUS/skillline-9.1.5.41488.csv
  data/dumps/esES/skillline-9.1.5.41488.csv
  data/dumps/esMX/skillline-9.1.5.41488.csv
  data/dumps/frFR/skillline-9.1.5.41488.csv
  data/dumps/itIT/skillline-9.1.5.41488.csv
  data/dumps/ptBR/skillline-9.1.5.41488.csv
  data/dumps/ruRU/skillline-9.1.5.41488.csv
  data/dumps/skilllineability-9.1.5.41488.csv
Due: none

Add basic professions display to Home
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/row/HomeTableRowProfessions.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/data/icons.ts
  frontend/data/professions.ts
  frontend/scss/variables.scss
  frontend/types/character.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Data/Professions.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Backend/Models/Data/Professions/DumpSkillLine.cs
  src/Wowthing.Backend/Models/Data/Professions/OutProfession.cs
  src/Wowthing.Backend/Models/Data/Professions/OutSubProfession.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Lib/Enums/StringType.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix random "uj" text
  frontend/components/home/HomeTable.svelte
Due: none

Add profession tooltips
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/row/HomeTableRowProfessions.svelte
  frontend/components/tooltips/professions/TooltipProfessions.svelte
Due: none

Add Layout.CovenantColumn setting
  frontend/components/home/table/head/HomeTableHeadCovenant.svelte
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/scss/variables.scss
  frontend/types/settings.ts
  src/Wowthing.Backend/Data/Professions.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Combine chest pieces for Kyrian 9.1 sets
  data/transmog/z8/korthia.yml
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
