Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix zone map tooltips when drops have requiredQuestId
  frontend/stores/zone-map.ts
Due: none

Add character covenant page links to home covenant column
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
Due: none

Add week and month to gold history
  frontend/components/history/HistoryGold.svelte
Due: none

Allow empty Group By setting
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Enforce valid Layout.CovenantColumn setting
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Handle item class/subclass mangling in ImportDumpsJob instead of CacheJournalJob
  frontend/types/enums/armor-subclass.ts
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Lib/Enums/WowArmorSubclass.cs
  src/Wowthing.Lib/Enums/WowItemClass.cs
  src/Wowthing.Lib/Enums/WowWeaponSubclass.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remove tracking quest ID from extra Tormentors drops
  data/zone-maps/z8/the_maw.yml
Due: none

Add Vendors
  frontend/apps/home/AppHome.svelte
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/collections/CollectionSectionTitle.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/vendors/Vendors.svelte
  frontend/components/vendors/VendorsCategories.svelte
  frontend/components/vendors/VendorsGroup.svelte
  frontend/components/vendors/VendorsSidebar.svelte
  frontend/data/icons.ts
  frontend/data/vendors.ts
  frontend/stores/user-vendors.ts
  frontend/stores/user.ts
  frontend/types/data/index.ts
  frontend/types/data/user-vendors.ts
  frontend/types/enums/farms.ts
  frontend/types/fancy-store.ts
  frontend/types/static-data.ts
  frontend/utils/user-has-drop.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Vendors/DataVendorCategory.cs
  src/Wowthing.Backend/Models/Data/Vendors/DataVendorGroup.cs
  src/Wowthing.Backend/Models/Data/Vendors/DataVendorItem.cs
  src/Wowthing.Backend/Models/Data/Vendors/OutVendorCategory.cs
  src/Wowthing.Backend/Models/Data/Vendors/OutVendorGroup.cs
  src/Wowthing.Backend/Models/Data/Vendors/OutVendorItem.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Add initial vendors data for Shadowlands
  data/vendors/_order
  data/vendors/z8/_shadowlands.yml
  data/vendors/z8/covenant_kyrian.yml
  data/vendors/z8/covenant_necrolord.yml
  data/vendors/z8/covenant_night_fae.yml
  data/vendors/z8/covenant_venthyr.yml
  data/vendors/z8/korthia.yml
Due: none

Fix lint issues
  frontend/apps/home/AppHome.svelte
  frontend/components/history/HistoryGold.svelte
  frontend/components/tooltips/professions/TooltipProfessions.svelte
  frontend/stores/user-vendors.ts
  frontend/types/contexts.ts
Due: none

Remove debug spam
  src/Wowthing.Backend/Models/Data/Vendors/OutVendorGroup.cs
Due: backend-build, backend-deploy

Add basic collection controls to Vendors
  frontend/components/vendors/VendorsCategories.svelte
  frontend/components/vendors/VendorsGroup.svelte
  frontend/stores/local-storage/index.ts
  frontend/stores/local-storage/vendors.ts
Due: none

Add relevant reputation display to character covenants
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulshapes.svelte
  frontend/components/common/ProgressBar.svelte
  frontend/components/common/ReputationBar.svelte
  frontend/data/covenant.ts
  frontend/scss/reputation.scss
  frontend/scss/wow.scss
Due: none

Add The Ember Court to reputations
  data/reputations/z8_shadowlands.yml
  frontend/data/covenant.ts
Due: none

Add a janky Pin Characters page to Settings
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsPinCharacters.svelte
  frontend/types/settings.ts
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix lint issues
  frontend/components/common/ReputationBar.svelte
  frontend/components/settings/sections/SettingsPinCharacters.svelte
Due: none

Add Abominations display to Necrolord
  frontend/components/characters/shadowlands/CharactersShadowlandsAbominations.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
Due: none

Always fetch UserAchievementStore
  frontend/apps/home/AppHome.svelte
Due: none

Add important to .status-success color
  frontend/scss/colours.scss
Due: none

Add WowRealm.ConnectedRealmId column and jobs to populate it
  src/Wowthing.Backend/Jobs/Data/DataConnectedRealmIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataConnectedRealmJob.cs
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataConnectedRealm.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataConnectedRealmIndex.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20220117031136_Add_WowRealm_ConnectedRealmId.Designer.cs
  src/Wowthing.Lib/Migrations/20220117031136_Add_WowRealm_ConnectedRealmId.cs
  src/Wowthing.Lib/Models/Wow/WowRealm.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add WowAuction and jobs to populate it
  src/Wowthing.Backend/Jobs/Data/DataAuctionsJob.cs
  src/Wowthing.Backend/Jobs/Data/DataAuctionsStartJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Models/API/ApiTypeValue.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataAuctions.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/WowAuctionTimeLeft.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20220118004548_Add_WowAuction.Designer.cs
  src/Wowthing.Lib/Migrations/20220118004548_Add_WowAuction.cs
  src/Wowthing.Lib/Models/Wow/WowAuction.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add abominations data
  frontend/data/covenant.ts
Due: none

Check that the calling expiry time is actually in the future too
  frontend/components/home/table/row/HomeTableRowCallings.svelte
Due: none

Add WowAuction indexes
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220118071547_Add_WowAuction_Indexes.Designer.cs
  src/Wowthing.Lib/Migrations/20220118071547_Add_WowAuction_Indexes.cs
  src/Wowthing.Lib/Models/Wow/WowAuction.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Don't stop supplied JankTimer in GetJson
  src/Wowthing.Backend/Jobs/JobBase.cs
Due: backend-build, backend-deploy

Fix calling expiry check, asdkfjhlakdjfd
  frontend/components/home/table/row/HomeTableRowCallings.svelte
Due: none

Add ConnectedRealmId to static realm data
  frontend/stores/static.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Lib/Converters/WowRealmConverter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add initial Auctions display with missing pets/toys
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/auctions/Auctions.svelte
  frontend/components/auctions/AuctionsSidebar.svelte
  frontend/components/auctions/AuctionsView.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsEmberCourt.svelte
  frontend/components/common/GoldPrice.svelte
  frontend/scss/mixins.scss
  frontend/stores/index.ts
  frontend/stores/user-auctions.ts
  frontend/types/data/index.ts
  frontend/types/data/user-auctions.ts
  src/Wowthing.Lib/Models/Wow/WowAuction.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Move item-related dump models to subdir
  src/Wowthing.Backend/Models/Data/Items/DumpItem.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemBonus.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemModifiedAppearance.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemSparse.cs
Due: backend-build, backend-deploy

Add ItemEffect and ItemXItemEffect dumps
  data/dumps/itemeffect-9.1.5.41488.csv
  data/dumps/itemxitemeffect-9.1.5.41488.csv
  src/Wowthing.Backend/Models/Data/Items/DumpItem.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemBonus.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemEffect.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemModifiedAppearance.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemSparse.cs
  src/Wowthing.Backend/Models/Data/Items/DumpItemXItemEffect.cs
Due: backend-build, backend-deploy

Add WowMount.ItemId column and populate it
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Lib/Migrations/20220120054009_Add_WowMount_ItemId.Designer.cs
  src/Wowthing.Lib/Migrations/20220120054009_Add_WowMount_ItemId.cs
  src/Wowthing.Lib/Models/Wow/WowMount.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix imports
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Add mounts data for Auctions
  frontend/components/auctions/AuctionsView.svelte
  frontend/types/data/user-auctions.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
Due: web-build, web-deploy

Try adding logging to track down UserAuctionData error
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Add separate job priority for auctions
  src/Wowthing.Backend/Jobs/Data/DataAuctionsJob.cs
  src/Wowthing.Backend/Jobs/Data/DataAuctionsStartJob.cs
  src/Wowthing.Backend/Models/WowthingBackendOptions.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/appsettings.json
  src/Wowthing.Lib/Jobs/JobPriority.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix lint issues
  frontend/components/auctions/AuctionsView.svelte
Due: none

Try a different fix for NRE
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Move user auctions API to separate controller
  frontend/components/auctions/Auctions.svelte
  frontend/components/auctions/AuctionsView.svelte
  frontend/stores/user-auctions.ts
  frontend/types/data/user-auctions.ts
  frontend/types/fancy-store.ts
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
Due: web-build, web-deploy

Promote Auctions to a more useful Sidebar position, it works well enough
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Add missing off-hand/shield types to character class data
  src/Wowthing.Lib/Data/CharacterClass.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
