Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix CharacaterAchievemnetsJob NRE
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
Due: backend-build, backend-deploy

Don't show <no valid characters> for filtered drops
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/stores/zone-map.ts
Due: none

Styling updates for zone maps overlay boxes
  frontend/components/zone-maps/ZoneMapsMap.svelte
Due: none

Update C# dependencies
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

Update JS dependencies
  frontend/yarn.lock
Due: none

Categorize 9.1.5 mounts
  data/mounts/_skip.yml
  data/mounts/misc/class.yml
  data/mounts/money.yml
  data/mounts/world_events/world_events.yml
Due: none

Categorize
  data/mounts/_order
  data/mounts/world_events/timewalking.yml
  data/mounts/world_events/world_events.yml
  data/mounts/z6/drops.yml
  data/mounts/z6/instances.yml
  data/pets/z6/drops.yml
  data/pets/z6/pet_battles.yml
  data/toys/_order
  data/toys/_skip.yml
  data/toys/misc.yml
  data/toys/world_events/_world_events.yml
  data/toys/world_events/feast_of_winter_veil.yml
  data/toys/z6/drops.yml
  data/toys/z8/_shadowlands.yml
  data/toys/z8/quests.yml
  data/toys/zzz_uncategorized.yml~
Due: none

Fix zone map tooltip weirdness around valid characters
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Add some BfA Progress categories
  data/progress/_order
  data/progress/z7/_battle_for_azeroth.yml
  frontend/components/progress/ProgressSidebar.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/data/faction.ts
  frontend/stores/zone-map.ts
  frontend/types/static-data.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Progress/DataProgress.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Change ProgressBar component to have normal border-radius
  frontend/components/common/ProgressBar.svelte
Due: none

Add overall progress bar to top of Collections
  frontend/components/collections/CollectionSidebar.svelte
Due: none

Add overall progress bar to top of Appearances
  frontend/components/appearances/AppearancesSidebar.svelte
Due: none

Clean up debug stuff
  frontend/components/progress/ProgressTable.svelte
  frontend/components/tooltips/appearance-set/TooltipAppearanceSet.svelte
  frontend/stores/user-transmog.ts
Due: none

Fix lint issues
  frontend/components/progress/ProgressSidebar.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/utils/achievements/get-character-data.ts
Due: none

Bump CacheStaticJob version
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Try a workaround for TW region character queries blowing up everything
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
Due: backend-build, backend-deploy

Categorize
  data/mounts/_order
  data/toys/money.yml
  data/toys/yuck.yml
  data/toys/z7/vendors.yml
  data/toys/z8/_shadowlands.yml
  data/toys/z8/vendors.yml
Due: none

Add Timeless Isle to zone maps
  data/zone-maps/_order
  data/zone-maps/z4/_mists_of_pandaria.yml
  data/zone-maps/z4/timeless_isle.yml
  data/zone-maps/z8/korthia.yml
Due: none

More achievements fiddling
  frontend/components/achievements/AchievementsAchievement.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaAccount.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
  frontend/stores/user-achievements.ts
  frontend/utils/achievements/get-account-data.ts
Due: none

Remove gap between collection sections
  frontend/components/collections/CollectionSection.svelte
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
