Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  only:
    changes:
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

#backend-deploy:
#  extends: .deploy

# Wowthing.Web
.web-only:
  only:
    changes:
      - src/Wowthing.Web/**/*
      - src/Wowthing.Lib/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

gitattributes for line endings
  .gitattributes
Due: none

Initial database setup
  ef.sh
  src/Wowthing.Lib/Database/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Database/Factories/WowDbContextFactory.cs
  src/Wowthing.Lib/Database/Models/ApplicationUser.cs
  src/Wowthing.Lib/Migrations/20201114221007_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/20201114221007_Initial.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, web-build, web-deploy

Lib: add AddPostgres extension method for consistent database setup
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
Due: backend-build, web-build, web-deploy

Backend: add database config
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/appsettings.Development.json
Due: backend-build

README: add section on database changes
  README.md
Due: none

Lib: recreate initial migration with force snake_case table names for Identity
  src/Wowthing.Lib/Database/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Migrations/20201115060143_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/20201115060143_Initial.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
Due: backend-build, web-build, web-deploy

Web: add extremely janky Login with Battle.Net
  docker-compose.yml
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Properties/launchSettings.json
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Wowthing.Web.csproj
  src/Wowthing.Web/appsettings.Development.json
  src/Wowthing.Web/frontend/scss/global.scss
Due: web-build, web-deploy

Web: garbage CSS pass
  src/Wowthing.Web/Views/Home/Index.cshtml
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/frontend/scss/global.scss
Due: web-build, web-deploy

Web: finish implementing some sort of useful login/store token process
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Web: use dotnet-sdk-nodejs as base instead of installing it every time
  Wowthing.Web.sln
  src/Wowthing.Web/Dockerfile
  src/Wowthing.Web/wwwroot/css/site.css
Due: web-build, web-deploy

CI: set environment variables from k8s secret
  _magic/web-deployment.yml
Due: none

Web: add ForwardedHeaders middleware for correct URL construction
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Web: fix forwarded headers, which idiot set the default forwarded header list to NOTHING?
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Web: add private IPv4 address ranges to known networks
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Web: migrate database on startup
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Lib: reorganize Database-related things
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Factories/WowDbContextFactory.cs
  src/Wowthing.Lib/Migrations/20201115060143_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, web-build, web-deploy

Web: disable VS TypeScript support because argh
  src/Wowthing.Web/Wowthing.Web.csproj
Due: web-build, web-deploy

Web: fix casing of Wowthing.Lib
  Wowthing.Web.sln
Due: none

Backend: add job retrieval to worker service
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Extensions/JobPriorityExtensions.cs
  src/Wowthing.Lib/Jobs/JobPriority.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Jobs/WorkerJob.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, web-build, web-deploy

Backend: increase worker sleep time between queue scans
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build

Web: add custom error views
  src/Wowthing.Web/Controllers/ErrorController.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/ViewModels/ErrorViewModel.cs
  src/Wowthing.Web/Views/Authentication/Login.cshtml
  src/Wowthing.Web/Views/Error/403.cshtml
  src/Wowthing.Web/Views/Error/404.cshtml
  src/Wowthing.Web/Views/Error/Error.cshtml
  src/Wowthing.Web/frontend/scss/core.scss
  src/Wowthing.Web/frontend/scss/error.scss
  src/Wowthing.Web/frontend/scss/global.scss
Due: web-build, web-deploy

Web: create a UserCharacters job on login
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
Due: backend-build, web-build, web-deploy

Lib: fix AddJobAsync using the wrong Redis command
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, web-build, web-deploy

Backend: debug cleanups
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build

Web: change user view URL
  src/Wowthing.Web/Controllers/UserController.cs
Due: web-build, web-deploy

Backend: add simple worker job dispatch
  src/Wowthing.Backend/Jobs/IWorkerJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build

Change ApplicationUser model to use a long key, and a whole pile of other garbage to support that
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20201117051145_Initial.Designer.cs
  src/Wowthing.Lib/Migrations/20201117051145_Initial.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Extensions/UserManagerExtensions.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, web-build, web-deploy

Web: fix login, more like SIGHdentity
  src/Wowthing.Web/Extensions/UserManagerExtensions.cs
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Backend/Lib: large pile of changes to get jobs functioning
  src/Wowthing.Backend/Extensions/HttpResponseMessageExtensions.cs
  src/Wowthing.Backend/Jobs/IJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/ApiNamespace.cs
  src/Wowthing.Backend/Models/API/ApiObnoxiousHref.cs
  src/Wowthing.Backend/Models/API/ApiRegion.cs
  src/Wowthing.Backend/Models/API/ApiTypeName.cs
  src/Wowthing.Backend/Models/API/Profile/ApiAccountProfile.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
  src/Wowthing.Backend/Services/StateService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Jobs/WorkerJob.cs
  src/Wowthing.Lib/Repositories/IUserRepository.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Repositories/UserRepository.cs
  src/Wowthing.Lib/Utilities/EnumUtilities.cs
Due: backend-build, web-build, web-deploy

Lib: add WowAccount model
  src/Wowthing.Backend/Models/API/Profile/ApiAccountProfile.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/ApiRegion.cs
  src/Wowthing.Lib/Enums/WowGender.cs
  src/Wowthing.Lib/Migrations/20201117222503_Add_WowAccount.Designer.cs
  src/Wowthing.Lib/Migrations/20201117222503_Add_WowAccount.cs
  src/Wowthing.Lib/Models/WowAccount.cs
  src/Wowthing.Lib/Repositories/UserRepository.cs
Due: backend-build, web-build, web-deploy

Backend: implement UserCharactersJob
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build

Backend/Lib: add basic character saving to database from account profile
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/ApiObnoxiousObject.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacter.cs
  src/Wowthing.Backend/Models/API/Profile/ApiAccountProfile.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/WowGender.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Migrations/20201117222503_Add_WowAccount.cs
  src/Wowthing.Lib/Migrations/20201118041946_Add_WowAccount_WowCharacter.Designer.cs
  src/Wowthing.Lib/Migrations/20201118041946_Add_WowAccount_WowCharacter.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Models/WowAccount.cs
  src/Wowthing.Lib/Models/WowCharacter.cs
  src/Wowthing.Lib/Repositories/CharacterRepository.cs
  src/Wowthing.Lib/Repositories/UserRepository.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, web-build, web-deploy

Add super jank user display
  src/Wowthing.Lib/Repositories/UserRepository.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
  src/Wowthing.Web/sigh.json
Due: backend-build, web-build, web-deploy

CI: add backend deployment
  .gitlab-ci.yml
  _magic/deployment-backend.yml
Due: none

CI: define separate environments for each project
  .gitlab-ci.yml
Due: none

Lib: update ApiRegion to match reality
  src/Wowthing.Lib/Enums/ApiRegion.cs
Due: backend-build, web-build, web-deploy

Add WowCharacter.Faction column
  src/Wowthing.Backend/Jobs/Data/DataPlayableRacesJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/ApiObnoxiousObject.cs
  src/Wowthing.Backend/Models/API/ApiTypeName.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataPlayableRaces.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/WowFaction.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201118055140_Add_WowCharacter_Faction.Designer.cs
  src/Wowthing.Lib/Migrations/20201118055140_Add_WowCharacter_Faction.cs
  src/Wowthing.Lib/Migrations/20201118071818_Add_WowRace.Designer.cs
  src/Wowthing.Lib/Migrations/20201118071818_Add_WowRace.cs
  src/Wowthing.Lib/Models/WowCharacter.cs
  src/Wowthing.Lib/Models/WowRace.cs
  src/Wowthing.Lib/Repositories/DataRepository.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Repositories/RepositoryBase.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, web-build, web-deploy

Big pile of changes for playable class retrieval/storage
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/IJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Jobs/ScheduledJob.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/ApiObnoxiousObject.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataPlayableClass.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataPlayableClassIndex.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataPlayableRaceIndex.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/StateService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/TaskExtensions.cs
  src/Wowthing.Lib/Extensions/TypeExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201118230030_Add_WowClass.Designer.cs
  src/Wowthing.Lib/Migrations/20201118230030_Add_WowClass.cs
  src/Wowthing.Lib/Models/WowClass.cs
  src/Wowthing.Lib/Repositories/CharacterRepository.cs
  src/Wowthing.Lib/Repositories/DataRepository.cs
  src/Wowthing.Lib/Repositories/Interfaces/IUserRepository.cs
  src/Wowthing.Lib/Repositories/RepositoryBase.cs
  src/Wowthing.Lib/Repositories/UserRepository.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
Due: backend-build, web-build, web-deploy

Cleanup debug junk
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Models/API/Profile/ApiAccountProfile.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build

Remove repositories and use the context directly, we're not _that_ enterprise
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Repositories/CharacterRepository.cs
  src/Wowthing.Lib/Repositories/DataRepository.cs
  src/Wowthing.Lib/Repositories/Interfaces/IUserRepository.cs
  src/Wowthing.Lib/Repositories/RepositoryBase.cs
  src/Wowthing.Lib/Repositories/UserRepository.cs
  src/Wowthing.Web/Controllers/ErrorController.cs
  src/Wowthing.Web/Controllers/UserController.cs
Due: backend-build, web-build, web-deploy
