Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  only:
    changes:
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

#backend-deploy:
#  extends: .deploy

# Wowthing.Web
.web-only:
  only:
    changes:
      - src/Wowthing.Web/**/*
      - src/Wowthing.Lib/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Backend: copy data into built container
  .dockerignore
  src/Wowthing.Backend/Dockerfile
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build

Data: add the rest of mounts/misc
  data/mounts/misc.yml
Due: none

Backend: sigh
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build

Backend: add versioning to scheduled jobs, bump the version to force a run immediately
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/ScheduledJob.cs
  src/Wowthing.Backend/Models/Data/DataMountDump.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Utilities/JankTimer.cs
Due: backend-build, web-build, web-deploy

Replace StackExchange.Redis with ServiceStack.Redis, the lack of blocking operations is awful
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Extensions/IRedisClientAsyncExtensions.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, web-build, web-deploy

Add basic character job
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacter.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/appsettings.Development.json
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20201122212009_Add_PlayerCharacter_LastApiCheck.Designer.cs
  src/Wowthing.Lib/Migrations/20201122212009_Add_PlayerCharacter_LastApiCheck.cs
  src/Wowthing.Lib/Models/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Query/CharacterQuery.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, web-build, web-deploy

Add PlayerCharacter.AverageItemLevel and .EquippedItemLevel
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Lib/Migrations/20201122224939_Add_PlayerCharacter_AverageItemLevel_and_EquippedItemLevel.Designer.cs
  src/Wowthing.Lib/Migrations/20201122224939_Add_PlayerCharacter_AverageItemLevel_and_EquippedItemLevel.cs
  src/Wowthing.Lib/Models/PlayerCharacter.cs
Due: backend-build, web-build, web-deploy

Frontend: use components for race/class icon instead of util function
  src/frontend/ts/components/HomeCards.svelte
  src/frontend/ts/components/images/BaseImage.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/components/images/RaceIcon.svelte
  src/frontend/ts/models/character.ts
  src/frontend/ts/utils/get-img.ts
Due: none

Add some painful garbage to trigger collection jobs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/Misc/CollectionsJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Extensions/IRedisClientAsyncExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
Due: backend-build, web-build, web-deploy

Backend: fix NREs in CharacterJob
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build

Revert "Replace StackExchange.Redis with ServiceStack.Redis, the lack of blocking operations is awful"
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisAccessToken.cs
  src/Wowthing.Backend/Services/AuthorizationService.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
  src/Wowthing.Lib/Wowthing.Lib.csproj
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, web-build, web-deploy

Back to StackExchange.Redis again, ServiceStack.Redis license suuuuuucks
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Extensions/IRedisClientAsyncExtensions.cs
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, web-build, web-deploy

Clean up some more scheduler/redis mess
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
Due: backend-build, web-build, web-deploy

Lib: add an easier to use JobRepository.AddJobAsync for the common case of single piece of data
  src/Wowthing.Lib/Repositories/JobRepository.cs
Due: backend-build, web-build, web-deploy

Add PlayerCollections table
  src/Wowthing.Backend/Jobs/Misc/CollectionsJob.cs
  src/Wowthing.Backend/Jobs/User/UserMountsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterMounts.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201123061721_Add_PlayerCollections.Designer.cs
  src/Wowthing.Lib/Migrations/20201123061721_Add_PlayerCollections.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCollections.cs
Due: backend-build, web-build, web-deploy

Frontend: fix icons in HomeTable
  src/frontend/ts/components/HomeTable.svelte
Due: none

Add PlayerCharacter.DelayHours and implement increasing delays for API failures
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Migrations/20201123064720_Add_PlalyerCharacter_DelayHours.Designer.cs
  src/Wowthing.Lib/Migrations/20201123064720_Add_PlalyerCharacter_DelayHours.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
Due: backend-build, web-build, web-deploy

Pile of work for basic Collections implementation
  data/mounts/_order
  data/mounts/alliance.yml
  data/mounts/horde.yml
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Constants/RedisKeys.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201124160609_Remove_PlayerCollections.Designer.cs
  src/Wowthing.Lib/Migrations/20201124160609_Remove_PlayerCollections.cs
  src/Wowthing.Lib/Models/Player/PlayerCollections.cs
  src/Wowthing.Lib/Models/Query/SchedulerCharacterQuery.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/scss/variables.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionGroup.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/collections/Mounts.svelte
  src/frontend/ts/models/user-data.ts
  src/frontend/ts/stores/user-store.ts
Due: backend-build, web-build, web-deploy

Even more collection fun times
  data/mounts/_order
  data/mounts/achievement.yml
  data/mounts/instance.yml
  data/mounts/misc.yml
  data/mounts/money.yml
  data/mounts/profession.yml
  data/mounts/rare_spawn.yml
  data/mounts/reputation.yml
  data/mounts/unavailable.yml
  data/mounts/vendor.yml
  src/frontend/ts/App.svelte
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionGroup.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
Due: none

Automatically add an UNCATEGORIZED mount category
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Redis/RedisSetCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisSetGroup.cs
Due: backend-build

Even more collection/mount garbage
  data/mounts/_order
  data/mounts/achievement.yml
  data/mounts/instance.yml
  data/mounts/profession.yml
  data/mounts/rare_spawn.yml
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/frontend/scss/core.scss
  src/frontend/scss/variables.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
Due: web-build, web-deploy
