Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add PlayerCharacter.ActiveSpecId
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Lib/Migrations/20201204073558_Add_PlayerCharacter_ActiveSpecId.Designer.cs
  src/Wowthing.Lib/Migrations/20201204073558_Add_PlayerCharacter_ActiveSpecId.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Data: import pet data from wowthing
  data/pets/_order
  data/pets/yuck.yml
Due: none

Data: import pet data from wowthing
  data/dumps/battlepetspecies-9.0.2.36753.csv
  data/dumps/toy-9.0.2.36753.csv
  data/pets/_order
  data/pets/yuck.yml
Due: none

Backend: add pet data to CacheStaticJob
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataPetDump.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Frontend: add pet display
  src/frontend/ts/App.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/collections/Pets.svelte
  src/frontend/ts/types/static-data.ts
Due: web-build, web-deploy

Data: import toy data from wowthing
  data/toys/_order
  data/toys/yuck.yml
Due: none

Backend: add toy data to CacheStaticJob
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataToyDump.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Frontend: add toy display
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/frontend/ts/App.svelte
  src/frontend/ts/components/collections/Toys.svelte
  src/frontend/ts/types/static-data.ts
Due: backend-build, backend-deploy, web-build, web-deploy

Data: categorize some pets
  data/pets/_order
  data/pets/_skip.yml
  data/pets/battle_for_azeroth.yml
  data/pets/legion.yml
  data/pets/warlords_of_draenor.yml
  data/pets/yuck.yml
Due: none

Update Directory.Build.props to use the COMPUTERNAME environment variable instead of OS so I don't have to close Visual Studio on desktop/laptop
  Directory.Build.props
Due: none

Add PlayerCharacterQuests model and CharacterQuestsCompleted job
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Models/API/ApiObnoxiousHref.cs
  src/Wowthing.Backend/Models/API/ApiObnoxiousObject.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterQuestsCompleted.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201206083357_Add_PlayerCharacterQuests.Designer.cs
  src/Wowthing.Lib/Migrations/20201206083357_Add_PlayerCharacterQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterQuests.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: rework Collections to only show one category at a time
  src/Wowthing.Backend/Models/Redis/RedisSetCategory.cs
  src/frontend/rollup.config.js
  src/frontend/scss/variables.scss
  src/frontend/ts/App.svelte
  src/frontend/ts/components/Routes.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/Collection.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/collections/Mounts.svelte
  src/frontend/ts/components/collections/Pets.svelte
  src/frontend/ts/components/collections/Toys.svelte
  src/frontend/ts/components/common/SubSidebar.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/types/static-data.ts
  src/frontend/ts/types/user-data.ts
  src/frontend/ts/utils/initialize-sets.ts
  src/frontend/tsconfig.json
Due: backend-build, backend-deploy, web-build, web-deploy

Data: a little more pets
  data/pets/legion.yml
  data/pets/yuck.yml
Due: none

Frontend: fix collections not updating links/tooltips correctly
  src/frontend/ts/components/collections/CollectionSection.svelte
Due: web-build, web-deploy

Add PlayerAccount.Tag and PlayerAccount.Enabled
  src/Wowthing.Lib/Migrations/20201206212241_Add_PlayerAccount_Tag_Enabled.Designer.cs
  src/Wowthing.Lib/Migrations/20201206212241_Add_PlayerAccount_Tag_Enabled.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserApiAccount.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: add basic account display including enabled status
  src/frontend/ts/components/Routes.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/home/CharacterCovenant.svelte
  src/frontend/ts/components/home/HomeCards.svelte
  src/frontend/ts/components/home/cards/Character.svelte
  src/frontend/ts/components/home/cards/Index.svelte
  src/frontend/ts/types/account.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/user-data.ts
Due: web-build, web-deploy

Data: recategorize a whole lot of mounts into expansion groupings
  data/mounts/_order
  data/mounts/_skip.yml
  data/mounts/achievement.yml
  data/mounts/alliance.yml
  data/mounts/battle_for_azeroth.yml
  data/mounts/cataclysm.yml
  data/mounts/horde.yml
  data/mounts/instance.yml
  data/mounts/legion.yml
  data/mounts/misc.yml
  data/mounts/mists_of_pandaria.yml
  data/mounts/money.yml
  data/mounts/pvp.yml
  data/mounts/racial.yml
  data/mounts/rare_spawn.yml
  data/mounts/reputation.yml
  data/mounts/the_burning_crusade.yml
  data/mounts/unavailable.yml
  data/mounts/vanilla.yml
  data/mounts/vendor.yml
  data/mounts/warlords_of_draenor.yml
  data/mounts/world_events.yml
  data/mounts/wrath_of_the_lich_king.yml
Due: none

Frontend: fix counting mounts with multiple IDs multiple times
  src/frontend/ts/utils/initialize-sets.ts
Due: web-build, web-deploy

Frontend: increase width of SubSidebar
  src/frontend/ts/components/common/SubSidebar.svelte
Due: web-build, web-deploy

Data: fix oops
  data/mounts/misc.yml
  data/mounts/mists_of_pandaria.yml
  data/mounts/world_events.yml
Due: none

CI: fix data path so backend actually deploys, ugh
  .gitlab-ci.yml
Due: none

Web: add quests to user API
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
