Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add missing export to enums index
  frontend/types/enums/index.ts
Due: none

Add covenant storage and display
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
  frontend/components/tooltips/covenant/TooltipCovenant.svelte
  frontend/data/covenant.ts
  frontend/types/character.ts
  frontend/utils/to-nice.ts
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Backend/Wowthing.Backend.csproj
  src/Wowthing.Lib/Migrations/20211107175106_Add_PlayerCharacterShadowlands_Covenants.Designer.cs
  src/Wowthing.Lib/Migrations/20211107175106_Add_PlayerCharacterShadowlands_Covenants.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterShadowlands.cs
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Wowthing.Web.csproj
Due: backend-build, backend-deploy, web-build, web-deploy

Fix lint issues
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
  frontend/utils/achievements/get-account-data.ts
Due: none

gitignore
  .gitignore
Due: none

Try fixing query type migration bullshit
  src/Wowthing.Lib/Contexts/WowDbContext.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add racial appearance sets
  data/transmog/_order
  data/transmog/misc/_misc.yml
  data/transmog/misc/racial.yml
  frontend/components/appearances/AppearancesTableCategory.svelte
  frontend/data/transmog-sets.ts
Due: none

Fix UserUploadJob not processing Mythic+ properly after reset
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Make covenant tooltips a little roomier
  frontend/components/tooltips/covenant/TooltipCovenant.svelte
Due: none

Fix various broken achievement handling
  frontend/components/achievements/AchievementsAchievementCriteriaAccount.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaCharacter.svelte
  frontend/utils/achievements/get-account-data.ts
  frontend/utils/achievements/get-character-data.ts
Due: none

Fix Vanilla appearance category name
  data/transmog/z0/_vanilla.yml
Due: none

Add Chromie appearance sets
  data/transmog/z6/misc.yml
Due: none

Add Legion dungeon/karazhan appearance sets
  data/transmog/z6/dungeons.yml
Due: none

Fix import name
  frontend/components/appearances/AppearancesTableCategory.svelte
Due: none

Categorize
  data/pets/_order
  data/pets/z6/_legion.yml
  data/pets/z6/order_halls.yml
  data/progress/z8/_shadowlands.yml
  data/toys/_order
  data/toys/professions/_professions.yml
  data/toys/professions/archaeology.yml
  data/toys/professions/engineering.yml
  data/toys/professions/fishing.yml
Due: none

Count collected Unavailable items in collection totals
  frontend/stores/user-collections.ts
Due: none

Add various useful functionality to Progress
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/data/character-class.ts
  frontend/types/static-data.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Progress/DataProgress.cs
  src/Wowthing.Backend/Models/Data/Progress/DataProgressData.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgress.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgressData.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgressGroup.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

Add some Legion data to Progress
  data/progress/_order
  data/progress/z6/_legion.yml
  data/progress/z6/balance_of_power.yml
  data/progress/z6/order_halls.yml
  data/progress/z6/storylines.yml
Due: none

Lint fixes
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
  frontend/components/home/table/row/HomeTableRowCovenant.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/tooltips/covenant/TooltipCovenant.svelte
  frontend/data/constants.ts
Due: none

Update JS dependencies
  frontend/yarn.lock
Due: none

Add more Shadowlands progress - Add spacer before first column in progress - Add support for filtering progress based on the first category requiredQuestIds
  data/progress/_order
  data/progress/z6/_legion.yml
  data/progress/z6/balance_of_power.yml
  data/progress/z6/order_halls.yml
  data/progress/z6/storylines.yml
  data/progress/z8/_shadowlands.yml
  data/progress/z8/covenants.yml
  data/progress/z8/korthia.yml
  data/progress/z8/storylines.yml
  frontend/components/progress/ProgressTable.svelte
  frontend/utils/get-progress.ts
Due: none
