Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Update JS dependencies
  frontend/yarn.lock
Due: none

Update instance short name override list
  src/Wowthing.Backend/Data/InstanceShortNameOverride.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/OutInstance.cs
Due: backend-build, backend-deploy

Add PlayerCharacterAddonData model
  frontend/components/characters/garrison-tree/CharactersGarrisonTree.svelte
  frontend/components/characters/shadowlands/CharactersShadowlands.svelte
  frontend/data/garrison.ts
  frontend/types/character.ts
  frontend/types/garrison.ts
  frontend/types/index.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220410213301_Add_PlayerCharacterAddonData.Designer.cs
  src/Wowthing.Lib/Migrations/20220410213301_Add_PlayerCharacterAddonData.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonData.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add data-id to character rows for easier debugging
  frontend/components/character-table/CharacterTableRow.svelte
Due: none

Remove debug spam
  frontend/components/zone-maps/ZoneMapsCounter.svelte
  frontend/stores/zone-map.ts
Due: none

Add another gem bonusID
  frontend/data/inventory-slot.ts
Due: none

Make base colours slightly darker
  frontend/scss/core.scss
  frontend/scss/variables.scss
Due: none

Sort raid lockouts in difficulty order and before other lockouts
  frontend/components/lockouts/Lockouts.svelte
  frontend/data/difficulty.ts
Due: none

Add Home/Gear column
  data/dumps/runeforgelegendaryability-9.2.5.43254.csv
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/row/HomeTableRowCallings.svelte
  frontend/components/home/table/row/HomeTableRowGear.svelte
  frontend/components/home/table/row/HomeTableRowProfessions.svelte
  frontend/components/images/IconifyIcon.svelte
  frontend/components/items/ItemsSearch.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/data/gear.ts
  frontend/data/legendary.ts
  frontend/scss/variables.scss
  frontend/stores/item-search.ts
  frontend/stores/local-storage/home.ts
  frontend/stores/local-storage/index.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

gitignore
  .gitignore
Due: none

Add missing helper scripts
  bin/dump_transmog.py
  bin/get_sets.py
  bin/hn.py
  bin/legendary.py
  bin/oof.js
  bin/sql.py
  bin/strip_dumps.py
  bin/test.py
  bin/update_dumps.py
  bin/update_dumps.sh
  bin/vendor.py
Due: none

Fix lint issues
  frontend/components/characters/garrison-tree/CharactersGarrisonTree.svelte
  frontend/components/home/table/row/HomeTableRowGear.svelte
Due: none

Fix Home/Gear breaking row height
  frontend/components/home/table/row/HomeTableRowGear.svelte
Due: none

Fix Home/Gear column not showing up in public view
  frontend/components/home/HomeTable.svelte
Due: none

Fix broken reactivity on Home/ProgressQuest columns
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
Due: none

Better fix for Home/Gear layout issues
  frontend/components/home/table/row/HomeTableRowGear.svelte
Due: none

Add tier set tooltip to Home/Gear
  frontend/components/home/table/row/HomeTableRowGear.svelte
  frontend/components/tooltips/tier-set/TooltipTierSet.svelte
  frontend/data/gear.ts
Due: none

Battle.net API ID/Secret should be in .env, not .dev file
  README.md
Due: none

Add some tips in case of trouble with local setup
  README.md
Due: none

Add raid skips to progress
  data/progress/_order
  data/progress/raid_skips.yml
  data/progress/upgrades.yml
  data/progress/z5/_warlords_of_draenor.yml
  data/progress/z5/raid_skips.yml
  data/progress/z6/raid_skips.yml
  data/progress/z7/_battle_for_azeroth.yml
  data/progress/z7/raid_skips.yml
  data/progress/z7/zone_quests.yml
  data/progress/z8/campaign_quests.yml
  data/progress/z8/korthia.yml
  data/progress/z8/raid_skips.yml
  data/progress/z8/upgrades.yml
  data/progress/z8/zereth_mortis.yml
  data/progress/z8/zone_quests.yml
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/progress/Progress.svelte
  frontend/components/progress/ProgressSidebar.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBodyRaidSkip.svelte
  frontend/components/progress/ProgressTableHead.svelte
  frontend/components/tooltips/progress-raid-skip/TooltipProgressRaidSkip.svelte
  frontend/scss/colours.scss
  frontend/types/data/static/progress.ts
  frontend/utils/get-saved-route.ts
  src/Wowthing.Backend/Models/Data/Progress/DataProgress.cs
  src/Wowthing.Backend/Models/Data/Progress/DataProgressGroup.cs
  src/Wowthing.Backend/Models/Data/Progress/OutProgressGroup.cs
Due: backend-build, backend-deploy

Fix M+ affix sets
  frontend/data/dungeon.ts
Due: none

Don't save MainUrl image, they're huge and not used
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
Due: backend-build, backend-deploy

Fix NRE
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
Due: backend-build, backend-deploy

Fix map<->instance mapping
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Fix Home header row not removing Status header cell
  frontend/components/home/table/HomeTableGroupHead.svelte
Due: none

Add class icons to Journal items with only one possible class
  frontend/components/journal/JournalItem.svelte
Due: none

Update class/quality CSS colouring
  frontend/scss/wow.scss
Due: none

Fix CharacterSpecializationsJob NRE again, probably
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
Due: backend-build, backend-deploy

Add #key to JournalInstance so that it stops reusing elements badly
  frontend/components/journal/JournalInstance.svelte
Due: none

Add SQL query to retrieve users wanting renames
  bin/sql.py
Due: none

Minor formatting
  frontend/components/images/ClassIcon.svelte
Due: none

Add more filtering options to Journal
  frontend/components/journal/JournalInstance.svelte
  frontend/stores/local-storage/journal.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Add encounter ID to JSON
  src/Wowthing.Backend/Converters/OutJournalEncounterConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Models/Data/Journal/OutJournalEncounter.cs
Due: backend-build, backend-deploy

Add some more encounters to the Journal ignore list
  src/Wowthing.Backend/Data/IgnoredJournalEncounter.cs
Due: backend-build, backend-deploy

Add more filter options for Journal
  frontend/apps/home/AppHome.svelte
  frontend/components/journal/JournalGroup.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/data/constants.ts
  frontend/stores/journal.ts
  frontend/stores/local-storage/journal.ts
  frontend/types/data/journal.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Fix Characters->Shadowlands error
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
Due: none

Fix ImportDumpsJob checking for the wrong off-hand inventory type
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Fix lint issues
  frontend/components/home/table/row/HomeTableRowGear.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/components/progress/Progress.svelte
Due: none

Fix Harmonious Forgelite's Spaulders price
  data/vendors/z8/covenant_kyrian.yml
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
