Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

backend: remove jank hardcoded character names
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build, backend-deploy

frontend: add constants and use for max level
  src/frontend/ts/components/characters/table/RowCovenant.svelte
  src/frontend/ts/components/characters/table/RowGold.svelte
  src/frontend/ts/components/characters/table/RowVault.svelte
  src/frontend/ts/components/common/character-table/row/Keystone.svelte
  src/frontend/ts/data/constants.ts
Due: web-build, web-deploy

Add mount speed display
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Enums/WowMountSkill.cs
  src/Wowthing.Lib/Migrations/20210605224556_Add_PlayerCharacter_Fields.Designer.cs
  src/Wowthing.Lib/Migrations/20210605224556_Add_PlayerCharacter_Fields.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/Team/TeamApiCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/RowMountSpeed.svelte
  src/frontend/ts/components/characters/table/RowStatuses.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/mythicplus/Table.svelte
  src/frontend/ts/data/chromie-time.ts
  src/frontend/ts/data/mount-skill.ts
  src/frontend/ts/types/character.ts
Due: backend-build, backend-deploy, web-build, web-deploy

Use camel case JSON keys by default
  src/Wowthing.Web/Startup.cs
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/common/character-table/Head.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/types/settings.ts
Due: web-build, web-deploy

Add settings for show class icon, show race icon, show spec icon
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/frontend/ts/types/settings.ts
Due: backend-build, backend-deploy, web-build, web-deploy

web: add Upload link to header
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Add upload/display of weekly anima/souls quests
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Backend/Models/Uploads/UploadWeeklyUghQuest.cs
  src/Wowthing.Lib/Extensions/StringExtensions.cs
  src/Wowthing.Lib/Migrations/20210606185450_Add_PlayerCharacterWeekly_UghQuests.Designer.cs
  src/Wowthing.Lib/Migrations/20210606185450_Add_PlayerCharacterWeekly_UghQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/RowUghQuest.svelte
  src/frontend/ts/components/characters/table/RowUghQuests.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/types/character.ts
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: remove debug spam
  src/frontend/ts/components/characters/table/RowMountSkill.svelte
Due: web-build, web-deploy

Add various settings for displaying things on the Home table
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/types/settings.ts
Due: backend-build, backend-deploy, web-build, web-deploy

README
  README.md
Due: none

web: add some slightly more useful text to the upload form
  src/Wowthing.Web/Views/Upload/Index.cshtml
Due: web-build, web-deploy

frontend: use table view as default for Home
  src/frontend/ts/apps/home/Routes.svelte
  src/frontend/ts/apps/home/Sidebar.svelte
Due: web-build, web-deploy

Fix some settings handling
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/components/characters/table/RowUghQuests.svelte
  src/frontend/ts/types/settings.ts
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: set min-width on TableIcon component so icons aren't tiny on mobile
  src/frontend/ts/components/common/TableIcon.svelte
Due: web-build, web-deploy

Add home/showCovenent setting
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/frontend/ts/components/characters/Table.svelte
  src/frontend/ts/types/settings.ts
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: fix some more settings show/hide bugs
  src/frontend/ts/components/characters/table/RowUghQuests.svelte
  src/frontend/ts/components/common/character-table/Head.svelte
Due: web-build, web-deploy

web: update footer attribution
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

frontend: replace @rollup/plugin-typescript with rollup-plugin-typescript2 since that actually works properly
  src/frontend/package.json
  src/frontend/rollup.config.js
  src/frontend/ts/components/characters/Cards.svelte
  src/frontend/ts/components/characters/card/Card.svelte
  src/frontend/ts/components/characters/table/RowCovenant.svelte
  src/frontend/ts/components/characters/table/RowGold.svelte
  src/frontend/ts/components/characters/table/RowMountSkill.svelte
  src/frontend/ts/components/characters/table/RowStatuses.svelte
  src/frontend/ts/components/characters/table/RowUghQuest.svelte
  src/frontend/ts/components/characters/table/RowUghQuests.svelte
  src/frontend/ts/components/collections/CollectionGroup.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/common/CharacterCovenant.svelte
  src/frontend/ts/components/common/Sidebar.svelte
  src/frontend/ts/components/common/TableIcon.svelte
  src/frontend/ts/components/common/character-table/Head.svelte
  src/frontend/ts/components/common/character-table/Row.svelte
  src/frontend/ts/components/common/character-table/Table.svelte
  src/frontend/ts/components/common/character-table/head/ItemLevel.svelte
  src/frontend/ts/components/common/character-table/head/Keystone.svelte
  src/frontend/ts/components/common/character-table/head/MythicPlusBadge.svelte
  src/frontend/ts/components/common/character-table/head/RaiderIo.svelte
  src/frontend/ts/components/common/character-table/row/ItemLevel.svelte
  src/frontend/ts/components/common/character-table/row/Keystone.svelte
  src/frontend/ts/components/common/character-table/row/RaiderIo.svelte
  src/frontend/ts/components/gear/TableRowItem.svelte
  src/frontend/ts/components/mythicplus/TableHeadDungeon.svelte
  src/frontend/ts/components/mythicplus/TableRowDungeon.svelte
  src/frontend/ts/components/reputations/TableHeadReputation.svelte
  src/frontend/ts/components/reputations/TableRowReputation.svelte
  src/frontend/yarn.lock
Due: web-build, web-deploy

gitignore
  .gitignore
Due: none

frontend: add svelte.config.js to keep tools happy
  src/frontend/svelte.config.js
Due: web-build, web-deploy

Add workflow to auto-assign github issues to github project
  .github/workflows/auto-assign-issues-to-project.yml
Due: none
