Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Fix maxLevel not saving for group by
  frontend/utils/get-character-group-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Move some unused toys to the skip list
  data/toys/_skip.yml
  data/toys/z7/battle_for_azeroth.yml
Due: none

Use DB site links for currency table icons
  frontend/components/currencies/CurrenciesTableHead.svelte
  frontend/components/links/CurrencyLink.svelte
Due: none

Fix achievement sorting in category view
  frontend/components/achievements/AchievementsCategory.svelte
Due: none

Fix achievement chain logic to work properly
  frontend/components/achievements/AchievementsAchievement.svelte
Due: none

Give headings some line height back, they look weird
  frontend/scss/core.scss
Due: none

Change item level tiers to be -3 from raid drops
  frontend/data/item-level-quality.ts
Due: none

Add Criteria/CriteriaTree to static achievement data
  src/Wowthing.Backend/Converters/OutAchievementConverter.cs
  src/Wowthing.Backend/Converters/OutCriteriaConverter.cs
  src/Wowthing.Backend/Converters/OutCriteriaTreeConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/Achievements/DumpAchievement.cs
  src/Wowthing.Backend/Models/Data/Achievements/DumpAchievementCategory.cs
  src/Wowthing.Backend/Models/Data/Achievements/DumpCriteria.cs
  src/Wowthing.Backend/Models/Data/Achievements/DumpCriteriaTree.cs
  src/Wowthing.Backend/Models/Data/Achievements/DumpModifierTree.cs
  src/Wowthing.Backend/Models/Data/Achievements/OutAchievement.cs
  src/Wowthing.Backend/Models/Data/Achievements/OutAchievementCategory.cs
  src/Wowthing.Backend/Models/Data/Achievements/OutCriteria.cs
  src/Wowthing.Backend/Models/Data/Achievements/OutCriteriaTree.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticAchievements.cs
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Getting achievements working more better
  frontend/components/achievements/AchievementsAchievement.svelte
  frontend/components/achievements/AchievementsAchievementCriteria.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
  frontend/components/achievements/AchievementsCategory.svelte
  frontend/types/achievement-data.ts
  frontend/utils/initialize-achievements.ts
Due: none

Update maximum covenant rank calculation, hopefully for the last time in 9.1
  frontend/components/home/table/RowCovenant.svelte
Due: none

Fix max covenant level yet again
  frontend/components/home/table/RowCovenant.svelte
Due: none

Update upload job for addon changes
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
Due: backend-build, backend-deploy

Fix up achievements loading logic
  frontend/components/achievements/Achievements.svelte
Due: none

Fix some NREs in user API
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Update data dumps to latest
  data/dumps/achievement-9.1.0.39804.csv
  data/dumps/achievement_category-9.1.0.39804.csv
  data/dumps/battlepetspecies-9.1.0.39804.csv
  data/dumps/criteria-9.1.0.39804.csv
  data/dumps/criteriatree-9.1.0.39804.csv
  data/dumps/currencycategory-9.1.0.39804.csv
  data/dumps/currencytypes-9.1.0.39804.csv
  data/dumps/faction-9.1.0.39804.csv
  data/dumps/journalinstance-9.1.0.39804.csv
  data/dumps/map-9.1.0.39804.csv
  data/dumps/modifiertree-9.1.0.39804.csv
  data/dumps/mount-9.1.0.39804.csv
  data/dumps/toy-9.1.0.39804.csv
  data/dumps/transmogset-9.1.0.39804.csv
  data/dumps/transmogsetgroup-9.1.0.39804.csv
  data/dumps/transmogsetitem-9.1.0.39804.csv
Due: none

Almost usable transmog implementation
  data/transmog/_order
  data/transmog/z8/raids.yml
  data/transmog/z8/shadowlands.yml
  frontend/components/transmog/Transmog.svelte
  frontend/components/transmog/TransmogSidebar.svelte
  frontend/components/transmog/TransmogTable.svelte
  frontend/components/transmog/TransmogTableCategory.svelte
  frontend/components/transmog/TransmogTableGroup.svelte
  frontend/components/transmog/TransmogTableSet.svelte
  frontend/data/expansion.ts
  frontend/scss/character-table.scss
  frontend/scss/variables.scss
  frontend/stores/index.ts
  frontend/stores/transmog.ts
  frontend/types/data/index.ts
  frontend/types/data/transmog.ts
  frontend/types/enums/playable-class.ts
  frontend/types/enums/wow.ts
  frontend/types/expansion.ts
  frontend/types/index.ts
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
  src/Wowthing.Backend/Models/Data/Transmog/DataTransmogCategory.cs
  src/Wowthing.Backend/Models/Data/Transmog/DataTransmogGroup.cs
  src/Wowthing.Backend/Models/Data/Transmog/DataTransmogSet.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogCategory.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogGroup.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogSet.cs
  src/Wowthing.Backend/Models/Redis/RedisTransmogCache.cs
  src/Wowthing.Lib/Enums/WowTransmogSetFlags.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

A whole lot more transmog work
  data/transmog/_order
  data/transmog/pvp/pvp.yml
  data/transmog/raids/raids.yml
  data/transmog/raids/z6_legion.yml
  data/transmog/raids/z8_shadowlands.yml
  data/transmog/z8/raids.yml
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/sidebar/SidebarEntry.svelte
  frontend/components/tooltips/transmog/TooltipTransmog.svelte
  frontend/components/transmog/Transmog.svelte
  frontend/components/transmog/TransmogSidebar.svelte
  frontend/components/transmog/TransmogTable.svelte
  frontend/components/transmog/TransmogTableCategory.svelte
  frontend/components/transmog/TransmogTableGroup.svelte
  frontend/components/transmog/TransmogTableSet.svelte
  frontend/data/inventory-type.ts
  frontend/data/transmog-sets.ts
  frontend/scss/variables.scss
  frontend/stores/index.ts
  frontend/stores/user-transmog.ts
  frontend/types/data/index.ts
  frontend/types/data/user-transmog.ts
  frontend/types/enums/index.ts
  frontend/types/enums/inventory-type.ts
  frontend/types/index.ts
  frontend/types/transmog.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210828052307_Add_PlayerAccountTransmog.Designer.cs
  src/Wowthing.Lib/Migrations/20210828052307_Add_PlayerAccountTransmog.cs
  src/Wowthing.Lib/Models/Player/PlayerAccountTransmog.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserTransmogData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add WoD/BfA raid transmog sets
  data/transmog/_order
  data/transmog/raids/z5_warlords_of_draenor.yml
  data/transmog/raids/z7_battle_for_azeroth.yml
Due: none

Fix some minor transmog bugs
  frontend/components/transmog/TransmogSidebar.svelte
  frontend/components/transmog/TransmogTableCategory.svelte
Due: none

Fix lint issues
  frontend/components/achievements/AchievementsAchievementCriteriaAccount.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaBar.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaCharacter.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
  frontend/components/transmog/TransmogTable.svelte
  frontend/components/transmog/TransmogTableSet.svelte
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
