Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Set min-height on Journal groups to try to reduce layout jank
  frontend/components/journal/JournalGroup.svelte
Due: none

Fix callings tooltip reactivity
  frontend/components/tooltips/callings/TooltipCallings.svelte
Due: none

Add instance bonusIDs for WoD dungeons
  src/Wowthing.Backend/Data/InstanceBonusIds.cs
Due: backend-build, backend-deploy

Remove #key from JournalInstance
  frontend/components/journal/JournalInstance.svelte
Due: none

Implement update() for basic tippy action
  frontend/utils/tippy.ts
Due: none

Add Mythic+ Rating sort option
  frontend/components/settings/sections/SettingsSortCharacters.svelte
  frontend/utils/get-character-sort-func.ts
  frontend/utils/to-nice.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix toDigits to actually generate useful numbers for sorting
  frontend/utils/to-digits.ts
Due: none

Rework HomeTableRowStatuses (#413)
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/row/HomeTableRowStatuses.svelte
Due: none

Remove Deadlier Warglaives from BfA DH campaign (#408)
  data/progress/z6/order_halls.yml
Due: none

Add support for checking a specific criteria of an addon achievement (#408)
  data/progress/z8/zone_quests.yml
  frontend/utils/get-progress.ts
Due: none

Fix JournalItem class icon reactivity
  frontend/components/journal/JournalItem.svelte
Due: none

Debug cleanups
  frontend/components/common/ParsedText.svelte
  frontend/stores/journal.ts
  frontend/utils/get-progress.ts
Due: none

Handle errors properly in FancyStore.fetch (#420)
  frontend/types/fancy-store.ts
Due: none

Handle non-English versions of "Fortified" for M+ scores
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Don't use last-modified for character sub-jobs, they're always changed if the initial job was
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterStatisticsJob.cs
Due: backend-build, backend-deploy

Remove account last_visit check from scheduler query and increase basic character check to every 8 hours
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Run UserCharactersJob while the user's auth token is valid (#418)
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220621002736_Add_ApplicationUser_LastApiCheck.Designer.cs
  src/Wowthing.Lib/Migrations/20220621002736_Add_ApplicationUser_LastApiCheck.cs
  src/Wowthing.Lib/Migrations/20220621005146_Add_SchedulerUserQuery.Designer.cs
  src/Wowthing.Lib/Migrations/20220621005146_Add_SchedulerUserQuery.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Lib/Models/Query/SchedulerUserQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add a button to refresh character list if it's been more than 24 hours since the last API check (#417)
  frontend/apps/home/AppHome.svelte
  frontend/apps/home/AppHomeRefresh.svelte
  frontend/types/user-data.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Add Infra-green Reflex Sight as a valid enchant
  frontend/data/inventory-slot.ts
Due: none

Update Gorgrond zone map
  data/zone-maps/z5/gorgrond.yml
Due: none

Increase user account check to every 60 minutes
  src/Wowthing.Lib/Models/Query/SchedulerUserQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Reset user general cache on login
  src/Wowthing.Web/Controllers/AuthenticationController.cs
Due: web-build, web-deploy

Add error handling to CharacterMythicKeystoneProfile*Job
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
Due: backend-build, backend-deploy

Add PlayerCharacter.LastModified column and use it instead of Redis
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/Misc/ImageJob.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Models/JobHttpResult.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Migrations/20220622042430_Add_PlayerCharacter_LastApiModified.Designer.cs
  src/Wowthing.Lib/Migrations/20220622042430_Add_PlayerCharacter_LastApiModified.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Query/SchedulerCharacterQuery.cs
  src/Wowthing.Lib/Utilities/JankTimer.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Make Poundfist a killBig
  data/zone-maps/z5/gorgrond.yml
Due: none

Fix Venthyr campaign Sinfall questId
  data/progress/z8/campaign_quests.yml
Due: none

Finish first pass of WoD zone maps (#400)
  data/zone-maps/z5/frostfire_ridge.yml
  data/zone-maps/z5/tanaan_jungle.yml
Due: none

Set Redis AbortOnConnectFail=false to maybe deal with intermittent k8s connectivity issues
  src/Wowthing.Lib/Utilities/RedisUtilities.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix CharacterAchievementsJob not saving completed criteria
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
Due: backend-build, backend-deploy

Add Tabard handling to ImportDumpsJob
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
  src/Wowthing.Lib/Enums/WowArmorSubclass.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add cloak limitations to character classes
  src/Wowthing.Lib/Data/CharacterClass.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix 404 error chomping in UserCharactersJob
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Lib/Utilities/JankTimer.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Tabard armor type
  frontend/types/enums/armor-type.ts
Due: none

Don't offset vendor zone map entries for a text box they don't use
  frontend/components/zone-maps/ZoneMapsThing.svelte
Due: none

Flag lower difficulties as completed if a higher difficulty raid skip quest is completed
  frontend/components/progress/ProgressTableBodyRaidSkip.svelte
Due: none

Even more zone maps
  data/zone-maps/z4/isle_of_thunder.yml
  data/zone-maps/z4/jade_forest.yml
  data/zone-maps/z4/krasarang_wilds.yml
  data/zone-maps/z4/kun_lai_summit.yml
  data/zone-maps/z4/townlong_steppes.yml
  data/zone-maps/z4/vale_of_eternal_blossoms.yml
  data/zone-maps/z5/frostfire_ridge.yml
  data/zone-maps/z5/gorgrond.yml
  data/zone-maps/z5/shadowmoon_valley.yml
  data/zone-maps/z5/spires_of_arak.yml
  data/zone-maps/z5/talador.yml
  data/zone-maps/z5/tanaan_jungle.yml
  data/zone-maps/z6/azsuna.yml
Due: none

Rework UserDataStore initialization to not depend on StaticStore
  frontend/stores/user.ts
Due: none

Add character name and faction icon to reputation tooltips
  frontend/components/reputations/ReputationsTableRow.svelte
  frontend/components/tooltips/reputation/TooltipReputation.svelte
  frontend/scss/tooltips.scss
Due: none

Remove superfluous minimumLevels on BfA zone maps
  data/zone-maps/z7/drustvar.yml
  data/zone-maps/z7/mechagon.yml
  data/zone-maps/z7/nazmir.yml
  data/zone-maps/z7/stormsong_valley.yml
  data/zone-maps/z7/tiragarde_sound.yml
  data/zone-maps/z7/voldun.yml
  data/zone-maps/z7/zuldazar.yml
Due: none

Change BfA zone map required quests to earlier in the chains
  data/zone-maps/z7/_battle_for_azeroth.yml
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
