Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add RaiderIO data retrieval/storage/display
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/DataRaiderIoScoreTiersJob.cs
  src/Wowthing.Backend/Models/API/NonBlizzard/ApiDataRaiderIoScoreTier.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/frontend/scss/variables.scss
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/characters/CharactersTable.svelte
  src/frontend/ts/components/characters/table/CharacterTableRow.svelte
  src/frontend/ts/components/common/TableCharacterRaiderIo.svelte
  src/frontend/ts/data/raider-io.ts
  src/frontend/ts/types/static-data.ts
Due: backend-build, backend-deploy, web-build, web-deploy

backend: set super conservative request limits because Blizzard sucks
  src/Wowthing.Backend/Program.cs
Due: backend-build, backend-deploy

frontend: huge pile of changes to have a reusable CharacterTable component instead of repeating things over and over and over again
  src/frontend/rollup.config.js
  src/frontend/scss/variables.scss
  src/frontend/ts/components/characters/CharactersTable.svelte
  src/frontend/ts/components/characters/table/CharacterRowCovenant.svelte
  src/frontend/ts/components/characters/table/CharacterTableRow.svelte
  src/frontend/ts/components/common/CharacterRow.svelte
  src/frontend/ts/components/common/CharacterRowItemLevel.svelte
  src/frontend/ts/components/common/CharacterRowRaiderIo.svelte
  src/frontend/ts/components/common/CharacterTable.svelte
  src/frontend/ts/components/common/CharacterTableHead.svelte
  src/frontend/ts/components/common/CharacterTableHeadItemLevel.svelte
  src/frontend/ts/components/common/CharacterTableHeadRaiderIo.svelte
  src/frontend/ts/components/common/TableCharacterName.svelte
  src/frontend/ts/components/common/TableCharacterNameHead.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/GearItems.svelte
  src/frontend/ts/components/mythicplus/MythicPlusDungeon.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableCell.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableRow.svelte
  src/frontend/ts/components/reputations/ReputationTable.svelte
  src/frontend/ts/components/reputations/ReputationTableCell.svelte
  src/frontend/ts/components/reputations/ReputationTableIcon.svelte
  src/frontend/ts/components/reputations/ReputationTableRow.svelte
  src/frontend/ts/utils/get-item-url.ts
Due: web-build, web-deploy

Change PlayerEquippedItems to a JSONB-stored dictionary, multiple rows sucks
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210221013330_Remove_PlayerEquippedItem.Designer.cs
  src/Wowthing.Lib/Migrations/20210221013330_Remove_PlayerEquippedItem.cs
  src/Wowthing.Lib/Migrations/20210221013756_Add_PlayerEquippedItems.Designer.cs
  src/Wowthing.Lib/Migrations/20210221013756_Add_PlayerEquippedItems.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterEquippedItems.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

backend: handle task cancellation inside GetJson
  src/Wowthing.Backend/Jobs/JobBase.cs
Due: backend-build, backend-deploy

backend: set the HttpClient timeout to 10s, default 100s is a bit ridiculous
  src/Wowthing.Backend/Program.cs
Due: backend-build, backend-deploy

Clean up warnings
  src/Wowthing.Backend/Extensions/IHostExtensions.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystonePeriodIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystoneSeasonIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableClassIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataPlayableRaceIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataRealmIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationFactionIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataReputationTiersIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataTitleIndexJob.cs
  src/Wowthing.Backend/Jobs/IScheduledJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/DataRaiderIoScoreTiersJob.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
  src/Wowthing.Web/Misc/SlugRouteConstraint.cs
  src/Wowthing.Web/Misc/UsernameRouteConstraint.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: fix heirloom colour
  src/frontend/scss/variables.scss
Due: web-build, web-deploy

frontend: small updates to quality colours
  src/frontend/scss/variables.scss
Due: web-build, web-deploy

frontend: make RaiderIO column always have a decimal place
  src/frontend/ts/components/common/CharacterRowRaiderIo.svelte
Due: web-build, web-deploy

frontend: update dungeon icons
  src/frontend/ts/data/dungeon.ts
Due: web-build, web-deploy

Update Dockerfiles to use .NET 5 images, oops
  src/Wowthing.Backend/Dockerfile
  src/Wowthing.Web/Dockerfile
Due: backend-build, backend-deploy, web-build, web-deploy

web: helps if you commit viewmodel changes
  src/Wowthing.Web/ViewModels/UserViewModel.cs
Due: web-build, web-deploy

backend: handle errors better in UserCharactersJob
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
Due: backend-build, backend-deploy

web: try to get cache control headers working properly
  src/Wowthing.Web/Extensions/IApplicationBuilderExtensions.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

frontend: add mythic+ season badges
  src/frontend/scss/tooltips.scss
  src/frontend/scss/variables.scss
  src/frontend/scss/wow.scss
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/characters/CharacterCovenant.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/common/CharacterHeadMythicPlusSeasonBadge.svelte
  src/frontend/ts/components/common/CharacterRowMythicPlusSeasonBadge.svelte
  src/frontend/ts/components/common/CharacterRowRaiderIo.svelte
  src/frontend/ts/components/images/sources/WowthingImage.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableCell.svelte
  src/frontend/ts/data/dungeon.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/utils/initialize-character.ts
Due: web-build, web-deploy

backend: pull all season data from RaiderIO
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
  src/Wowthing.Backend/Models/API/NonBlizzard/ApiCharacterRaiderIo.cs
Due: backend-build, backend-deploy

frontend: add tooltips for mythic+ runs
  src/frontend/scss/global.scss
  src/frontend/scss/mythic-plus.scss
  src/frontend/scss/tooltips.scss
  src/frontend/ts/components/common/CharacterRowRaiderIo.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTable.svelte
  src/frontend/ts/components/mythicplus/MythicPlusTableCell.svelte
  src/frontend/ts/components/reputations/ReputationTableCell.svelte
  src/frontend/ts/data/dungeon.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/mythic-plus.ts
  src/frontend/ts/utils/get-item-level-quality.ts
  src/frontend/ts/utils/get-mythic-plus-run-tooltip.ts
  src/frontend/ts/utils/initialize-character.ts
Due: web-build, web-deploy

backend: reset Character.DelayHours on a 304 response, Blizzard's garbage API is randomly 404ing on entirely valid characters
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
Due: backend-build, backend-deploy

backend: handle mythic keystone profile not having any data without crashing
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
Due: backend-build, backend-deploy

backend: change job queueing to have a single job queue service polling Redis and use a Channel to wake up worker services
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/JobQueueService.cs
  src/Wowthing.Backend/Services/StateService.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build, backend-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
