Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

frontend: clean up ItemLevel cell
  frontend/components/character-table/head/ItemLevel.svelte
  frontend/components/character-table/row/ItemLevel.svelte
  frontend/scss/variables.scss
Due: none

frontend: clean up Keystone cells
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/scss/variables.scss
Due: none

frontend: move getMythicPlusVaultTooltip mess to a component
  frontend/components/character-table/head/Spacer.svelte
  frontend/components/character-table/head/Vault.svelte
  frontend/components/character-table/row/MythicPlusBadge.svelte
  frontend/components/character-table/row/Spacer.svelte
  frontend/components/character-table/row/VaultMythicPlus.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/mythic-plus/Table.svelte
  frontend/scss/variables.scss
  frontend/scss/vault-mythic-tooltip.scss
  frontend/tooltips/mythic-plus-vault/Run.svelte
  frontend/tooltips/mythic-plus-vault/Tooltip.svelte
  frontend/types/character.ts
  frontend/utils/get-mythic-plus-vault-tooltip.ts
Due: none

frontend: add colour for >=20 M+ dungeons
  frontend/data/dungeon.ts
Due: none

frontend: rename SCSS variables for clarity
  frontend/components/character-table/Head.svelte
  frontend/components/character-table/Row.svelte
  frontend/components/character-table/head/ItemLevel.svelte
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/character-table/head/RaiderIo.svelte
  frontend/components/character-table/head/Vault.svelte
  frontend/components/character-table/row/ItemLevel.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/character-table/row/VaultMythicPlus.svelte
  frontend/components/character-table/row/VaultPvp.svelte
  frontend/components/character-table/row/VaultRaid.svelte
  frontend/components/common/TableIcon.svelte
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/home/table/RowMountSpeed.svelte
  frontend/components/home/table/head/Covenant.svelte
  frontend/components/home/table/head/Mount.svelte
  frontend/components/reputations/TableHeadReputation.svelte
  frontend/scss/variables.scss
  frontend/tooltips/mythic-plus-vault/Run.svelte
Due: none

Add Torghast to backend/lib/web - add PlayerCharacterWeekly.Torghast column - add Torghast handling to upload job - add user setting for Torghast display
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacterMythicDungeon.cs
  src/Wowthing.Lib/Migrations/20210628002014_Add_PlayerCharacterWeekly_Torghast.Designer.cs
  src/Wowthing.Lib/Migrations/20210628002014_Add_PlayerCharacterWeekly_Torghast.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: add Torghast display
  frontend/components/home/Table.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/head/Torghast.svelte
  frontend/components/home/table/row/Torghast.svelte
  frontend/data/constants.ts
  frontend/scss/global.scss
  frontend/scss/mixins.scss
  frontend/scss/tippy.scss
  frontend/scss/tooltips.scss
  frontend/scss/tooltips/mythic-plus.scss
  frontend/scss/tooltips/torghast.scss
  frontend/scss/tooltips/vault-mythic.scss
  frontend/scss/variables.scss
  frontend/tooltips/torghast/Tooltip.svelte
  frontend/types/character.ts
  frontend/types/settings.ts
Due: none

frontend: fix svelte-check errors
  frontend/components/home/table/row/Torghast.svelte
  frontend/tooltips/torghast/Tooltip.svelte
Due: none

web: update project link in footer
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

backend: update currency handling in upload job for addon changes
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
Due: backend-build, backend-deploy

data: update dumps to 9.1.0.39226
  data/dumps/battlepetspecies-9.1.0.39226.csv
  data/dumps/currencycategory-9.1.0.39226.csv
  data/dumps/currencytypes-9.1.0.39226.csv
  data/dumps/journalinstance-9.1.0.39226.csv
  data/dumps/mount-9.1.0.39226.csv
  data/dumps/toy-9.1.0.39226.csv
  data/dumps/transmogset-9.1.0.39226.csv
  data/dumps/transmogsetgroup-9.0.5.38134.csv
  data/dumps/transmogsetgroup-9.1.0.39226.csv
  data/dumps/transmogsetitem-9.1.0.39226.csv
  data/dumps/update.sh
Due: none

frontend: update some widths
  frontend/scss/variables.scss
Due: none

gitignore
  .gitignore
Due: none

frontend: move hardcoded icon names to Constants
  frontend/components/home/table/RowStatuses.svelte
  frontend/components/home/table/RowUghQuests.svelte
  frontend/data/constants.ts
Due: none

Add lockouts to backend/lib/web
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IntExtensions.cs
  src/Wowthing.Lib/Migrations/20210628061448_Add_PlayerCharacterLockouts.Designer.cs
  src/Wowthing.Lib/Migrations/20210628061448_Add_PlayerCharacterLockouts.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterLockouts.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: move all enums to /types/enums
  frontend/components/gear/TableRowItem.svelte
  frontend/components/gear/TableRowItems.svelte
  frontend/data/character-specialization.ts
  frontend/data/dungeon.ts
  frontend/data/inventory-slot.ts
  frontend/types/character-specialization.ts
  frontend/types/character.ts
  frontend/types/enums/chromie-time.ts
  frontend/types/enums/faction.ts
  frontend/types/enums/index.ts
  frontend/types/enums/instance-type.ts
  frontend/types/enums/inventory-slot.ts
  frontend/types/enums/playable-class.ts
  frontend/types/enums/role.ts
  frontend/utils/get-character-group-func.ts
  frontend/utils/get-character-sort-func.ts
  frontend/utils/initialize-character.ts
Due: none

Change lockouts to store ResetTime as a DateTime
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterLockouts.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add instances to static data
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataInstance.cs
  src/Wowthing.Backend/Models/Data/DumpJournalInstance.cs
  src/Wowthing.Backend/Models/Data/DumpMap.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: add basic Lockouts display
  frontend/apps/home/Routes.svelte
  frontend/apps/home/Sidebar.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/lockouts/Lockouts.svelte
  frontend/components/lockouts/TableGroupHead.svelte
  frontend/components/lockouts/TableGroupHeadInstance.svelte
  frontend/components/lockouts/TableRowLockout.svelte
  frontend/data/difficulty.ts
  frontend/scss/table.scss
  frontend/scss/variables.scss
  frontend/types/character.ts
  frontend/types/difficulty.ts
  frontend/types/dungeon.ts
  frontend/types/index.ts
  frontend/types/static-data.ts
  frontend/types/user-data.ts
  frontend/utils/initialize-user.ts
Due: none

Add JournalInstance/Map dumps
  data/dumps/map-9.1.0.39226.csv
Due: none

Fix missing curly brace, merge fail
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

web: change a file to force deploy
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
