Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Create Nx workspace
  .editorconfig
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  nx.json
  nx.md
  package-lock.json
  package.json
  packages/.gitkeep
  tools/generators/.gitkeep
  tools/tsconfig.tools.json
  tsconfig.base.json
  workspace.json
Due: none

Add some Nx plugins
  package-lock.json
  package.json
Due: none

Add a basic Svelte app
  .editorconfig
  .eslintrc.json
  .vscode/extensions.json
  apps/nx-test-e2e/.eslintrc.json
  apps/nx-test-e2e/cypress.json
  apps/nx-test-e2e/project.json
  apps/nx-test-e2e/src/fixtures/example.json
  apps/nx-test-e2e/src/integration/app.spec.ts
  apps/nx-test-e2e/src/support/app.po.ts
  apps/nx-test-e2e/src/support/commands.ts
  apps/nx-test-e2e/src/support/index.ts
  apps/nx-test-e2e/tsconfig.json
  apps/nx-test/.eslintrc.js
  apps/nx-test/index.html
  apps/nx-test/package.json
  apps/nx-test/project.json
  apps/nx-test/public/favicon.png
  apps/nx-test/public/global.css
  apps/nx-test/src/App.svelte
  apps/nx-test/src/main.ts
  apps/nx-test/svelte.config.cjs
  apps/nx-test/tsconfig.app.json
  apps/nx-test/tsconfig.json
  apps/nx-test/tsconfig.spec.json
  apps/nx-test/vitest.config.ts
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  vitest.config.ts
  workspace.json
Due: none

Add a basic Svelte library
  packages/testlib/.eslintrc.js
  packages/testlib/project.json
  packages/testlib/src/index.ts
  packages/testlib/svelte.config.cjs
  packages/testlib/tsconfig.json
  packages/testlib/tsconfig.lib.json
  packages/testlib/tsconfig.spec.json
  packages/testlib/vitest.config.ts
  tsconfig.base.json
  workspace.json
Due: none

Fix lint issues
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
  frontend/components/common/ParsedText.svelte
  frontend/components/forms/GroupedCheckboxInput.svelte
  frontend/components/home/table/row/HomeTableRowDailies.svelte
  frontend/components/tooltips/progress/TooltipProgress.svelte
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/data/icons.ts
  frontend/utils/get-progress.ts
Due: none

Comment out Honeyback Drone/Hivemother reps for now
  data/reputations/z7_battle_for_azeroth.yml
Due: none

Add The Sunreavers to WotLK mounts
  data/mounts/z2/reputations.yml
Due: none

THERE ARE FOUR SPACES
  .editorconfig
Due: none

Skip journal items that aren't for the current difficulty
  src/Wowthing.Backend/Data/InstanceDifficulties.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Use spacer columns instead of alt colours in Reputations
  frontend/components/gear/GearTableRowItems.svelte
  frontend/components/progress/ProgressTable.svelte
  frontend/components/reputations/ReputationsTable.svelte
  frontend/components/reputations/ReputationsTableRow.svelte
  frontend/scss/table.scss
Due: none

Fix reputation tooltip reactivity
  frontend/components/reputations/ReputationsTableRow.svelte
  frontend/components/tooltips/reputation/TooltipReputation.svelte
Due: none

Reputation data updates
  data/reputations/_order
  data/reputations/misc.yml
  data/reputations/racial.yml
  data/reputations/unavailable.yml
  data/reputations/z0_vanilla.yml
  data/reputations/z1_the_burning_crusade.yml
  data/reputations/z2_wrath_of_the_lich_king.yml
  data/reputations/z3_cataclysm.yml
  data/reputations/z4_mists_of_pandaria.yml
Due: none

Check all difficulties for a usable lockout in Home
  frontend/components/home/table/row/HomeTableRowLockouts.svelte
  frontend/data/difficulty.ts
Due: none

Add hardcoded difficulties for Deadmines
  src/Wowthing.Backend/Data/InstanceDifficulties.cs
  src/Wowthing.Backend/Data/JournalEncounterDifficulties.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Add "item" zone map farm drop type
  frontend/data/farm.ts
  frontend/stores/zone-map.ts
  frontend/types/enums/farms.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Lib/Enums/ZoneMaps.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Blazing Chest to Timeless Isle zone map
  data/zone-maps/z4/timeless_isle.yml
Due: none

Simplify switch statement
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add ChrClasses, ChrRaces, ChrSpecialization dumps (#449)
  data/dumps/deDE/chrclasses-9.2.5.44232.csv
  data/dumps/deDE/chrraces-9.2.5.44232.csv
  data/dumps/deDE/chrspecialization-9.2.5.44232.csv
  data/dumps/enUS/chrclasses-9.2.5.44232.csv
  data/dumps/enUS/chrraces-9.2.5.44232.csv
  data/dumps/enUS/chrspecialization-9.2.5.44232.csv
  data/dumps/esES/chrclasses-9.2.5.44232.csv
  data/dumps/esES/chrraces-9.2.5.44232.csv
  data/dumps/esES/chrspecialization-9.2.5.44232.csv
  data/dumps/esMX/chrclasses-9.2.5.44232.csv
  data/dumps/esMX/chrraces-9.2.5.44232.csv
  data/dumps/esMX/chrspecialization-9.2.5.44232.csv
  data/dumps/frFR/chrclasses-9.2.5.44232.csv
  data/dumps/frFR/chrraces-9.2.5.44232.csv
  data/dumps/frFR/chrspecialization-9.2.5.44232.csv
  data/dumps/itIT/chrclasses-9.2.5.44232.csv
  data/dumps/itIT/chrraces-9.2.5.44232.csv
  data/dumps/itIT/chrspecialization-9.2.5.44232.csv
  data/dumps/ptBR/chrclasses-9.2.5.44232.csv
  data/dumps/ptBR/chrraces-9.2.5.44232.csv
  data/dumps/ptBR/chrspecialization-9.2.5.44232.csv
  data/dumps/ruRU/chrclasses-9.2.5.44232.csv
  data/dumps/ruRU/chrraces-9.2.5.44232.csv
  data/dumps/ruRU/chrspecialization-9.2.5.44232.csv
Due: none

Add sort by armour type and class name
  frontend/components/settings/sections/SettingsSortCharacters.svelte
  frontend/utils/get-character-sort-func.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add new dumps to strip_dumps
  bin/strip_dumps.py
Due: none

Add some MoP treasures to zone maps
  data/zone-maps/z4/krasarang_wilds.yml
  data/zone-maps/z4/kun_lai_summit.yml
Due: none

Change GoldSnapshotService to insert a 0 for realms that no longer have characters but did previously
  src/Wowthing.Backend/Services/GoldSnapshotService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220704212551_Add_GoldSnapshotQuery.Designer.cs
  src/Wowthing.Lib/Migrations/20220704212551_Add_GoldSnapshotQuery.cs
  src/Wowthing.Lib/Models/Query/GoldSnapshotQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix Highmountain Tribes quest ID
  frontend/data/quests.ts
Due: none

Add quick sort for Lockouts (#350)
  frontend/components/lockouts/Lockouts.svelte
  frontend/components/lockouts/LockoutsTableHeadInstance.svelte
  frontend/components/reputations/ReputationsTableHead.svelte
  frontend/stores/local-storage/index.ts
  frontend/stores/local-storage/lockouts.ts
Due: none

Fix auto-added imports
  frontend/components/lockouts/Lockouts.svelte
Due: none

Add missing SL calling quest mappings
  src/Wowthing.Backend/Data/Quests.cs
Due: backend-build, backend-deploy

Fix invalid imports
  apps/frontend/components/achievements/AchievementsAchievementCriteriaCharacter.svelte
  apps/frontend/stores/user-transmog.ts
  apps/frontend/stores/user.ts
  apps/frontend/stores/zone-map.ts
  apps/frontend/utils/tippy.ts
Due: none

Fix invalid CSS comments
  apps/frontend/scss/sanitize/sanitize.css
Due: none

Use Vite for better build magic
  .gitignore
  apps/frontend/apps/home.ts
  apps/frontend/apps/home/AppHome.svelte
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/rollup.config.js
  apps/frontend/scss/global.scss
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  package-lock.json
  package.json
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/User/Index.cshtml
  tsconfig.base.json
Due: web-build, web-deploy

Get vite running in docker
  apps/frontend/development.Dockerfile
  apps/frontend/vite.config.ts
  bin/run_dev.sh
  docker-compose.yml
Due: none

Nx leftovers
  tools/generators/.gitkeep
  tools/tsconfig.tools.json
Due: none

More updates for rearrangement
  .dockerignore
  .github/workflows/build-and-deploy.yml
  .github/workflows/ci.yml
  ef.sh
Due: none

Fix dockerfiles
  apps/backend/Dockerfile
  apps/web/Dockerfile
Due: none

More Dockerfile fixes
  apps/web/Dockerfile
Due: none

Really fix web Dockerfile for sure this time
  apps/web/Dockerfile
Due: none

CI fixes
  .github/workflows/ci.yml
  apps/frontend/vite.config.ts
Due: none
