Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add workflow to auto-assign github issues to github project
  .github/workflows/auto-assign-issues-to-project.yml
Due: none

Remove non-working workflow
  .github/workflows/auto-assign-issues-to-project.yml
Due: none

Fix broken layout on non-app pages
  src/Wowthing.Web/Views/Error/403.cshtml
  src/Wowthing.Web/Views/Error/404.cshtml
  src/Wowthing.Web/Views/Error/Error.cshtml
  src/Wowthing.Web/Views/Home/Index.cshtml
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/frontend/scss/core.scss
Due: web-build, web-deploy

web: fix Upload/Index layout
  src/Wowthing.Web/Views/Upload/Index.cshtml
Due: web-build, web-deploy

web: fix authentication config setting login/logout paths incorrectly
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

web: actually redirect to returnUrl in Login
  src/Wowthing.Web/Controllers/AuthenticationController.cs
Due: web-build, web-deploy

frontend: force bump trim-newlines for security vulnerability
  src/frontend/package.json
  src/frontend/yarn.lock
Due: web-build, web-deploy

Update README
  README.md
Due: none

frontend: remove unused tsconfig settings
  frontend/tsconfig.json
Due: none

frontend: add eslint
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix Docker paths for frontend move
  .gitlab-ci.yml
  docker-compose.yml
  frontend/development.Dockerfile
  src/Wowthing.Web/Dockerfile
Due: web-build, web-deploy

Add PlayerCharacterAchievements model and job
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterAchievements.cs
  src/Wowthing.Lib/Extensions/ListExtensions.cs
  src/Wowthing.Lib/Migrations/20210613215037_Add_PlayerCharacterAchievements.Designer.cs
  src/Wowthing.Lib/Migrations/20210613215037_Add_PlayerCharacterAchievements.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAchievements.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Various missing file changes for #23
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/WowDbContextModelSnapshot.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add PlayerCharacterProfessions model and job
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterProfessions.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20210614013626_Add_PlayerCharacterProfessions.Designer.cs
  src/Wowthing.Lib/Migrations/20210614013626_Add_PlayerCharacterProfessions.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterProfessions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: rearrange some more files
  frontend/apps/home/Routes.svelte
  frontend/components/character-table/Head.svelte
  frontend/components/character-table/Row.svelte
  frontend/components/character-table/Table.svelte
  frontend/components/character-table/head/ItemLevel.svelte
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/character-table/head/MythicPlusBadge.svelte
  frontend/components/character-table/head/RaiderIo.svelte
  frontend/components/character-table/row/ItemLevel.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/character-table/row/MythicPlusBadge.svelte
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/gear/Gear.svelte
  frontend/components/home/Cards.svelte
  frontend/components/home/Table.svelte
  frontend/components/home/card/Card.svelte
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/home/table/RowGold.svelte
  frontend/components/home/table/RowMountSkill.svelte
  frontend/components/home/table/RowStatuses.svelte
  frontend/components/home/table/RowUghQuest.svelte
  frontend/components/home/table/RowUghQuests.svelte
  frontend/components/home/table/RowVault.svelte
  frontend/components/mythicplus/Table.svelte
  frontend/components/reputations/Table.svelte
Due: none

frontend: fix file watching in dev
  frontend/rollup.config.js
Due: none

frontend: large changes for grouping support
  frontend/components/character-table/Head.svelte
  frontend/components/character-table/Row.svelte
  frontend/components/character-table/SpacerRow.svelte
  frontend/components/character-table/Table.svelte
  frontend/components/character-table/head/Vault.svelte
  frontend/components/character-table/row/Gold.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/character-table/row/Vault.svelte
  frontend/components/common/TableIcon.svelte
  frontend/components/gear/TableRowItems.svelte
  frontend/components/home/Table.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/RowGold.svelte
  frontend/components/mythicplus/Table.svelte
  frontend/components/reputations/Table.svelte
  frontend/data/faction.ts
  frontend/scss/variables.scss
  frontend/types/character.ts
  frontend/utils/get-character-group-func.ts
  frontend/utils/get-character-sort-func.ts
Due: none
