Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Use global usings in Web - Fix most warnings in Web
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Controllers/ErrorController.cs
  src/Wowthing.Web/Controllers/HomeController.cs
  src/Wowthing.Web/Controllers/ImageController.cs
  src/Wowthing.Web/Controllers/TeamControlller.cs
  src/Wowthing.Web/Controllers/UploadController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/Converters/UserApiCharacterCurrencyConverter.cs
  src/Wowthing.Web/Converters/UserHistoryGoldConverter.cs
  src/Wowthing.Web/Converters/UserPetDataPetConverter.cs
  src/Wowthing.Web/Extensions/HttpContextExtensions.cs
  src/Wowthing.Web/Extensions/IApplicationBuilderExtensions.cs
  src/Wowthing.Web/Extensions/UserManagerExtensions.cs
  src/Wowthing.Web/Forms/ApiSettingsForm.cs
  src/Wowthing.Web/Forms/TeamAddCharacterForm.cs
  src/Wowthing.Web/GlobalUsings.cs
  src/Wowthing.Web/Misc/SlugRouteConstraint.cs
  src/Wowthing.Web/Misc/UsernameRouteConstraint.cs
  src/Wowthing.Web/Models/Search/ItemSearchResponseCharacter.cs
  src/Wowthing.Web/Models/Search/ItemSearchResponseItem.cs
  src/Wowthing.Web/Models/Team/TeamApi.cs
  src/Wowthing.Web/Models/UserAchievementData.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
  src/Wowthing.Web/Models/UserCollectionData.cs
  src/Wowthing.Web/Models/UserHistoryGold.cs
  src/Wowthing.Web/Models/UserQuestData.cs
  src/Wowthing.Web/Models/UserTransmogData.cs
  src/Wowthing.Web/Services/UploadService.cs
  src/Wowthing.Web/Services/UriService.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/User/Index.cshtml
Due: web-build, web-deploy

Fix more warnings
  src/Wowthing.Backend/Services/GoldSnapshotService.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add missing GlobalUsing file
  src/Wowthing.Lib/GlobalUsings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add WowPet.ItemId column
  src/Wowthing.Lib/Migrations/20220227030123_Add_WowPet_ItemId.Designer.cs
  src/Wowthing.Lib/Migrations/20220227030123_Add_WowPet_ItemId.cs
  src/Wowthing.Lib/Models/Wow/WowPet.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Skip the obnoxious .NET 6 reload prompt in dev images
  src/Wowthing.Backend/development.Dockerfile
  src/Wowthing.Web/development.Dockerfile
Due: backend-build, backend-deploy, web-build, web-deploy

Update WowPet.ItemId in ImportDumpsJob
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Add workaround for some pet data having incorrect SummonSpellID
  src/Wowthing.Backend/Jobs/Misc/ImportDumpsJob.cs
Due: backend-build, backend-deploy

Add items-that-summon-pets to Auctions->Extra Pets
  src/Wowthing.Web/Controllers/ApiAuctionController.cs
  src/Wowthing.Web/Models/UserAuctionData.cs
Due: web-build, web-deploy

Add SidebarItem.forceWildcard
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
  frontend/types/sidebar.ts
Due: none

Add pagination to Auctions pages
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/auctions/Auctions.svelte
  frontend/components/auctions/AuctionsExtraPets.svelte
  frontend/components/auctions/AuctionsMissing.svelte
  frontend/components/auctions/AuctionsSidebar.svelte
  frontend/components/auctions/AuctionsView.svelte
  frontend/components/common/Paginate.svelte
  frontend/data/icons.ts
Due: none

Add padding to Auctions sort order container
  frontend/components/auctions/AuctionsView.svelte
Due: none

Fix Characters->Shadowlands covenant nav spacing
  frontend/components/characters/shadowlands/CharactersShadowlands.svelte
Due: none

Fix timer output for ImageJob
  src/Wowthing.Backend/Jobs/Misc/ImageJob.cs
Due: backend-build, backend-deploy

Only update changed fields in CharacterAchievementsJob
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
Due: backend-build, backend-deploy

Remove useless Cache timer point in API requests
  src/Wowthing.Backend/Jobs/JobBase.cs
Due: backend-build, backend-deploy

Add output caching for achievements API
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Set LastApiCheck on new characters or it gets set to -infinity
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
Due: backend-build, backend-deploy

Fix CharacterAchievementsJob NREs
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
Due: backend-build, backend-deploy

Create a single Redis ConnectionMultiplexer per worker instead of one per job
  src/Wowthing.Backend/Jobs/JobFactory.cs
Due: backend-build, backend-deploy

Throw an InvalidJsonException for SchedulerCharacterQuery failures
  src/Wowthing.Backend/Exceptions/InvalidJsonException.cs
  src/Wowthing.Backend/GlobalUsings.cs
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterPetsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
Due: backend-build, backend-deploy

Clean up C# warnings
  src/Wowthing.Backend/Converters/OutZoneMapDropConverter.cs
  src/Wowthing.Backend/Converters/OutZoneMapFarmConverter.cs
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
  src/Wowthing.Backend/Data/InstanceBonusIds.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Data/DataAuctionsJob.cs
  src/Wowthing.Backend/Jobs/NonBlizzard/CharacterRaiderIoJob.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Backend/Utilities/DataUtilities.cs
  src/Wowthing.Backend/Utilities/RateLimitHttpMessageHandler.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterLockouts.cs
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UploadController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/Team/Details.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Use pre-compiled constructor expressions instead of Activator in JobFactory
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Services/WorkerService.cs
Due: backend-build, backend-deploy

Use DbContext pooling in Web
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Oops
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Don't try to use DbContext pooling. Again.
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/IServiceCollectionExtensions.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Settings->Layout->Lockouts
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsMagicLists.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/components/settings/SettingsView.svelte
  frontend/components/settings/sections/SettingsLockouts.svelte
Due: none

Fix DataRaiderIoScoreTiersJob
  src/Wowthing.Backend/Jobs/NonBlizzard/DataRaiderIoScoreTiersJob.cs
  src/Wowthing.Backend/Models/API/NonBlizzard/ApiCharacterRaiderIo.cs
  src/Wowthing.Backend/Models/API/NonBlizzard/ApiDataRaiderIoScoreTier.cs
Due: backend-build, backend-deploy

Set current M+ season to 7
  frontend/data/constants.ts
Due: none

Fix Mythic+ table sorting
  frontend/components/mythic-plus/MythicPlusTable.svelte
Due: none

Use max-width for character name/realm name columns
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/scss/variables.scss
Due: none

Use percentages for all weekly quests
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
Due: none

Make weekly quest columns slightly less wide
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
  frontend/scss/variables.scss
Due: none

Fix Home Lockout columns increasing row height
  frontend/components/lockouts/LockoutsTableRowLockout.svelte
Due: none

Fix WowItem.GetCalculatedClassMask NRE
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix zone maps data to use the first ItemModifiedAppearance by ModifierID rather than by ID
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
Due: backend-build, backend-deploy

Add --colour-class variable to .class-* CSS classes
  frontend/scss/wow.scss
Due: none

Change zone maps tooltips to make saved characters more obvious
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Skip character table grouping in M+ season displays
  frontend/components/mythic-plus/MythicPlusTable.svelte
Due: none

Fix lint issues
  frontend/components/forms/RadioGroup.svelte
  frontend/components/home/table/row/HomeTableRowProgressQuest.svelte
  frontend/components/settings/sections/SettingsLockouts.svelte
Due: none

Fix Gold History bug with tooltips and totals
  frontend/components/history/HistoryGold.svelte
Due: none

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
