Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Use simple arrays for more zone maps data to reduce JSON size
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaBar.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsCovenant.svelte
  frontend/components/links/WowheadLink.svelte
  frontend/components/tooltips/reputation-header/TooltipReputationHeaderEntry.svelte
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/components/zone-maps/ZoneMapsThing.svelte
  frontend/data/character-class.ts
  frontend/data/farm.ts
  frontend/data/item-class.ts
  frontend/data/weapons.ts
  frontend/stores/zone-map.ts
  frontend/types/character-class.ts
  frontend/types/data/zone-map.ts
  frontend/types/enums/armor-type.ts
  frontend/types/enums/farms.ts
  frontend/types/enums/weapon-subclass.ts
  frontend/utils/get-character-sort-func.ts
  frontend/utils/get-transmog-class-mask.ts
  frontend/utils/journal/get-filtered-items.ts
  src/Wowthing.Backend/Converters/OutZoneMapFarmConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapCategory.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapDrop.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapFarm.cs
  src/Wowthing.Lib/Enums/ZoneMaps.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Clean up a bunch of zone-maps data
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/azsuna.yml
  data/zone-maps/z6/broken_shore.yml
  data/zone-maps/z6/eredath.yml
  data/zone-maps/z6/highmountain.yml
  data/zone-maps/z6/krokuun.yml
  data/zone-maps/z6/stormheim.yml
  data/zone-maps/z6/suramar.yml
  data/zone-maps/z6/valsharah.yml
  data/zone-maps/z7/darkshore.yml
  data/zone-maps/z7/drustvar.yml
  data/zone-maps/z7/mechagon.yml
  data/zone-maps/z7/nazjatar.yml
  data/zone-maps/z7/nazmir.yml
  data/zone-maps/z7/stormsong_valley.yml
  data/zone-maps/z7/tiragarde_sound.yml
  data/zone-maps/z7/uldum.yml
  data/zone-maps/z7/vale_of_eternal_blossoms.yml
  data/zone-maps/z7/voldun.yml
  data/zone-maps/z7/zuldazar.yml
  data/zone-maps/z8/ardenweald.yml
  data/zone-maps/z8/bastion.yml
  data/zone-maps/z8/korthia.yml
  data/zone-maps/z8/maldraxxus.yml
  data/zone-maps/z8/revendreth.yml
  data/zone-maps/z8/the_maw.yml
Due: none

Invert Hide Characters checkboxes so that off = hidden
  frontend/components/settings/sections/SettingsHideCharacters.svelte
Due: none

Add some jank realm toggling to Hide Characters
  frontend/components/settings/sections/SettingsHideCharacters.svelte
Due: none

Reinstate achievement exports
  frontend/components/achievements/AchievementsAchievementCriteriaBar.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
Due: none

Remove the invisible Vulpera pieces from transmog sets so people stop asking about them
  data/transmog/misc/racial.yml
Due: none

Fix lint issues
  frontend/components/settings/sections/SettingsHideCharacters.svelte
Due: none

Add linear/logarithmic setting to HistoryGold
  frontend/components/history/HistoryGold.svelte
  frontend/stores/local-storage/history.ts
Due: none

Add PlayerCharacterAddonQuests.OtherQuests
  frontend/stores/user-quests.ts
  frontend/types/data/user-quest.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Migrations/20211230002748_Add_PlayerCharacterAddonQuests_OtherQuests.Designer.cs
  src/Wowthing.Lib/Migrations/20211230002748_Add_PlayerCharacterAddonQuests_OtherQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add accountQuest progress type
  frontend/utils/get-progress.ts
Due: none

Add Maw/Torghast/Korthia unlocks to progress
  data/progress/_order
  data/progress/unlocks/z8_shadowlands.yml
Due: none

Fix overwriting covenant data in UserUploadJob, again
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add Penitence of Purity chest to Bastion zone map
  data/zone-maps/z8/bastion.yml
Due: none

Add Kyrian requirement to Larion Pouncer drop
  data/zone-maps/z8/bastion.yml
Due: none

Fix some missing null coalesces
  frontend/components/characters/shadowlands/CharactersShadowlands.svelte
  frontend/components/characters/shadowlands/CharactersShadowlandsSoulbind.svelte
Due: none

Add minimumLevel to Penitence of Purity treasure
  data/zone-maps/z8/bastion.yml
Due: none

Fix covenant research staying active forever
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add comments
  data/progress/unlocks/z8_shadowlands.yml
Due: none

Fix covenant logic in UserUploadJob, definitely for real this time
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add PlayerCharacterAddonQuests.CallingCompleted and .CallingExpires
  src/Wowthing.Lib/Migrations/20220101221438_Add_PlayerCharacterAddonQuests_Callings.Designer.cs
  src/Wowthing.Lib/Migrations/20220101221438_Add_PlayerCharacterAddonQuests_Callings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add calling handling to UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
Due: backend-build, backend-deploy

Add callings to user quest API endpoint
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: web-build, web-deploy

Add Callings display to Home
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/HomeTableGroupHead.svelte
  frontend/components/home/table/head/HomeTableHeadCallings.svelte
  frontend/components/home/table/row/HomeTableRowCallings.svelte
  frontend/components/settings/sections/SettingsLayout.svelte
  frontend/scss/variables.scss
  frontend/types/data/user-quest.ts
  frontend/utils/get-next-reset.ts
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Try some fancy sorting for Gold History
  frontend/components/history/HistoryGold.svelte
Due: none

Skip character grouping when sorting by currency/reputation
  frontend/components/character-table/CharacterTable.svelte
  frontend/components/currencies/CurrenciesTable.svelte
  frontend/components/reputations/ReputationsTable.svelte
Due: none

Fix lint issues
  frontend/components/home/table/row/HomeTableRowCallings.svelte
Due: none

Categorize
  data/toys/_order
  data/toys/world_events/_world_events.yml
  data/toys/world_events/timewalking.yml
  data/toys/z1/_the_burning_crusade.yml
  data/toys/z3/_cataclysm.yml
  data/toys/z4/_mists_of_pandaria.yml
  data/toys/z5/_warlords_of_draenor.yml
  data/toys/z6/_legion.yml
Due: none

Add Purity's Edge Greatblade to Penitence of Purity treasure
  data/zone-maps/z8/bastion.yml
Due: none

Fix 2h axe showing as 1h axe in zone maps
  frontend/data/weapons.ts
Due: none

Add IconText component to replace :foo: in strings with a foo icon
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/achievements/AchievementsAchievementCriteriaTree.svelte
  frontend/components/common/IconText.svelte
  frontend/components/home/table/row/HomeTableRowCallings.svelte
  frontend/components/lockouts/LockoutsTableRowLockout.svelte
  frontend/components/settings/SettingsMagicLists.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
  frontend/data/icons.ts
Due: none

Fix debug spam
  frontend/components/home/table/row/HomeTableRowCallings.svelte
Due: none

Remove Teams sidebar entry
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Include media URL in public non-anonymized user API output
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Fix NRE in UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add text overflow handling to SubSidebar
  frontend/components/common/IconText.svelte
  frontend/components/sub-sidebar/SubSidebar.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Change Journal sidebar width to match Sets
  frontend/components/journal/JournalSidebar.svelte
Due: none

Fix SubSidebarEntry width in various cases
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
Due: none

Categorize
  data/pets/z8/covenants.yml
  data/pets/z8/drops.yml
Due: none

Add imageStrings for IconText
  frontend/components/appearances/AppearancesTableCategory.svelte
  frontend/components/common/IconText.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
  frontend/data/icons.ts
Due: none

Make artifact quality text a little lighter
  frontend/scss/variables.scss
Due: none
