Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

backend: add currencies to static data
  data/dumps/currencycategory-9.1.0.39121.csv
  data/dumps/currencytypes-9.1.0.39121.csv
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DataCurrency.cs
  src/Wowthing.Backend/Models/Data/DataCurrencyCategory.cs
  src/Wowthing.Backend/Models/Data/DumpCurrencyCategory.cs
  src/Wowthing.Backend/Models/Data/DumpCurrencyTypes.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Utilities/LoadDumpCsv.cs
  src/Wowthing.Backend/Utilities/RateLimitHttpMessageHandler.cs
Due: backend-build, backend-deploy

frontend: fix errors from JsonConvert camelCase change
  frontend/components/character-table/row/RaiderIo.svelte
  frontend/components/collections/CollectionGroup.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/components/reputations/Sidebar.svelte
  frontend/components/reputations/Table.svelte
  frontend/components/reputations/TableHeadReputation.svelte
  frontend/components/reputations/TableRowReputation.svelte
  frontend/types/static-data.ts
  frontend/utils/find-reputation-tier.ts
  frontend/utils/get-realm-name.ts
  frontend/utils/initialize-sets.ts
Due: none

backend: add currency handling to upload job
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterCurrencies.cs
Due: backend-build, backend-deploy, web-build, web-deploy

web: enable response compression in dev
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

web: add character currencies to user API endpoint
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Add currencies display
  frontend/apps/home/Routes.svelte
  frontend/apps/home/Sidebar.svelte
  frontend/components/currencies/Currencies.svelte
  frontend/components/currencies/Sidebar.svelte
  frontend/components/currencies/Table.svelte
  frontend/components/currencies/TableHeadCurrency.svelte
  frontend/components/currencies/TableRowCurrency.svelte
  frontend/data/currencies.ts
  frontend/types/character.ts
  frontend/types/static-data.ts
  src/Wowthing.Backend/Models/Data/DataCurrency.cs
  src/Wowthing.Backend/Models/Data/DataCurrencyCategory.cs
Due: backend-build, backend-deploy

frontend: set z-index on table headers so they don't get weird when sticky scrolling
  frontend/components/character-table/Table.svelte
Due: none

frontend: change WowdbImage/WowthingImage to wrap a common Icon component
  frontend/components/character-table/Row.svelte
  frontend/components/character-table/Table.svelte
  frontend/components/common/CharacterCovenant.svelte
  frontend/components/common/TableIcon.svelte
  frontend/components/gear/TableRowItems.svelte
  frontend/components/images/Icon.svelte
  frontend/components/images/sources/WowdbImage.svelte
  frontend/components/images/sources/WowthingImage.svelte
  frontend/components/mythic-plus/TableHeadDungeon.svelte
  frontend/scss/core.scss
Due: none

frontend: upgrade packages to latest
  frontend/yarn.lock
Due: none

frontend: minor cleanups
  frontend/components/character-table/Head.svelte
  frontend/components/character-table/row/MythicPlusBadge.svelte
Due: none

frontend: move character-table styling to SASS
  frontend/components/character-table/Table.svelte
  frontend/scss/character-table.scss
  frontend/scss/global.scss
Due: none

frontend: fix tippy util function not destroying the tippy.js instance
  frontend/utils/tippy.ts
Due: none

frontend: add tippyComponent util function to render a Svelte component as the tooltip content
  frontend/utils/tippy.ts
Due: none

frontend: move getMythicPlusRunTooltip mess to a component
  frontend/components/mythic-plus/TableRowDungeon.svelte
  frontend/rollup.config.js
  frontend/scss/global.scss
  frontend/scss/mythic-plus-tooltip.scss
  frontend/svelte.config.js
  frontend/tooltips/mythic-plus-runs/Member.svelte
  frontend/tooltips/mythic-plus-runs/Run.svelte
  frontend/tooltips/mythic-plus-runs/Tooltip.svelte
  frontend/types/character.ts
  frontend/types/dungeon.ts
  frontend/utils/get-mythic-plus-run-tooltip.ts
Due: none

frontend: standardize ClassIcon/RaceIcon/SpecializationIcon
  frontend/components/character-table/Row.svelte
  frontend/components/images/ClassIcon.svelte
  frontend/components/images/RaceIcon.svelte
  frontend/components/images/SpecializationIcon.svelte
  frontend/components/team/Team.svelte
Due: none

frontend: fix svelte-check warnings
  frontend/tooltips/mythic-plus-runs/Run.svelte
Due: none

frontend: change M+ keystone to a single table cell instead of 3
  frontend/components/character-table/Head.svelte
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/home/Table.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/mythic-plus/Table.svelte
  frontend/data/constants.ts
  frontend/scss/character-table.scss
  frontend/scss/mixins.scss
  frontend/scss/variables.scss
Due: none

frontend: increase tooltip font sizes
  frontend/scss/tooltips.scss
Due: none

frontend: change RowCovenant to a single table cell instead of 2
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/home/table/head/Covenant.svelte
  frontend/scss/mixins.scss
  frontend/scss/variables.scss
  frontend/types/covenant.ts
Due: none

frontend: change RowMountSpeed to a single table cell instead of 2
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/home/table/RowMountSpeed.svelte
  frontend/components/home/table/head/Mount.svelte
  frontend/scss/core.scss
  frontend/scss/mixins.scss
  frontend/scss/variables.scss
Due: none

frontend: clean up ItemLevel cell
  frontend/components/character-table/head/ItemLevel.svelte
  frontend/components/character-table/row/ItemLevel.svelte
  frontend/scss/variables.scss
Due: none
