Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

web: change a file to force deploy
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

data: add 9.1 reputations
  data/reputations/shadowlands.yml
Due: none

data: add paragon to the other SL reps
  data/reputations/shadowlands.yml
Due: none

data: add faction dump
  data/dumps/faction-9.1.0.39226.csv
Due: none

data: add Stitchmasters rep
  data/reputations/shadowlands.yml
Due: none

backend: use faction dump for reputations
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/DumpFaction.cs
  src/Wowthing.Backend/Models/Data/OutReputation.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
Due: backend-build, backend-deploy

backend: disable DataReputationFactionIndex job
  src/Wowthing.Backend/Jobs/Data/DataReputationFactionIndexJob.cs
Due: backend-build, backend-deploy

data: add Marasmius rep
  data/reputations/shadowlands.yml
Due: none

Add PlayerCharacterReputations.ExtraReputation* columns for addon reps
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Migrations/20210701003002_Add_PlayerCharacterReputations_ExtraReputation.Designer.cs
  src/Wowthing.Lib/Migrations/20210701003002_Add_PlayerCharacterReputations_ExtraReputation.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterReputations.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: fall back to basic reputation tiers if the provided one is invalid (eg Marasmius)
  frontend/components/reputations/TableRowReputation.svelte
Due: none

Add "Shaping Fate" weekly ugh quest storage/display
  frontend/components/home/table/GroupHead.svelte
  frontend/components/home/table/RowUghQuest.svelte
  frontend/components/home/table/RowUghQuests.svelte
  frontend/data/constants.ts
  frontend/scss/variables.scss
  frontend/types/character.ts
  frontend/types/settings.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
Due: backend-build, backend-deploy, web-build, web-deploy

frontend: initial version of new Settings
  frontend/components/forms/Checkbox.svelte
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/components/settings/SettingsHome.svelte
  frontend/components/settings/SettingsRoutes.svelte
  frontend/components/settings/SettingsSidebar.svelte
  frontend/scss/forms.scss
  frontend/scss/global.scss
  frontend/scss/layout/view.scss
  frontend/scss/sanitize/sanitize.css
  frontend/scss/settings.scss
Due: none

frontend: only show Settings in sidebar if not public
  frontend/apps/home/Sidebar.svelte
Due: none

frontend: watch *.css for changes, eg sanitize/ files
  frontend/rollup.config.js
Due: none

Get settings working
  frontend/apps/home/Routes.svelte
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsGeneral.svelte
  frontend/components/settings/SettingsHome.svelte
  frontend/components/settings/SettingsPrivacy.svelte
  frontend/components/settings/SettingsSave.svelte
  frontend/scss/forms.scss
  frontend/scss/sanitize/sanitize.css
  frontend/scss/settings.scss
  frontend/scss/variables.scss
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: web-build, web-deploy

frontend: change UghQuests to single cells
  frontend/components/home/table/RowCovenant.svelte
  frontend/components/home/table/RowMountSpeed.svelte
  frontend/components/home/table/RowUghQuest.svelte
  frontend/components/home/table/row/Torghast.svelte
  frontend/data/constants.ts
  frontend/scss/colours.scss
  frontend/scss/global.scss
  frontend/types/user-data.ts
Due: none

frontend: fix lint issues
  frontend/components/home/table/RowUghQuest.svelte
  frontend/components/lockouts/TableGroupHeadInstance.svelte
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsSave.svelte
Due: none

frontend: remove construction sign from Settings
  frontend/apps/home/Sidebar.svelte
Due: none

Add basic API keys
  frontend/components/settings/Settings.svelte
  frontend/components/settings/SettingsApiKey.svelte
  src/Wowthing.Lib/Migrations/20210704172636_Add_ApplicationUser_ApiKey.Designer.cs
  src/Wowthing.Lib/Migrations/20210704172636_Add_ApplicationUser_ApiKey.cs
  src/Wowthing.Lib/Models/ApplicationUser.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Wowthing.All solution to avoid multiple IDE windows
  Wowthing.All.sln
Due: none

web: add automatic request decompression middleware
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/Wowthing.Web.csproj
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
