Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add note/npcId to farm data
  data/farms/z8/korthia.yml
  frontend/components/tooltips/farm/TooltipFarm.svelte
  frontend/types/data/farm.ts
  src/Wowthing.Backend/Models/Data/Farms/DataFarmFarm.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmFarm.cs
Due: backend-build, backend-deploy

Fix double tooltip on currency header
  frontend/components/currencies/CurrenciesTableHead.svelte
Due: none

Fix Toys error if it's the first collection loaded
  frontend/components/collections/Toys.svelte
Due: none

Use DataUtilities to load transmog data
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
  src/Wowthing.Backend/Models/Data/Transmog/DataTransmogCategory.cs
  src/Wowthing.Backend/Models/Data/Transmog/OutTransmogCategory.cs
Due: backend-build, backend-deploy

Hopefully fix wonky mount query
  src/Wowthing.Lib/Models/Query/MountQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Helps if you escape curly braces and name the columns correctly
  src/Wowthing.Lib/Models/Query/MountQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add the fake Honkstrasza realm to StaticDataStore
  frontend/stores/static.ts
Due: none

Add support for multiple quest IDs on farms
  frontend/components/farms/FarmsMap.svelte
  frontend/components/tooltips/farm/TooltipFarm.svelte
  frontend/data/character-class.ts
  frontend/data/farm.ts
  frontend/types/data/farm.ts
  frontend/types/enums/weapon-type.ts
  frontend/utils/get-farm-status.ts
  src/Wowthing.Backend/Models/Data/Farms/DataFarmCategory.cs
  src/Wowthing.Backend/Models/Data/Farms/DataFarmFarm.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmCategory.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmFarm.cs
Due: backend-build, backend-deploy

Add Ardenweald/Bastion/Korthia/Maldraxxus farm data
  data/farms/_order
  data/farms/z8/ardenweald.yml
  data/farms/z8/bastion.yml
  data/farms/z8/korthia.yml
  data/farms/z8/maldraxxus.yml
  data/farms/z8/revendreth.yml
Due: none

Update Upload page
  frontend/scss/core.scss
  frontend/scss/landing-page.scss
  src/Wowthing.Web/Views/Home/Index.cshtml
  src/Wowthing.Web/Views/Upload/Index.cshtml
Due: web-build, web-deploy

Mark file input as required on Upload page
  src/Wowthing.Web/Views/Upload/Index.cshtml
Due: web-build, web-deploy

Handle using item IDs in farms instead of appearance IDs, appearance IDs are annoying
  src/Wowthing.Backend/Jobs/Misc/CacheFarmsJob.cs
  src/Wowthing.Backend/Models/Data/DumpItemModifiedAppearance.cs
Due: backend-build, backend-deploy

Add DaggerAgility and DaggerIntellect weapon types
  data/farms/z8/korthia.yml
  frontend/data/character-class.ts
  frontend/types/enums/weapon-type.ts
  frontend/utils/get-farm-status.ts
Due: none

Move Farm checkbox state to a LocalStorage-backed store
  frontend/components/farms/Farms.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/stores/local-storage/farm.ts
  frontend/utils/get-farm-status.ts
Due: none

Replace all farm appearance IDs with item IDs
  data/farms/z8/ardenweald.yml
  data/farms/z8/bastion.yml
  data/farms/z8/korthia.yml
  data/farms/z8/maldraxxus.yml
  data/farms/z8/revendreth.yml
Due: none

Increase API rate limit and number of workers in production
  src/Wowthing.Backend/appsettings.Development.json
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

Add The Maw to farms
  data/farms/_order
  data/farms/z8/ardenweald.yml
  data/farms/z8/bastion.yml
  data/farms/z8/korthia.yml
  data/farms/z8/maldraxxus.yml
  data/farms/z8/revendreth.yml
  data/farms/z8/the_maw.yml
  frontend/components/farms/FarmsFarm.svelte
  frontend/components/links/NpcLink.svelte
  frontend/data/character-class.ts
  frontend/types/enums/weapon-type.ts
  frontend/utils/get-farm-status.ts
Due: none

Fix typo
  data/farms/z8/korthia.yml
Due: none

Sort farm tooltips so that needed drops are first
  frontend/components/tooltips/farm/TooltipFarm.svelte
Due: none

Update CacheFarmsJob to save Farm quest ID data to a file
  src/Wowthing.Backend/Jobs/Misc/CacheFarmsJob.cs
Due: backend-build, backend-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
