Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Add Val'sharah zone map data
  data/zone-maps/z6/valsharah.yml
Due: none

Standardize how cached JSON data is stored and retrieved - Redirect incorrect cached JSON hash requests to the correct one
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheZoneMapsJob.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Add the only useful Secret Treasure to the Revendreth zone map
  data/zone-maps/z8/revendreth.yml
Due: none

Add BfA Season 3 PvP appearance sets
  data/transmog/z7/pvp.yml
Due: none

Add basic item storage
  src/Wowthing.Backend/Jobs/Misc/ImportItemsJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Data/DumpItemSparse.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/ItemLocation.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20211115065900_Add_WowItem.Designer.cs
  src/Wowthing.Lib/Migrations/20211115065900_Add_WowItem.cs
  src/Wowthing.Lib/Migrations/20211115071349_Add_PlayerCharacterItems.Designer.cs
  src/Wowthing.Lib/Migrations/20211115071349_Add_PlayerCharacterItems.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterItems.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add dumps to LFS
  data/dumps/achievement-9.1.5.40843.csv
  data/dumps/achievement_category-9.1.5.40843.csv
  data/dumps/battlepetspecies-9.1.5.40843.csv
  data/dumps/creature-9.1.5.40843.csv
  data/dumps/criteria-9.1.5.40843.csv
  data/dumps/criteriatree-9.1.5.40843.csv
  data/dumps/currencycategory-9.1.5.40843.csv
  data/dumps/currencytypes-9.1.5.40843.csv
  data/dumps/faction-9.1.5.40843.csv
  data/dumps/item-9.1.5.40843.csv
  data/dumps/itemmodifiedappearance-9.1.5.40843.csv
  data/dumps/itemnamedescription-9.1.5.40843.csv
  data/dumps/itemsparse-9.1.5.41031.csv
  data/dumps/journalinstance-9.1.5.40843.csv
  data/dumps/map-9.1.5.40843.csv
  data/dumps/modifiertree-9.1.5.40843.csv
  data/dumps/mount-9.1.5.40843.csv
  data/dumps/toy-9.1.5.40843.csv
  data/dumps/transmogset-9.1.5.40843.csv
  data/dumps/transmogsetgroup-9.1.5.40843.csv
  data/dumps/transmogsetitem-9.1.5.40843.csv
Due: none

gitattributes
  .gitattributes
Due: none

Add Doomwalker world boss
  frontend/data/dungeon.ts
Due: none

Add bank/reagent bank storage locations
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Enums/ItemLocation.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Check out LFS files in build-and-deploy workflow
  .github/workflows/build-and-deploy.yml
Due: none

Replace single PlayerCharacterItems per character with a PlayerCharacterItem per character item
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/ItemLocation.cs
  src/Wowthing.Lib/Migrations/20211117185640_Remove_PlayerCharacterItems.Designer.cs
  src/Wowthing.Lib/Migrations/20211117185640_Remove_PlayerCharacterItems.cs
  src/Wowthing.Lib/Migrations/20211117211913_Add_PlayerCharacterItem.Designer.cs
  src/Wowthing.Lib/Migrations/20211117211913_Add_PlayerCharacterItem.cs
  src/Wowthing.Lib/Migrations/20211118002853_Add_WowItem_Index.Designer.cs
  src/Wowthing.Lib/Migrations/20211118002853_Add_WowItem_Index.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterItem.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterItems.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update UserUpload job to handle new addon items formats
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
Due: backend-build, backend-deploy

Move ApiSettingsForm to separate file
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Forms/ApiSettingsForm.cs
Due: web-build, web-deploy

Add item-search API endpoint
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Forms/ApiItemSearchForm.cs
  src/Wowthing.Web/Models/Search/ItemSearchResponseCharacter.cs
  src/Wowthing.Web/Models/Search/ItemSearchResponseItem.cs
  src/Wowthing.Web/Wowthing.Web.csproj
Due: web-build, web-deploy

Misc home table fixes
  frontend/components/home/HomeTable.svelte
  frontend/components/home/table/head/HomeTableHeadLockouts.svelte
Due: none

Make lockout instance names not wrap
  frontend/components/lockouts/LockoutsTableHeadInstance.svelte
Due: none

Add fancy borders to the basic .table class
  frontend/scss/table.scss
Due: none

Add item search
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/forms/Select.svelte
  frontend/components/forms/TextInput.svelte
  frontend/components/items/Items.svelte
  frontend/components/items/ItemsSearch.svelte
  frontend/components/items/ItemsSidebar.svelte
  frontend/scss/variables.scss
  frontend/stores/index.ts
  frontend/stores/item-search.ts
  frontend/stores/user-transmog.ts
  frontend/types/enums/index.ts
  frontend/types/enums/items.ts
  frontend/types/items/index.ts
  frontend/types/items/search.ts
  frontend/utils/get-item-url.ts
Due: none

Fix lint issues
  frontend/components/forms/TextInput.svelte
  frontend/components/items/ItemsSearch.svelte
  frontend/components/items/ItemsSidebar.svelte
Due: none

Replace PlayerAccountTransmog with PlayerCharacterTransmog
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/appearances/AppearancesSidebar.svelte
  frontend/components/appearances/AppearancesTableCategory.svelte
  frontend/components/appearances/AppearancesTableSet.svelte
  frontend/stores/user-transmog.ts
  frontend/stores/zone-map.ts
  frontend/types/data/user-item.ts
  frontend/types/data/user-transmog.ts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20211118064655_Remove_PlayerAccountTransmog_Add_PlayerCharacterTransmog.Designer.cs
  src/Wowthing.Lib/Migrations/20211118064655_Remove_PlayerAccountTransmog_Add_PlayerCharacterTransmog.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterTransmog.cs
  src/Wowthing.Lib/Models/Query/AccountTransmogQuery.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserTransmogData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Use a split query for UserUploadJob to reduce database load
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Fix ImportItemsJob running once a minute instead of once an hour
  src/Wowthing.Backend/Jobs/Misc/ImportItemsJob.cs
Due: backend-build, backend-deploy

Add missing pg_trgm extension to WowItem index migration
  src/Wowthing.Lib/Migrations/20211118002853_Add_WowItem_Index.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Optimization work on LuaToJsonConverter
  src/Wowthing.Lib/Utilities/LuaToJsonConverter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Improve UserUploadJob logging
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Helps if we check out LFS files in the build step also
  .github/workflows/build-and-deploy.yml
Due: none

Update cache checks in ci workflow
  .github/workflows/ci.yml
Due: none

Move unimplemented pets/toys to _skip
  data/pets/z8/_shadowlands.yml
  data/toys/_skip.yml
  data/toys/z6/_legion.yml
  data/toys/z6/drops.yml
  data/toys/z7/_battle_for_azeroth.yml
  data/toys/z8/_shadowlands.yml
Due: none

Start on avoiding database saves when nothing has actually changed in UserUploadJob
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Fix Fel-Afflicted SKyfin ID in zone maps
  data/zone-maps/z6/antoran_wastes.yml
  data/zone-maps/z6/eredath.yml
  data/zone-maps/z6/krokuun.yml
Due: none

Add PlayerCharacterCurrency model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20211118064655_Remove_PlayerAccountTransmog_Add_PlayerCharacterTransmog.cs
  src/Wowthing.Lib/Migrations/20211120205327_Add_PlayerCharacterCurrency.Designer.cs
  src/Wowthing.Lib/Migrations/20211120205327_Add_PlayerCharacterCurrency.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterCurrency.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update UserUploadJob for addon changes
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Extensions/StringExtensions.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterLockouts.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix currencies in user API
  src/Wowthing.Backend/Jobs/Misc/CacheZoneMapsJob.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix currencies in frontend
  frontend/components/currencies/CurrenciesTableBody.svelte
  frontend/types/character.ts
Due: none

Fix UserUploadJob error when user has no PlayerCharacterLockouts
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy
