Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Remove duplicated CSS
  frontend/scss/character-table.scss
Due: none

Fix wonky mount data
  data/mounts/misc/_misc.yml
Due: none

Add Heart of Fear/Terrace of Endless Spring token expansions
  src/Wowthing.Backend/Data/ItemExpansions.cs
Due: backend-build, backend-deploy

Add Benthic token sets to BfA transmog
  data/transmog/z7/misc.yml
Due: none

Add dungeon sets to BfA transmog
  data/transmog/z7/dungeons.yml
Due: none

Fix class masks for weapons with no primary stat
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Split covenant progress out into 4 separate entries
  data/progress/z8/covenants.yml
Due: none

Fix journal collected/missing filters not working on items with multiple appearances
  frontend/components/journal/JournalItem.svelte
  frontend/utils/journal/get-filtered-items.ts
Due: none

Add PlayerAccountGoldSnapshot model
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/GoldSnapshotService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20211212191153_Add_PlayerAccountGoldSnapshot.Designer.cs
  src/Wowthing.Lib/Migrations/20211212191153_Add_PlayerAccountGoldSnapshot.cs
  src/Wowthing.Lib/Models/Player/PlayerAccountGoldSnapshot.cs
  src/Wowthing.Lib/Models/Query/LatestGoldSnapshotQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add an early version of gold history display
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/history/History.svelte
  frontend/components/history/HistoryGold.svelte
  frontend/components/history/HistorySidebar.svelte
  frontend/data/colors.ts
  frontend/package.json
  frontend/stores/index.ts
  frontend/stores/user-history.ts
  frontend/types/data/index.ts
  frontend/types/data/user-history.ts
  frontend/yarn.lock
  src/Wowthing.Lib/Models/Player/PlayerAccountGoldSnapshot.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Converters/UserHistoryGoldConverter.cs
  src/Wowthing.Web/Models/UserHistoryGold.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Update JS dependencies
  frontend/yarn.lock
Due: none

Move user collection endpoint data to the user endpoint, we always request it anyway
  frontend/apps/home/AppHome.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/components/tooltips/reputation-header/TooltipReputationHeaderEntry.svelte
  frontend/components/zone-maps/ZoneMaps.svelte
  frontend/stores/index.ts
  frontend/stores/user-collections.ts
  frontend/stores/user.ts
  frontend/stores/zone-map.ts
  frontend/types/data/index.ts
  frontend/types/data/user-collection.ts
  frontend/types/user-data.ts
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Converters/UserPetDataPetConverter.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserCollectionData.cs
Due: web-build, web-deploy

Fix lint issues
  frontend/components/history/HistoryGold.svelte
  frontend/components/reputations/ReputationsTable.svelte
Due: none

Always load Journal data
  frontend/apps/home/AppHome.svelte
  frontend/components/journal/Journal.svelte
Due: none

Add percentage to Journal on sidebar
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Rearrange the sidebar a little
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Fix several errors when things are passed undefined UserCount objects
  frontend/components/collections/CollectionCount.svelte
  frontend/components/journal/JournalGroup.svelte
Due: none

Fix user API pets/toys when viewing other users
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Add basic controls to Collections
  frontend/components/collections/Collection.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionThing.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/forms/CheckboxInput.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/scss/collections.scss
  frontend/scss/core.scss
  frontend/scss/forms.scss
  frontend/stores/local-storage/collection.ts
  frontend/stores/local-storage/index.ts
Due: none

Add a standard CollectionSectionTitle component and use it
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSectionTitle.svelte
  frontend/components/journal/JournalInstance.svelte
Due: none

Fix BOMDAS goof in CollectionCount
  frontend/components/collections/CollectionCount.svelte
Due: none

Fix off-hands being ignored for Journal loot
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Categorize off-hands as weapons for journal
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Add trash drops for WoD/Legion/BfA/SL raids to journal
  src/Wowthing.Backend/Data/ExtraItemDrops.cs
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Fix various instances of bad checks for raw data, explicitly check for null
  frontend/stores/journal.ts
  frontend/stores/static.ts
  frontend/stores/user-achievements.ts
  frontend/stores/user-quests.ts
  frontend/stores/user.ts
  frontend/stores/zone-map.ts
Due: none

Fix Rider messing with lines again
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
Due: backend-build, backend-deploy

Change journal item filtering to go by group name, it doesn't need to know anything else
  frontend/components/journal/JournalGroup.svelte
  frontend/stores/journal.ts
  frontend/utils/journal/get-filtered-items.ts
Due: none

Use day as the minimum Gold History unit
  frontend/components/history/HistoryGold.svelte
Due: none

Make gold history dots bigger, works even if TS complains
  frontend/components/history/HistoryGold.svelte
Due: none

Change Sets sidebar icon
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Fix collection border radius
  frontend/scss/collections.scss
Due: none

Use common options CSS for collection/journal options
  frontend/components/collections/CollectionSection.svelte
  frontend/components/journal/JournalInstance.svelte
  frontend/scss/global.scss
  frontend/scss/options.scss
Due: none

Add gold history option to choose stacked area or line
  frontend/components/history/HistoryGold.svelte
  frontend/scss/layout/view.scss
  frontend/stores/local-storage/history.ts
  frontend/stores/local-storage/index.ts
Due: none

Fix character quest initialization
  frontend/stores/user-quests.ts
Due: none

Add legacy loot support to journal
  src/Wowthing.Backend/Jobs/Misc/CacheJournalJob.cs
  src/Wowthing.Lib/Data/CharacterClass.cs
  src/Wowthing.Lib/Enums/WowStat.cs
  src/Wowthing.Lib/Models/Wow/WowItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix getSavedRoute not saving routes properly sometimes due to sidebar rendering weirdness
  frontend/utils/get-saved-route.ts
Due: none

Fix JournalInstance not clearing data after navigating to an empty route
  frontend/components/journal/JournalInstance.svelte
Due: none

Fix some more UserCount undefined accesses
  frontend/components/collections/CollectionSectionTitle.svelte
  frontend/components/journal/JournalItem.svelte
  frontend/components/journal/JournalSidebar.svelte
Due: none

Fix several bad default values
  frontend/components/currencies/CurrenciesTable.svelte
  frontend/components/reputations/ReputationsTable.svelte
  frontend/utils/initialize-character.ts
Due: none

Add icons to app sidebar
  frontend/apps/home/AppHomeSidebar.svelte
Due: none
