Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Frontend: I suck at CSS
  src/frontend/scss/variables.scss
Due: web-build, web-deploy

Frontend: add basic Settings skeleton
  src/frontend/ts/components/Routes.svelte
  src/frontend/ts/components/Settings.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/settings/Settings.svelte
  src/frontend/ts/components/settings/SettingsAccount.svelte
  src/frontend/ts/components/settings/SettingsRoutes.svelte
  src/frontend/ts/components/settings/SettingsSidebar.svelte
Due: web-build, web-deploy

Add PlayerCharacterEquppedItem model and job
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Models/API/ApiTypeName.cs
  src/Wowthing.Backend/Models/API/ApiValueDisplay.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterEquipment.cs
  src/Wowthing.Backend/Services/SchedulerService.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Enums/WowInventorySlot.cs
  src/Wowthing.Lib/Enums/WowQuality.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201214001736_Add_PlayerCharacterEquippedItem.Designer.cs
  src/Wowthing.Lib/Migrations/20201214001736_Add_PlayerCharacterEquippedItem.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterEquippedItem.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: add character equipped items to user API
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Backend: fix CharacterEquipmentJob ignoring Last-Modified
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
Due: backend-build, backend-deploy

Frontend: add Gear
  src/frontend/scss/variables.scss
  src/frontend/scss/wow.scss
  src/frontend/ts/components/Routes.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/CollectionThing.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/GearItem.svelte
Due: web-build, web-deploy

Backend: add WowPeriod table
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystonePeriodIndexJob.cs
  src/Wowthing.Backend/Jobs/Data/DataMythicKeystonePeriodJob.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataMythicKeystonePeriod.cs
  src/Wowthing.Backend/Models/API/Data/ApiDataMythicKeystonePeriodIndex.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/LongExtensions.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20201216050819_Add_WowPeriod.Designer.cs
  src/Wowthing.Lib/Migrations/20201216050819_Add_WowPeriod.cs
  src/Wowthing.Lib/Models/Wow/WowPeriod.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: add missed files
  src/frontend/ts/data/inventory-slot.ts
  src/frontend/ts/types/character.ts
Due: web-build, web-deploy

Frontend: use common classes in some places
  src/frontend/scss/container.scss
  src/frontend/scss/error.scss
  src/frontend/scss/global.scss
  src/frontend/scss/table.scss
  src/frontend/scss/tooltips.scss
  src/frontend/scss/variables.scss
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/collections/CollectionSection.svelte
  src/frontend/ts/components/common/SubSidebar.svelte
  src/frontend/ts/components/common/TableItemLevel.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/GearItem.svelte
  src/frontend/ts/components/images/ClassIcon.svelte
  src/frontend/ts/stores/user-store.ts
  src/frontend/ts/types/character.ts
  src/frontend/ts/utils/get-item-url.ts
  src/frontend/ts/utils/initialize-user.ts
Due: web-build, web-deploy

Frontend: hook up gear item links and enable tooltips
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/GearItem.svelte
Due: web-build, web-deploy

Frontend: reduce header/footer padding
  src/frontend/scss/core.scss
Due: web-build, web-deploy

Web: add useful links to header
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Frontend: add TableCharacterName component for DRY
  src/frontend/ts/components/common/TableCharacterName.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/home/HomeTable.svelte
Due: web-build, web-deploy

Frontend: fix level/ilevel centering in character cards
  src/frontend/ts/components/home/cards/Character.svelte
Due: web-build, web-deploy

Web: return NotFound for users with Public=false
  src/Wowthing.Web/Controllers/UserController.cs
Due: web-build, web-deploy

Add support for building multiple separate apps
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/User/Index.cshtml
  src/frontend/rollup.config.js
  src/frontend/ts/apps/Home.svelte
  src/frontend/ts/apps/Teams.svelte
  src/frontend/ts/home.ts
  src/frontend/ts/main.ts
  src/frontend/ts/teams.ts
Due: web-build, web-deploy

Lib: remove Team/TeamCharacter and re-add with better keying
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20201224213251_Remove_Teams.Designer.cs
  src/Wowthing.Lib/Migrations/20201224213251_Remove_Teams.cs
  src/Wowthing.Lib/Migrations/20201224222430_Add_Team_TeamCharacter.Designer.cs
  src/Wowthing.Lib/Migrations/20201224222430_Add_Team_TeamCharacter.cs
  src/Wowthing.Lib/Models/Team/Team.cs
  src/Wowthing.Lib/Models/Team/TeamCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Lib: add optional expiry to JsonSetAsync extension method
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add basic Team view
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/TeamControlller.cs
  src/Wowthing.Web/Misc/SlugRouteConstraint.cs
  src/Wowthing.Web/Models/Team/TeamApi.cs
  src/Wowthing.Web/Models/Team/TeamApiCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
  src/Wowthing.Web/Startup.cs
  src/Wowthing.Web/ViewModels/TeamViewModel.cs
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
  src/Wowthing.Web/Views/Team/Details.cshtml
  src/Wowthing.Web/Views/User/Index.cshtml
  src/frontend/scss/core.scss
  src/frontend/ts/apps/Teams.svelte
  src/frontend/ts/components/gear/Gear.svelte
  src/frontend/ts/components/gear/GearItems.svelte
  src/frontend/ts/components/home/HomeTable.svelte
  src/frontend/ts/components/team/Team.svelte
  src/frontend/ts/stores/team-store.ts
  src/frontend/ts/types/index.ts
  src/frontend/ts/types/team-data.ts
  src/frontend/ts/utils/initialize-character.ts
  src/frontend/ts/utils/initialize-team.ts
  src/frontend/ts/utils/initialize-user.ts
Due: backend-build, backend-deploy, web-build, web-deploy

Frontend: directory structure cleanups
  src/frontend/ts/apps/home/App.svelte
  src/frontend/ts/apps/home/Routes.svelte
  src/frontend/ts/apps/home/Sidebar.svelte
  src/frontend/ts/apps/teams/App.svelte
  src/frontend/ts/components/Routes.svelte
  src/frontend/ts/components/Sidebar.svelte
  src/frontend/ts/components/characters/CharacterCard.svelte
  src/frontend/ts/components/characters/CharacterCovenant.svelte
  src/frontend/ts/components/characters/CharactersCards.svelte
  src/frontend/ts/components/characters/CharactersTable.svelte
  src/frontend/ts/components/collections/CollectionSidebar.svelte
  src/frontend/ts/components/common/Sidebar.svelte
  src/frontend/ts/components/common/SubSidebar.svelte
  src/frontend/ts/components/reputations/ReputationSidebar.svelte
  src/frontend/ts/components/settings/SettingsSidebar.svelte
  src/frontend/ts/home.ts
  src/frontend/ts/teams.ts
Due: web-build, web-deploy

Frontend: more work on Teams
  src/frontend/ts/apps/teams/App.svelte
  src/frontend/ts/apps/teams/Routes.svelte
  src/frontend/ts/apps/teams/Sidebar.svelte
  src/frontend/ts/components/common/Sidebar.svelte
  src/frontend/ts/components/team/Gear.svelte
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
