Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Rename Icon component to Image
  frontend/components/achievements/AchievementsAchievement.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/gear/GearTableRowItems.svelte
  frontend/components/images/Icon.svelte
  frontend/components/images/Image.svelte
  frontend/components/images/sources/WowdbImage.svelte
  frontend/components/images/sources/WowthingImage.svelte
  frontend/components/transmog/TransmogTable.svelte
  frontend/scss/character-table.scss
  frontend/scss/core.scss
  frontend/scss/tooltips/mythic-plus.scss
  frontend/scss/wow.scss
Due: none

Rename LoadDumpCsv class to DataUtilities
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/Misc/CacheTransmogJob.cs
  src/Wowthing.Backend/Utilities/DataUtilities.cs
  src/Wowthing.Backend/Utilities/LoadDumpCsv.cs
Due: backend-build, backend-deploy

Add basic implementation of Farms
  data/farms/_order
  data/farms/z8/_shadowlands.yml
  data/farms/z8/korthia.yml
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/farms/Farms.svelte
  frontend/components/farms/FarmsFarms.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/components/farms/FarmsSidebar.svelte
  frontend/components/images/Map.svelte
  frontend/components/tooltips/farm/TooltipFarm.svelte
  frontend/data/farm.ts
  frontend/scss/tooltips.scss
  frontend/scss/tooltips/farm.scss
  frontend/stores/farms.ts
  frontend/stores/index.ts
  frontend/types/data/farm.ts
  frontend/types/data/index.ts
  src/Wowthing.Backend/Jobs/Misc/CacheFarmsJob.cs
  src/Wowthing.Backend/Models/Data/Farms/DataFarmCategory.cs
  src/Wowthing.Backend/Models/Data/Farms/DataFarmDrop.cs
  src/Wowthing.Backend/Models/Data/Farms/DataFarmFarm.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmCategory.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmDrop.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmFarm.cs
  src/Wowthing.Backend/Models/Data/IDataCategory.cs
  src/Wowthing.Backend/Models/Redis/RedisFarmCache.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/UserController.cs
  src/Wowthing.Web/ViewModels/UserViewModel.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: backend-build, backend-deploy, web-build, web-deploy

Fix Covenant having weirdly cased properties
  frontend/components/common/CharacterCovenant.svelte
  frontend/components/home/table/RowCovenant.svelte
  frontend/data/covenant.ts
  frontend/types/covenant.ts
  frontend/utils/get-progress.ts
Due: none

Add addon quest storage/upload handling/etc
  frontend/components/progress/Progress.svelte
  frontend/stores/index.ts
  frontend/stores/user-quests.ts
  frontend/types/data/user-quest.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Extensions/CollectionExtensions.cs
  src/Wowthing.Lib/Migrations/20210912162838_Add_PlayerCharacterAddonQuests.Designer.cs
  src/Wowthing.Lib/Migrations/20210912162838_Add_PlayerCharacterAddonQuests.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonQuests.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserQuestData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add ArmorType and WeaponType enums
  frontend/data/character-class.ts
  frontend/types/character-class.ts
  frontend/types/enums/armor-type.ts
  frontend/types/enums/index.ts
  frontend/types/enums/weapon-type.ts
Due: none

Add CSS classes for WoW class colours
  frontend/scss/variables.scss
  frontend/scss/wow.scss
Due: none

Increase the maximum size of Tippy tooltips
  frontend/utils/tippy.ts
Due: none

Move Korthia rare spawn mounts with a covenant requirement to the end of the group
  data/mounts/z8/rare_spawns.yml
Due: none

Many Farms updates
  data/farms/z8/korthia.yml
  frontend/components/farms/Farms.svelte
  frontend/components/farms/FarmsFarm.svelte
  frontend/components/farms/FarmsFarms.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/components/tooltips/farm/TooltipFarm.svelte
  frontend/data/farm.ts
  frontend/types/data/farm.ts
  frontend/utils/get-farm-status.ts
  src/Wowthing.Backend/Models/Data/Farms/DataFarmCategory.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmCategory.cs
  src/Wowthing.Backend/Models/Data/Farms/OutFarmFarm.cs
Due: backend-build, backend-deploy

Move route save/restore to a shared function
  frontend/components/collections/Collection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/farms/Farms.svelte
  frontend/components/farms/FarmsFarm.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/components/farms/FarmsSidebar.svelte
  frontend/components/sidebar/Sidebar.svelte
  frontend/utils/get-saved-route.ts
Due: none

Use getSavedRoute in all useful components
  frontend/apps/home/AppHomeSidebar.svelte
  frontend/components/currencies/Currencies.svelte
  frontend/components/mythic-plus/MythicPlus.svelte
  frontend/components/progress/Progress.svelte
  frontend/components/reputations/Reputations.svelte
  frontend/components/transmog/Transmog.svelte
  frontend/utils/get-saved-route.ts
Due: none

Switch Currencies to fancy Sidebar
  frontend/components/currencies/CurrenciesSidebar.svelte
Due: none

Update Korthia farm locations
  data/farms/z8/korthia.yml
Due: none

Styling/positioning updates for farm skulls
  frontend/components/farms/FarmsFarm.svelte
Due: none

Add Luxon
  frontend/package.json
  frontend/yarn.lock
Due: none

Mark farms as unfarmed when character quests are no longer current
  frontend/components/farms/FarmsMap.svelte
  frontend/data/region.ts
  frontend/stores/index.ts
  frontend/stores/time.ts
  frontend/stores/user-quests.ts
  frontend/types/data/user-quest.ts
  frontend/types/enums/index.ts
  frontend/types/enums/region.ts
  frontend/types/index.ts
  frontend/types/reset-time.ts
  frontend/utils/get-farm-status.ts
  frontend/utils/get-next-daily-reset.ts
  frontend/utils/parse-api-time.ts
Due: none

Change Newtonsoft.Json to use round trip timezone handling
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Fix auto reload
  frontend/stores/settings.ts
Due: none

Make getFarmStatus reactive
  frontend/components/farms/FarmsMap.svelte
  frontend/utils/get-farm-status.ts
Due: none
