Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Use timeStore to auto-expire M+ keystones, Torghast runs, and Ugh Quests
  frontend/components/character-table/row/Keystone.svelte
  frontend/components/currencies/CurrenciesSidebar.svelte
  frontend/components/currencies/CurrenciesTableBody.svelte
  frontend/components/home/Table.svelte
  frontend/components/home/table/RowUghQuest.svelte
  frontend/components/home/table/RowUghQuests.svelte
  frontend/components/home/table/row/Torghast.svelte
  frontend/components/tooltips/reputation/TooltipReputation.svelte
  frontend/stores/user-achievements.ts
  frontend/stores/user-quests.ts
  frontend/stores/user-transmog.ts
  frontend/stores/user.ts
  frontend/types/character.ts
  frontend/types/data/user-quest.ts
  frontend/types/static-data.ts
  frontend/utils/get-current-period-for-character.ts
  frontend/utils/get-farm-status.ts
  frontend/utils/get-next-daily-reset.ts
  frontend/utils/get-next-reset.ts
  frontend/utils/initialize-character.ts
  frontend/utils/initialize-sets.ts
Due: none

Add missing Shadowlands transmog wowheadSetIds
  data/transmog/z8/covenants.yml
  data/transmog/z8/raids.yml
Due: none

Add PlayerCharacterWeekly ScannedAt columns
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Migrations/20210914171916_Add_PlayerCharacterAddonWeekly_ScannedAts.Designer.cs
  src/Wowthing.Lib/Migrations/20210914171916_Add_PlayerCharacterAddonWeekly_ScannedAts.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterWeekly.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add toNiceTime function
  frontend/utils/to-nice.ts
Due: none

Add PlayerCharacterAddonMounts and PlayerCharacterMounts tables
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210914234511_Add_PlayerCharacterAddonMounts_PlayerCharacterMounts.Designer.cs
  src/Wowthing.Lib/Migrations/20210914234511_Add_PlayerCharacterAddonMounts_PlayerCharacterMounts.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacter.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterAddonMounts.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterMounts.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Move mounts/pets/toys to combined API endpoint
  frontend/apps/home/AppHome.svelte
  frontend/components/collections/Collection.svelte
  frontend/components/collections/CollectionSection.svelte
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/CollectionThingPet.svelte
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Pets.svelte
  frontend/components/collections/Toys.svelte
  frontend/components/farms/Farms.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/stores/index.ts
  frontend/stores/user-collections.ts
  frontend/stores/user-pets.ts
  frontend/stores/user.ts
  frontend/types/data/index.ts
  frontend/types/data/user-collection.ts
  frontend/types/data/user-pet.ts
  frontend/types/user-data.ts
  frontend/utils/get-farm-status.ts
  frontend/utils/initialize-sets.ts
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Models/Player/PlayerAccount.cs
  src/Wowthing.Lib/Models/Query/MountQuery.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
  src/Wowthing.Web/Models/UserCollectionData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Remove weird empty query tables
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20210915004106_Remove_Query_Tables.Designer.cs
  src/Wowthing.Lib/Migrations/20210915004106_Remove_Query_Tables.cs
  src/Wowthing.Lib/Models/Query/SchedulerCharacterQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Rework mount query to return arrays
  frontend/types/data/user-collection.ts
  frontend/utils/get-farm-status.ts
  src/Wowthing.Lib/Models/Query/MountQuery.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserCollectionData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix tippyComponent action not updating props reactively
  frontend/utils/tippy.ts
Due: none

Add checkboxes to Farms for tracking mounts/pets/toys/transmog
  frontend/components/farms/FarmsMap.svelte
  frontend/utils/get-farm-status.ts
Due: none

Fix off-by-1-pixel annoyance in FarmsFarm
  frontend/components/farms/FarmsFarm.svelte
Due: none

Fix SidebarEntry not showing active links with query parameters
  frontend/components/sidebar/SidebarEntry.svelte
Due: none

Styling on FarmsMap buttons
  frontend/components/farms/FarmsMap.svelte
Due: none

Fix Mounts/Toys not loading data correctly
  frontend/components/collections/Mounts.svelte
  frontend/components/collections/Toys.svelte
Due: none

Use media query to scale FarmsMap maps
  frontend/components/common/ProgressBar.svelte
  frontend/components/farms/FarmsFarm.svelte
  frontend/components/farms/FarmsMap.svelte
  frontend/components/images/Image.svelte
  frontend/components/images/Map.svelte
  frontend/package.json
  frontend/scss/core.scss
  frontend/scss/mixins.scss
  frontend/stores/media-queries/farm-map.ts
  frontend/yarn.lock
Due: none

Rearrange app sidebar
  frontend/apps/home/AppHomeRoutes.svelte
  frontend/apps/home/AppHomeSidebar.svelte
Due: none

Add the last few Korthia farm rares
  data/farms/z8/korthia.yml
Due: none

Fix getFarmStatus incorrectly showing farms as not needed
  frontend/utils/get-farm-status.ts
Due: none

Lint fixes
  frontend/components/collections/CollectionSidebar.svelte
  frontend/components/collections/Pets.svelte
  frontend/stores/media-queries/farm-map.ts
  frontend/stores/user-collections.ts
  frontend/stores/user.ts
  frontend/utils/get-farm-status.ts
  frontend/utils/tippy.ts
Due: none

Add missing defensive null handling
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy
