Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

.gitlab-ci.yml:

include:
  - '/_magic/build.yml'
  - '/_magic/deploy.yml'

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# Wowthing.Backend
.backend-only:
  environment: production/backend
  only:
    changes:
      - src/data/**/*
      - src/Wowthing.Backend/**/*
      - src/Wowthing.Lib/**/*

backend-build:
  extends:
    - .build
    - .backend-only
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  extends:
    - .deploy
    - .backend-only
  needs: ["backend-build"]
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

# Wowthing.Web
.web-only:
  environment: production/web
  only:
    changes:
      - src/frontend/**/*
      - src/Wowthing.Lib/**/*
      - src/Wowthing.Web/**/*

web-build:
  extends:
    - .build
    - .web-only
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  extends:
    - .deploy
    - .web-only
  needs: ["web-build"]
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Update _cataclysm.yml
  data/mounts/z3/_cataclysm.yml
Due: none

Update instances.yml
  data/mounts/z3/instances.yml
Due: none

Update reputations.yml
  data/mounts/z3/reputations.yml
Due: none

Move user cache reset to after database save to avoid race condition
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Add GlobalDailies model
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Migrations/20220612001907_Add_GlobalDailies.Designer.cs
  src/Wowthing.Lib/Migrations/20220612001907_Add_GlobalDailies.cs
  src/Wowthing.Lib/Models/Global/GlobalDailies.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Trusted user role
  src/Wowthing.Web/Startup.cs
Due: web-build, web-deploy

Add global dailies handling for users with Trusted role
  src/Wowthing.Backend/Data/Quests.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Lib/Migrations/20220612045747_Fix_GlobalDailies_Column.Designer.cs
  src/Wowthing.Lib/Migrations/20220612045747_Fix_GlobalDailies_Column.cs
  src/Wowthing.Lib/Models/Global/GlobalDailies.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Achievements toggle to Zone Maps
  frontend/components/zone-maps/ZoneMapsMap.svelte
  frontend/stores/local-storage/zone-map.ts
  frontend/stores/zone-map.ts
Due: none

More Timeless Isle for Zone Maps
  data/zone-maps/z4/timeless_isle.yml
Due: none

Add Callings tooltip
  frontend/components/home/table/row/HomeTableRowCallings.svelte
  frontend/components/tooltips/callings/TooltipCallings.svelte
  frontend/data/quests.ts
  frontend/types/data/index.ts
  frontend/types/data/quests.ts
  frontend/types/user-data.ts
  src/Wowthing.Backend/Data/Quests.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/UserApi.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix getNextReset to match in-game reset time
  frontend/utils/get-next-reset.ts
Due: none

Only update GlobalDailies if addon data has a quest ID
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Remove unused import
  frontend/components/gear/GearTableRowItems.svelte
Due: none

Fix unused imports
  frontend/components/home/table/row/HomeTableRowCallings.svelte
  frontend/stores/user-quests.ts
Due: none

Add Honeyback Hive reputations
  data/reputations/z7_battle_for_azeroth.yml
  frontend/data/reputation.ts
  frontend/stores/static.ts
Due: none

Don't build teams JS
  frontend/rollup.config.js
Due: none

Add ZM weapon drop upgrade to progress
  data/progress/z8/upgrades.yml
Due: none

Add Cyphers of the First Ones to Upgrades/Shadowlands progress
  data/progress/z8/upgrades.yml
  frontend/components/progress/ProgressTable.svelte
  frontend/components/progress/ProgressTableBody.svelte
  frontend/components/tooltips/progress/TooltipProgress.svelte
  frontend/types/enums/progress.ts
  frontend/utils/get-progress.ts
  src/Wowthing.Lib/Enums/Progress.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add some quick debug logging to UriService
  src/Wowthing.Web/Services/UriService.cs
Due: web-build, web-deploy

Add remaining time to calling tooltips
  frontend/components/home/table/row/HomeTableRowCallings.svelte
  frontend/components/tooltips/callings/TooltipCallings.svelte
Due: none

Make tooltip striped table background darker
  frontend/scss/tooltips.scss
  frontend/scss/variables.scss
Due: none

Add all MoP zones and initial data to Zone Maps
  data/zone-maps/_order
  data/zone-maps/z4/_mists_of_pandaria.yml
  data/zone-maps/z4/dread_wastes.yml
  data/zone-maps/z4/isle_of_giants.yml
  data/zone-maps/z4/isle_of_thunder.yml
  data/zone-maps/z4/jade_forest.yml
  data/zone-maps/z4/krasarang_wilds.yml
  data/zone-maps/z4/kun_lai_summit.yml
  data/zone-maps/z4/timeless_isle.yml
  data/zone-maps/z4/townlong_steppes.yml
  data/zone-maps/z4/vale_of_eternal_blossoms.yml
  data/zone-maps/z4/valley_of_the_four_winds.yml
  data/zone-maps/z4/veiled_stair.yml
Due: none

Add empty WoD zones to Zone Maps
  data/zone-maps/_order
  data/zone-maps/z5/_warlords_of_draenor.yml
  data/zone-maps/z5/frostfire_ridge.yml
  data/zone-maps/z5/gorgrond.yml
  data/zone-maps/z5/nagrand.yml
  data/zone-maps/z5/shadowmoon_valley.yml
  data/zone-maps/z5/spires_of_arak.yml
  data/zone-maps/z5/talador.yml
  data/zone-maps/z5/tanaan_jungle.yml
Due: none

Tool updates
  bin/hn.py
  bin/sd.py
Due: none

More MoP Zone Maps
  data/zone-maps/z4/isle_of_thunder.yml
  data/zone-maps/z4/jade_forest.yml
  data/zone-maps/z4/krasarang_wilds.yml
  data/zone-maps/z4/townlong_steppes.yml
  data/zone-maps/z4/valley_of_the_four_winds.yml
Due: none

Fix M+ addon data not being included in user API sometimes
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Add Giant Dinosaur Bone vendor to Isle of Giants zone map
  data/zone-maps/z4/isle_of_giants.yml
  frontend/data/farm.ts
  frontend/types/enums/farms.ts
  src/Wowthing.Lib/Enums/ZoneMaps.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix sd tool output
  bin/sd.py
Due: none

Remove dungeon icon from Keystone column
  frontend/components/character-table/head/Keystone.svelte
  frontend/components/character-table/row/Keystone.svelte
  frontend/scss/variables.scss
Due: none

Add character statistics storage/etc
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterStatisticsJob.cs
  src/Wowthing.Backend/Models/API/Character/ApiCharacterStatistics.cs
  src/Wowthing.Lib/Contexts/WowDbContext.cs
  src/Wowthing.Lib/Converters/StatisticsQueryConverter.cs
  src/Wowthing.Lib/Jobs/JobType.cs
  src/Wowthing.Lib/Migrations/20220616003059_Add_PlayerCharacterStatistics.Designer.cs
  src/Wowthing.Lib/Migrations/20220616003059_Add_PlayerCharacterStatistics.cs
  src/Wowthing.Lib/Migrations/20220616012411_Add_StatisticsQuery.Designer.cs
  src/Wowthing.Lib/Migrations/20220616012411_Add_StatisticsQuery.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterStatistics.cs
  src/Wowthing.Lib/Models/Query/StatisticsQuery.cs
  src/Wowthing.Web/Controllers/API/UserAchievementController.cs
  src/Wowthing.Web/Models/UserAchievementData.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add statistics to achievement API and zone map data
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/types/data/zone-map.ts
  frontend/types/user-achievement-data.ts
  src/Wowthing.Backend/Converters/OutZoneMapFarmConverter.cs
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/DataZoneMapFarm.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapFarm.cs
Due: backend-build, backend-deploy

Partial WoD zone maps
  data/zone-maps/z5/frostfire_ridge.yml
  data/zone-maps/z5/gorgrond.yml
  data/zone-maps/z5/nagrand.yml
  data/zone-maps/z5/shadowmoon_valley.yml
  data/zone-maps/z5/spires_of_arak.yml
  data/zone-maps/z5/talador.yml
  data/zone-maps/z5/tanaan_jungle.yml
Due: none

Add Sandworn Relic to Vendors currency options
  frontend/data/vendors.ts
Due: none

Add statistic IDs to MoP world bosses
  data/zone-maps/z4/isle_of_giants.yml
  data/zone-maps/z4/isle_of_thunder.yml
  data/zone-maps/z4/kun_lai_summit.yml
  data/zone-maps/z4/valley_of_the_four_winds.yml
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Fix wrong item ID for Milgra drop
  data/zone-maps/z5/shadowmoon_valley.yml
Due: none

Fix StatisticsQuery not actually filtering on user ID
  src/Wowthing.Lib/Models/Query/StatisticsQuery.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Lots of zone maps updates
  data/zone-maps/z4/dread_wastes.yml
  data/zone-maps/z4/isle_of_thunder.yml
  data/zone-maps/z4/jade_forest.yml
  data/zone-maps/z4/krasarang_wilds.yml
  data/zone-maps/z4/kun_lai_summit.yml
  data/zone-maps/z4/timeless_isle.yml
  data/zone-maps/z4/townlong_steppes.yml
  data/zone-maps/z4/valley_of_the_four_winds.yml
  data/zone-maps/z5/frostfire_ridge.yml
  data/zone-maps/z5/gorgrond.yml
  data/zone-maps/z5/nagrand.yml
  data/zone-maps/z5/shadowmoon_valley.yml
  data/zone-maps/z5/spires_of_arak.yml
  data/zone-maps/z5/talador.yml
  data/zone-maps/z5/tanaan_jungle.yml
  frontend/components/appearances/AppearancesTableCategory.svelte
  frontend/components/common/ParsedText.svelte
  frontend/components/forms/RadioGroup.svelte
  frontend/components/sub-sidebar/SubSidebarEntry.svelte
  frontend/components/tooltips/callings/TooltipCallings.svelte
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/components/zone-maps/ZoneMapsThing.svelte
  frontend/data/farm.ts
  frontend/data/icons.ts
  frontend/package.json
  frontend/types/enums/farms.ts
  frontend/yarn.lock
  src/Wowthing.Lib/Enums/ZoneMaps.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Set FarmIdType correctly for quests
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapFarm.cs
Due: backend-build, backend-deploy

Add other tracking quest to Azeroth Mini Pack: Mechagon
  data/zone-maps/z7/mechagon.yml
Due: none

Lower Mechagon required level in Zone Maps
  data/zone-maps/z7/mechagon.yml
Due: none
