Repository ThingEngineering/wowthing-again: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-deploy, web-build, web-deploy

backend-build:
  environment: production/backend
  variables:
    DOCKER_FILE: src/Wowthing.Backend/Dockerfile
    IMAGE_NAME: backend

backend-deploy:
  environment: production/backend
  needs:
  - backend-build
  variables:
    DEPLOYMENT_FILE: _magic/deployment-backend.yml

web-build:
  environment: production/web
  variables:
    DOCKER_FILE: src/Wowthing.Web/Dockerfile
    IMAGE_NAME: web

web-deploy:
  environment: production/web
  needs:
  - web-build
  variables:
    DEPLOYMENT_FILE: _magic/web-deployment.yml

Immediately trigger character updates if addon data is newer than last API check
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Set scheduler to much more conservative values and rely on addon uploads to trigger mostly
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Lower low worker count slightly
  src/Wowthing.Backend/appsettings.json
Due: backend-build, backend-deploy

Go even more conservative with scheduler query
  src/Wowthing.Backend/Services/SchedulerService.cs
Due: backend-build, backend-deploy

Add region to Characters links/sidebar
  frontend/components/character-table/CharacterTableRow.svelte
  frontend/components/characters/CharactersSidebar.svelte
  frontend/components/characters/CharactersView.svelte
Due: none

Add sane HTTP error logging to CharacterPets job
  src/Wowthing.Backend/Jobs/Character/CharacterPetsJob.cs
Due: backend-build, backend-deploy

Rework CharacterSpecializations job to hopefully fix the damn NREs
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
  src/Wowthing.Lib/Models/Player/PlayerCharacterSpecializations.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix derps
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
Due: backend-build, backend-deploy

JS string split sucks
  frontend/components/characters/CharactersSidebar.svelte
  frontend/components/characters/CharactersView.svelte
  frontend/utils/split-once.ts
Due: none

Update unavailable.yml
  data/mounts/unavailable/unavailable.yml
Due: none

Update _shadowlands.yml
  data/mounts/z8/_shadowlands.yml
Due: none

Update vendors.yml
  data/mounts/pvp/vendors.yml
Due: none

Change pet icon from spider to duck
  frontend/data/farm.ts
Due: none

Use white as default RaiderIO score if nothing else matched
  frontend/utils/get-raider-io-color.ts
Due: none

Add missing border to rested XP column
  frontend/components/home/table/row/HomeTableRowRestedExperience.svelte
Due: none

Remove copypasta MoP Instances mounts (#336)
  data/mounts/z4/instances.yml
Due: none

Strip some common annoying characters from DesiredAccountName when saving
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Change "Account Name" setting to "User Name"
  frontend/components/settings/sections/SettingsAccount.svelte
  frontend/scss/settings.scss
  src/Wowthing.Web/Views/Shared/_Layout.cshtml
Due: web-build, web-deploy

Update sql script to handle name changes better
  bin/sql.py
Due: none

Add some text explaining how to maybe fix no characters
  frontend/components/character-table/CharacterTable.svelte
Due: none

Fix not actually storing achievement completed time
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
Due: backend-build, backend-deploy

Partial ApiController refactor
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/JobBase.cs
  src/Wowthing.Backend/Jobs/JobFactory.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Program.cs
  src/Wowthing.Backend/Services/WorkerService.cs
  src/Wowthing.Lib/Constants/RedisKeys.cs
  src/Wowthing.Lib/Extensions/IDatabaseExtensions.cs
  src/Wowthing.Lib/Models/ApiUserResult.cs
  src/Wowthing.Lib/Services/CacheService.cs
  src/Wowthing.Web/Controllers/API/UserQuestController.cs
  src/Wowthing.Web/Controllers/API/UserTransmogController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Services/UserService.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Try some other caching things on quests
  frontend/utils/fetch-json.ts
  src/Wowthing.Web/Controllers/API/UserQuestController.cs
  src/Wowthing.Web/Extensions/HttpResponseExtensions.cs
Due: web-build, web-deploy

Add borders to number/text input components
  frontend/components/forms/NumberInput.svelte
  frontend/components/forms/TextInput.svelte
  frontend/components/settings/sections/SettingsHideCharacters.svelte
Due: none

Add bag handling and display on Gear
  frontend/components/gear/Gear.svelte
  frontend/components/gear/GearTableRowItems.svelte
  frontend/data/inventory-slot.ts
  frontend/types/character.ts
  frontend/types/data/static/store.ts
  src/Wowthing.Backend/Jobs/Misc/CacheStaticJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Backend/Models/Redis/RedisStaticCache.cs
  src/Wowthing.Backend/Models/Uploads/UploadCharacter.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Models/Team/TeamApiCharacter.cs
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Mechagon>Azeroth Mini Pack weekly quests to Zone Maps
  data/zone-maps/z7/mechagon.yml
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
  frontend/components/zone-maps/ZoneMaps.svelte
  frontend/data/farm.ts
  frontend/stores/zone-map.ts
  frontend/types/enums/farms.ts
  src/Wowthing.Backend/Models/Data/ZoneMaps/DataZoneMapDrop.cs
  src/Wowthing.Backend/Models/Data/ZoneMaps/OutZoneMapDrop.cs
  src/Wowthing.Lib/Enums/ZoneMaps.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Don't save achievement criteria that have a 0 value
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
Due: backend-build, backend-deploy

Only update PlayerCharacterQuests if the data actually changed
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
Due: backend-build, backend-deploy

Move user achievements to separate controller and add last modified
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Lib/Constants/RedisKeys.cs
  src/Wowthing.Lib/Services/CacheService.cs
  src/Wowthing.Web/Controllers/API/UserAchievementControl.ler.cs
  src/Wowthing.Web/Controllers/API/UserQuestController.cs
  src/Wowthing.Web/Controllers/API/UserTransmogController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Controllers/AuthenticationController.cs
  src/Wowthing.Web/Extensions/HttpResponseExtensions.cs
  src/Wowthing.Web/GlobalUsings.cs
  src/Wowthing.Web/Startup.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix "none reset" on zone map tooltips
  frontend/components/tooltips/zone-maps/TooltipZoneMapsThing.svelte
Due: none

Make ZoneMapStore setup dependent on UserAchievementStore
  frontend/components/zone-maps/ZoneMaps.svelte
Due: none

Start adding Timeless Isle achievement criteria to Zone Maps
  data/zone-maps/z4/timeless_isle.yml
  data/zone-maps/z6/valsharah.yml
Due: none

More ApiController refactoring
  src/Wowthing.Web/Controllers/API/CachedJsonController.cs
  src/Wowthing.Web/Controllers/API/UploadController.cs
  src/Wowthing.Web/Controllers/API/UserTransmogController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
  src/Wowthing.Web/Views/User/Index.cshtml
Due: web-build, web-deploy

Add more cache magic
  src/Wowthing.Backend/Jobs/Character/CharacterEquipmentJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMediaJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMythicKeystoneProfileSeasonJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterPetsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterProfessionsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSoulbindsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterSpecializationsJob.cs
  src/Wowthing.Backend/Jobs/User/UserCharactersJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
  src/Wowthing.Lib/Constants/RedisKeys.cs
  src/Wowthing.Web/Controllers/API/UserAchievementController.cs
  src/Wowthing.Web/Controllers/API/UserTransmogController.cs
  src/Wowthing.Web/Controllers/ApiController.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix ArgumentNullExceptions
  src/Wowthing.Backend/Jobs/Character/CharacterAchievementsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterMountsJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterQuestsCompletedJob.cs
  src/Wowthing.Backend/Jobs/Character/CharacterReputationsJob.cs
  src/Wowthing.Backend/Jobs/User/UserUploadJob.cs
Due: backend-build, backend-deploy

Set Last-Modified to current time if no value is set
  src/Wowthing.Lib/Services/CacheService.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Add Refresh interval setting
  frontend/components/settings/sections/SettingsAccount.svelte
Due: none

Fix refresh interval clamping
  src/Wowthing.Lib/Models/ApplicationUserSettings.cs
Due: backend-build, backend-deploy, web-build, web-deploy

Fix duplicate bag error
  src/Wowthing.Web/Models/UserApiCharacter.cs
Due: web-build, web-deploy

Remove debug spam
  src/Wowthing.Web/Controllers/ApiController.cs
Due: web-build, web-deploy

Path conditions:
  backend-build: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  backend-deploy: any of: src/data/**/*, src/Wowthing.Backend/**/*, src/Wowthing.Lib/**/*
  web-build: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
  web-deploy: any of: src/frontend/**/*, src/Wowthing.Lib/**/*, src/Wowthing.Web/**/*
